{% extends "layout/correo.twig" %}

{% block content %}
	<td bgcolor="#FFFFFC" style="padding: 40px 30px 40px 30px;">
  		<table border="0" cellpadding="0" cellspacing="0" width="100%">
    		<tr>
    			<td style="color: #102542; font-family: Arial, sans-serif; font-size: 24px;">
					<b>Estimado {{nombre_usuario}}</b>
				</td>
    		</tr>
    		<tr>
      			<td style="padding: 20px 0 30px 0; color: #102542; font-family: Arial, sans-serif; font-size: 15px; line-height: 20px;">
      				<table border="0" cellpadding="0" cellspacing="0" width="100%">
		               	<tr>
		                	<td style="padding: 20px 0 30px 0; color: #102542; font-family: Arial, sans-serif; font-size: 15px; line-height: 20px;">
		                		A continuación te presentamos a detalle los precios vigentes de los articulos solicitados en la cotización N° {{ "%06d"|format(pdetalle[0].Ped_IdPedido) }}
		                  	</td>
		                </tr>
		                <tr>
		                	<td>
		                    	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		                      		<thead>
				                        <tr>
				                      		<td style="background-color:  white;" width="100" valign="top">
		                          			</td>
											<td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="350" valign="top">
											  Producto
											</td>
											<td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="50" valign="top">
											Cant.
											</td>
											<td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="150" valign="top">
											Unid. Med.
											</td>
											<td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="150" valign="top">
											Precio Unit.
											</td>
											<td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;"width="100" valign="top">
											  Importe
											</td>
				                        </tr>
				                    </thead>
		                      		<tbody>
		                      			{% set count = 0 %}
		                      			{% set total = 0 %}
				                      	{% for rsDatos in pdetalle %}
				                      		<tr>
					                          	<td style="border-bottom: 1px solid #CBCBCB; padding: 8px 0px;" valign="top">
					                            	<div style="margin:0 auto; margin:15px; width:100px; height: 100px;  border-radius: 3px;"><img style="width: 100%; height: 100px; object-fit: contain;" src="{{ruta_img}}{{rsDatos.SKU_Img}}"></div>
				                          		</td>
				  	                        	<td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">
				  	                        		{{rsDatos.Pro_Nombre}}
				  	                        	</td>
				  	                          	<td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">
				  	                          		{{rsDatos.Ped_Cantidad}}
				  	                            </td>
				  	                          	<td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">
				  	                          		{{rsDatos.Unm_Nombre}}
				  	                          	</td>
				  	                          	<td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">
				  	                          		S/ {{precios[count]}}
				  	                          	</td>
				  	                          	{% set  importe = rsDatos.Ped_Cantidad*precios[count] %}
				  	                          	<td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.8);" valign="top">
				  	                            	<span style="font-weight:600">S/ {{importe|number_format(2, '.', ' ')}}</span>
				  	                          	</td>
				  	                        </tr>
							              	{% set count = count + 1 %}
							              	{% set total = importe + total %}
				                      	{% endfor %}
				                    </tbody>
				                    <tfoot>
				                        <tr>
				                        	<td style="font-weight: 600; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.8);" colspan="4" valign="top">
				                            	Total a pagar
				                          	</td>
				                          	<td style="border-bottom: 1px solid #CBCBCB; background-color: #442220; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:white;" colspan="2" valign="top">
				                            	<span style="font-weight:600">S/ {{total|number_format(2, '.', ' ')}}</span>
				                          	</td>
				                        </tr>
				                    </tfoot>
		                		</table>
              				</td>
           				</tr>
          			</table>
        		</td>
    		</tr>
    	</table>
	</td>
{% endblock %}

{% block content2 %}
	<tr>
		<td bgcolor="#FFFFFC" style="font-size: 12px; color:#102542 ;padding: 0px 30px 30px 30px;font-family: Arial, sans-serif;">
			Estos precios son validos por quince (15) dias de emitida la presente cotización.
		</td>
	</tr>
	<tr>
		<td bgcolor="#FFFFFC" style="font-size: 14px; color:#102542 ;padding: 0px 30px 30px 30px;font-family: Arial, sans-serif;">			
			<span style="font-size: 14px;">Atentamente&nbsp;&nbsp;</span><a href="{{datosTienda.Tie_Subdominio}}.{{subdominio}}" style=" color: #FEC00F;">{{datosTienda.Tie_Nombre}}</a>
        </td>
      </tr>
{% endblock %}