{% extends "layout/correo.twig" %}

{% block content %}
	<td bgcolor="#FFFFFC" style="padding: 40px 30px 40px 30px;">
  		<table border="0" cellpadding="0" cellspacing="0" width="100%">
    		<tr>
    			<td style="color: #102542; font-family: Arial, sans-serif; font-size: 24px;">
					<b>Hola, {{nombre_usuario}}</b>
				</td>
    		</tr>
    		<tr>
      			<td style="padding: 20px 0 30px 0; color: #102542; font-family: Arial, sans-serif; font-size: 15px; line-height: 20px;">
      				<table border="0" cellpadding="0" cellspacing="0" width="100%">
		               	<tr>
		                	<td style="padding: 20px 0 30px 0; color: #102542; font-family: Arial, sans-serif; font-size: 15px; line-height: 20px;">
		                    	Acabas de solicitar una cotizacion al portal pormayor de los siguientes articulos 
		                  	</td>
		                </tr>
		                <tr>
		                	<td>
		                    	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		                      		<thead>
		                        		<tr>
		                          			<td style="background-color:  white;" width="100" valign="top"></td>
		                          			<td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="350" valign="top">Producto</td>
		                          			<td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="50" valign="top">Cant.</td>
					                        <td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="150" valign="top">
					                            Unid. Med.
					                        </td>
		                        		</tr>
		                      		</thead>
		                      		<tbody>
				                      	{% for items in dataCarrito %}
				                      		<tr>
							                  	<td style="border-bottom: 1px solid #CBCBCB; padding: 0px;" valign="top">
							                      <div style="margin:0 auto; margin:5px; width:100px; height: 100px;  border-radius: 10px;"><img style="width: 100%; height: 100px; object-fit: contain;" src="{{ruta_img}}{{items.img}}"></div>
							              		</td>
							                    	<td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">'
							                        	{{items.name}}
							                        </td>
							                      	<td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">
							                      		{{items.qty}}
							                      	</td>
							              			<td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">
							              				{{items.unidad}}
							              			</td>
							              	</tr>
				                      	{% endfor %}
				                    </tbody>
		                		</table>
              				</td>
           				</tr>
          			</table>
        		</td>
    		</tr>
    	</table>
	</td>
{% endblock %}