{% set latitud = -12.0431800 %}
{% set longitud = -77.0282400 %}
<script type="text/javascript">
  var latitud = "{{latitud}}";
  var longitud = "{{longitud}}";
</script>
<form class="validar" id="form_addLocal" method="post">
  <div class="card-content">
    <div class="title" style="background-color:{{configuracion.Con_ColorHexa}}">
      <h5 class="center-align z-depth-2">Agregar Tienda/Stand/Taller (Puntos de venta)</h5>
    </div>
    <div class="row contentAddLocal">
      <div class="col s6 m6 l6">
        <div class="input-field">
          <input name="nombreTienda" type="text" id="nombreTienda" class="validate" value="{{tienda.Tie_Nombre}}" disabled="">
          <label for="nombreTienda" class="active">Nombre de la tienda</label>
        </div>
      </div>
      <div class="col s6 m6 l6">
        <div class="input-field">
          <input name="ruc" type="text" id="nRuc" class="validate" value="{{tienda.Tie_ruc_dni}}" disabled="">
          <label for="nRuc" class="active">Número de RUC</label>
        </div>
      </div>
      <div class="col s8 m8 l8">
        <div class="input-field">
          <input name="nombreLocal" type="text" id="nombreLocal" class="validate" required>
          <label for="nombreLocal">Nombre del Local</label>
        </div>
      </div>
      <div class="col s4 m4 l4">
        <div class="input-field">
          <input name="telfLocal" type="number" id="tlfLocal"  min="1" class="validate" required>
          <label for="tlfLocal">Teléfono</label>
        </div>
      </div>
      <div class="col s12 l12">
        <div class="col s6">
          <div id="map" style="height:220px"></div>
          <span style="font-style: italic">* Arraste el icono en el mapa para seleccionar la ubicación del local</span><br>
          <span style="font-style: italic">** Indique la dirección exacta</span>
        </div>
        <div class="col s6">
          <div class="col s12 input-field">
            <label for="direccionLocal" class="active">Dirección del Local **</label>
            <input name="dirLocal" type="text" id="direccionLocal" class="validate dirLocal" required>
          </div>
          <div class="col s12 input-field">
            <label for="latitud" class="active">Latitud</label>
            <input name="latitud" type="text" id="latitud" class=".form-group" value="{{latitud}}" required="">
          </div>
          <div class="col s12 input-field">
            <label for="longitud" class="active">Longitud</label>
            <input name="longitud" type="text" id="longitud" class=".form-group" value="{{longitud}}" required="">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="{{base_url('public/')}}js/tienda/mapa_local.js" type="text/javascript"></script>
<script src="{{base_url('public/')}}js/tienda/jsAddLocal.js" type="text/javascript"></script>