{% extends "layout/intranet/template_adm.twig" %}

{% block content %}
    <main class="container">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="col s12 m12 l12 center">
                 Agregue el contenido que su página necesita: 
                </div>
                <div class="divider"></div>
              </div>
              <div class="row">   
                <div class="col s12 l6">
                  <textarea name="content" id="descripcionDetalle">              
                  </textarea>
                </div>
                <div class="col s12 l6">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span><i class="material-icons">photo_camera</i></span>
                      <input type="file" id="logoImg" class="detalleImg" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col s12 m12 l12 center">
                <a class="waves-effect waves-light btn btnInsertDetalle" id="textareaId" data-id="{{tienda.Tie_IdTienda}}">GUARDAR información</a>
                <a class="waves-effect waves-light btn orange"  href="{{base_url()}}usuario/tienda">Regresar</a>
              </div>
            </div>
              <span class="card-title">Prediseño de tu página de inicio</span>
              <div style="border: 1px solid #cecece; border-radius: 5px;padding: 5px 5px">
                    {% for dti in dtienda %}          
                      {% if dti.Tid_Img and dti.Tid_Descripcion != '<p>&nbsp;</p>' %}
                      <div class="row">
                        <div class="col s12 m5 l5">
                              {{dti.Tid_Descripcion}}       
                        </div>
                        <div class="col s12 m5 l5">
                            <div class="card z-depth-4">
                              <div class="card-image">
                                <img src="{{ruta_img}}{{dti.Tid_Img}}">
                              </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l2 valign-wrapper">
                          <a class="btn eliminarContenido red" data-idt="{{dti.Tid_IdTiendaDetalle}}"><i class="material-icons">delete</i></a>
                        </div>
                      </div>
                      {% else %}
                      <div class="row">
                        <div class="col s12 m12 l10 center">                              
                              {% if dti.Tid_Descripcion != '<p>&nbsp;</p>' %}
                                {{dti.Tid_Descripcion}}
                              {% else %}                                              
                                <img class="responsive-img" src="{{ruta_img}}{{dti.Tid_Img}}">
                              {% endif %}                              
                        </div>
                        <div class="col s12 m12 l2">
                          <a class="btn eliminarContenido red" data-idt="{{dti.Tid_IdTiendaDetalle}}"><i class="material-icons">delete</i></a>
                        </div>
                      </div>
                      {% endif %}        
                    {% endfor %}
                    </div>
                    </div>
          </div>
    </main>
{% endblock %}

{% block script %}
    <script>

    </script>
    <script src="{{base_url('public/')}}js/tienda/jsAddTienda.js" type="text/javascript"></script>
{% endblock %}
