{% set latitud = local.Loc_Lat %}
{% set longitud = local.Loc_Long %}
<script type="text/javascript">
  var latitud = "{{latitud}}";
  var longitud = "{{longitud}}";
</script>
<form class="validar" id="form_addLocal" method="post">
  <div class="card-content">
    <div class="title" style="background-color:{{configuracion.Con_ColorHexa}}">
      <h5 class="center-align z-depth-2">Editar Local</h5>
    </div>
    <div class="row contentAddLocal">
      <div class="col s8 m8 l8">
        <div class="input-field">
          <input name="Loc_IdLocal" type="hidden" id="Loc_IdLocal" value="{{local.Loc_IdLocal}}">
          <input name="nombreLocal" type="text" id="nombreLocal" class="validate" required value="{{local.Loc_Nombre}}">
          <label for="nombreLocal" class="active">Nombre del Local</label>
        </div>
      </div>
      <div class="col s4 m4 l4">
        <div class="input-field">
          <input name="telfLocal" type="number" id="tlfLocal"  min="1" class="validate" required value="{{local.Loc_Numero}}">
          <label for="tlfLocal" class="active">Teléfono</label>
        </div>
      </div>
      <div class="col s12 l12">
        <div class="col s6">
          <div id="map" style="height:220px"></div>
          <span style="font-style: italic">* Arraste el icono en el mapa para seleccionar la ubicación del local</span><br>
          <span style="font-style: italic">** Indique la dirección exacta</span>
        </div>
        <div class="col s6">
          <div class="col s12 input-field">
            <label for="direccionLocal" class="active">Dirección del Local **</label>
            <input name="dirLocal" type="text" id="direccionLocal" class="validate dirLocal" required value="{{local.Loc_Direccion}}">
          </div>
          <div class="col s12 input-field">
            <label for="latitud" class="active">Latitud</label>
            <input name="latitud" type="text" id="latitud" class=".form-group" value="{{latitud}}" required="" value="{{local.Loc_Lat}}">
          </div>
          <div class="col s12 input-field">
            <label for="longitud" class="active">Longitud</label>
            <input name="longitud" type="text" id="longitud" class=".form-group" value="{{longitud}}" required="" value="{{local.Loc_Long}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="{{base_url('public/')}}js/tienda/mapa_local.js" type="text/javascript"></script>
<script src="{{base_url('public/')}}js/tienda/jsEditLocal.js" type="text/javascript"></script>