<table class="tablaPro bordered">
  <thead class="customColorA">
<tr>
  <!-- <td>#</td> -->
  <td class="center">Variacion</td>
  <td class="center cantTabla">Cantidad</td>
  <td class="center opcionTabla"></td>
</tr>
  </thead>
  <tbody> 
  {% for prv in producto_variacion %}
    <tr>
      <!-- <td>{{prv.numero}}</td> -->
      <td class="center"><span class="nombrePro"></span><br>{{prv.varNombre}}&nbsp;&nbsp;{{prv.vaoNombre}}&nbsp; - <span class="colorVariacion">{{prv.colorVar}}</span></td>
      <!-- <td>{{prv.colorVar}}</td> -->
      <td class="center"><input type="number" placeholder="Cantidad" step="1" data-idcom="{{prv.numero}}" class="validate cntVar"></td>
      <td class="center"><a class="btn btnEliminarSku red" id="{{prv.numero}}"><i class="material-icons">delete</i></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
        
 {% block script %}
 	<script type="text/javascript">
 		$(".btnEliminarSku").click(function(){
      var numeroId = $(this).attr("id");
      cantidades = [];
  
      $(".cntVar").each(function(){
        if ($(this).data('idcom') != numeroId){
          cantidades.push($(this).val());
        }
      });

    $.confirm({
          icon: 'help',
          theme: 'modern',
          closeIcon: false,
          animation: 'scale',
          type: 'orange',
          title: 'Eliminar variacion',
          columnClass: 'small',
          content: 'Más adelante podras agregarla de nuevo',
          draggable: false,
          buttons: {
              Eliminar: {                    
                  action: function (){
                    $.ajax({
                      type: "POST",
                      data: {
                              "numero": numeroId
                            },
                      url: base_url + 'usuario/inventario/eliminar_variacion_sku',
                      success: function (data) {
                        $("#lista_variacion").html('');
                        $("#lista_variacion").html(data);
                        $(".nombrePro").text($("#nombreProducto").val());
                        var n=0; 
                        $(".cntVar").each(function(){
                          $(this).val(cantidades[n]);
                          n++;
                        });        
                      }
                    });
                  }       
              },
              Cancelar: {
                  btnClass: 'btn',    
              }
          }
      });
	});
 		</script>
 {% endblock %}