<label></label>
			<div class="row">
				{% for var in variacion %}
				{% for vac in var_cat %}
					{% if var.Var_IdVariacion == vac.variacion_Var_IdVariacion %}
						<div style="margin: 5px 0px;" class="containerTalla col s3 l3 existe">
							<input type="checkbox" name="varCheckbox" data-nomvar="{{var.Var_Nombre}}" data-vari="{{var.Var_IdVariacion}}" class="checkboxVar" data-vaon="{{vac.Vao_Nombre}}" id="{{vac.Vao_IdVaricion_Opcion}}" />
							<label for="{{vac.Vao_IdVaricion_Opcion}}">{{vac.Vao_Nombre}}</label>
						</div>
					{% endif %} 
				{% endfor %}  
				{% endfor %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#rowTallas').hide();
			if ($('.containerTalla').hasClass('existe')){
				$('#rowTallas').show(1000);
			}else{
				$('#rowTallas').hide(1000);
				$('#rowTallas').addClass('No existe');
			}
		});
	</script>
{% endblock %}