<table class="bordered cardContentFix">
  <tbody>
    {% set nro = 1 %}
    {% for ped in pedidos %}
      <tr>
        <td class="center"><b>{{nro}}</b></td>
        <td class="center"><span>{{ped.Ped_Datos}}</span><br><small class="enfasisB">{{ped.Ped_FechaCreacion|date("d-m-Y")}}</small></td>
        <td class="center"><i>{{ped.Ped_Comentario}}</i></td>
        {# <td class="center"><a class="btn btnEliminarSku red" id="{{prv.numero}}"><i class="material-icons">delete</i></a></td> #}
      </tr>
      {% set nro = nro + 1 %}
    {% endfor %}
  </tbody>
</table>
        
 {% block script %}
 
 {% endblock %}