<table class="bordered cardContentFix">
  <tbody>
    {% set nro = 1 %}
    {% for ped in pdetalle %}
      <tr>
        <td><b>{{nro}}</b></td>
        <td class="center">
          <img class="redondeo" src="{{ruta_img}}{{ped.SKU_Img}}" height="40">
        </td>
        <td>
          <span>{{ped.Pro_Nombre}}</span><br>
          <small class="tipoPedido">{{ped.Var_Nombre}} {{ped.Vao_Nombre}}</small><span class="colorPedido"></span>
        </td>
        <td class="center">
          {{ped.Cantidad}} <span class="enfasisB">{{ped.Unm_Nombre}}</span>
        </td>
      </tr>
      {% set nro = nro + 1 %}
     {% endfor %} 
  </tbody>
</table>
        
 {% block script %}
 
 {% endblock %}