<label>Color</label>
<select class="coloresVar browser-default col l12" name="colores[]" id="coloresVar">
  {% for col in colores %}
         <option value="{{col.Col_IdColores}}" {% for con in colores_ya %}
           {% if col.Col_Nombre == con.SKU_Color %}
            disabled="" 
                 {% endif %} 
         {% endfor %} id="{{col.Col_IdColores}}">{{col.Col_Nombre}}</option>  
  {% endfor %}
</select>

{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
        $('#coloresVar').select2({});});
  </script>
{% endblock %}