{% extends "layout/intranet/template_lite.twig" %}
{% block head %} 

{% endblock %}

{% block content %}

  <main class="container">
    <div class="row">
        <div class="col s12 l4 card">
          <div class="card-content center">
            <i class="material-icons">map</i>
            <span class="card-title"> DIRECCIÓN</span>
    {% for loc in local %}
            {{loc.Loc_Nombre}} - {{loc.Loc_Direccion}} </br>
    {% endfor %}

    <br>
    <div class="divider"></div>
    <br>         
            <i class="material-icons">phone</i>
            <span class="card-title"> TELEFONO</span>
    {% for loc in local %}
            <a class="btn" style="border-radius:20px" href="tel:{{loc.Loc_Numero}}">{{loc.Loc_Numero}}</a>
            <br>
            <br>

    {% endfor %}
          </div>
        </div>  
        <div class="col s12 l8 card">
          <div class="card-content center" id="map" style="height:440px">

          </div>
        </div>
    </div>
  </main>
  
{% endblock %}

{% block script %}
    <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -12.063331, lng: -77.029107},
            zoom: 15
          });
        }
      </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnqEDXE9ekKeGG778KOndF2wM5P3fFSug&callback=initMap"
    async defer></script>
    <script src="{{base_url('public/')}}js/tienda/jstienda.js" type="text/javascript"></script>
{% endblock %}
