{% extends "layout/intranet/template_lite.twig" %}

{% block head %} 

  <style type="text/css">
.imgBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  blockquote {
    border-left: 5px solid {{configuracion.Con_ColorHexa}};
  }

  </style>

{% endblock %}

{% block content %}
    <main class="test">
      <div class="row rowProTablet">
        <div class="col s12 l4 hide-on-med-and-down" id="infoTiendaCol">
          
          <div class="card">
            <div class="col l12 center" style="background-color:{{configuracion.Con_ColorBtn}} ; padding: 10px; color: white;"> 
              <span class="card-title">{{tienda.Tie_Nombre}}</span>
            </div>
            <div>
                {% if dtienda.Tid_Img and dtienda.Tid_Descripcion != '<p>&nbsp;</p>' %}
                <div class="row" style="margin-bottom: 0px">
                  <div class="col s12 m6 l6" style="margin-top: 10px;" >
                    {% if tienda.Tie_Logo %}
                    <img style="border-radius:5px;margin:0 auto;" src="{{ruta_img}}{{tienda.Tie_Logo}}" height="50" class="materialboxed">{% endif %}
                    
                  </div>
                  <div class="col s12 m6 l6" style="margin-top: 10px">
                    <img src="{{ruta_img}}{{dtienda.Tid_Img}}" style="border-radius:5px;margin:0 auto;" height="50" class="materialboxed">
                  </div>
                  <div class="col s12 m6 l12 divDescripcion" style="height:150px; overflow: auto;">
                    <blockquote style="margin: 0px 0px ">{{dtienda.Tid_Descripcion}}</blockquote>
                  </div>
                </div>
                {% else %}
                <div class="row">
                  <div class="col s12 m12 l12 center " style="height:150px; overflow: auto;">                              
                        {% if dtienda.Tid_Descripcion != '<p>&nbsp;</p>' %}
                          {{dtienda.Tid_Descripcion}}
                        {% else %}   
                          <img class="responsive-img z-depth-4" src="{{ruta_img}}{{dtienda.Tid_Img}}">
                        {% endif %}                              
                  </div>
                </div>
                {% endif %}        
              <div class="row">
                  <div class="col s12 l12">
                    <select class="opcionDirPc">
                      <option value="" disabled selected>Selecciona un local</option>
                      {% for loc in local %}
                        <option data-long="{{loc.Loc_Long}}" data-lat="{{loc.Loc_Lat}}" value="{{loc.Loc_Numero}}" data-nombre="{{loc.Loc_Nombre}}" data-telfLocal="{{loc.Loc_Numero}}">{{loc.Loc_Direccion}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col s12 l7 input-filed">
                        <input type="text" id="nombreLocalPC" style="margin-bottom:0px;" placeholder="Nombre Local" readonly="">
                  </div>
                  <div class="col s12 l5 input-filed">
                        <input type="text" id="telfLocalPC" style="margin-bottom:0px;" placeholder="Telefono local" readonly="">
                  </div>   
                  <div class="col s12 l12 card">
                      <div class="card-content center" id="map" style="height:200px"></div>
                  </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col s12 l8 colProSmarth">
        {% if noproducto2 %}
          <div class="card center">
              <div class="card-content">        
                <div class="row">
                  <div class="center col s12 m12 l12" style="margin-top: 20px;">
                    <img src="{{ruta_img}}emptyProduct.png" height="150"></img>
                  </div>
                  <div class="center col s12 m12 l12">
                    <h5>Este producto esta llegando...</h5>
                    <p style="color: rgba(0,0,0,0.6);">Segurito lo encontraras dentro de poco al mejor precio </p>
                  </div>
                  <div class="center col s12 m12 l12" style="margin-top:15px">
                     <a href="{{base_url()}}" class="btn pormayorAccent">Vuelve a la pagina principal</a>
                  </div>
                </div> 
              </div>
          </div>
        {% else %}     
        {% endif %}
        <div class="containerListProd">     
          <div class="row" id="listProducto">
            <div class="col s12 l12 center">
              {% if noproducto %}
            <div class="card" style="padding: 10px">
                <div class="row">
                  <div class="center col s12 m12 l12" style="margin-top: 20px;">
                    <img src="{{ruta_img}}emptyCategory.png" height="150"></img>
                  </div>
                  <div class="center col s12 m12 l12">
                    <h5>Categoria vacia</h5>
                    <p style="color: rgba(0,0,0,0.6);">Aún no existen productos de este tipo y pronto lo solucionaremos</p>
                  </div>
                  <div class="center col s12 m12 l12" style="margin:15px 0px">
                     <a href="{{base_url()}}" class="btn pormayorAccent">Vuelve a la pagina principal</a>
                  </div>
                </div>
              {% endif %}
              
            </div>
            {% for pro in producto %}                                              
              <div class="col s6 m4 l4 colProSmarth"> 
                <a class="detalleProducto" style="color: rgba(0,0,0,0.8); cursor: pointer;" data-idproducto="{{pro.Pro_IdProducto}}"> 
                  <div class="card hoverable">         
                    <div class="card-content center imgPeq" style="height:180px; padding:1px; background-color:rgba(0,0,0,0.0.15);">
                      {% for fot in fotos %}                      
                        {% if pro.Pro_IdProducto == fot.producto_Pro_IdProducto %}
                          <img src="{{ruta_img}}{{fot.Prf_Img}}" class="containImg" style="width:100%;height:180px; padding: 5px">
                          {% if pro.Pro_Oferta == 1 %}
                            <div class="top-Text">
                              <img src="{{ruta_img}}sales.svg" type="image/svg+xml" class="sales" width="50">
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}                                         
                    </div>
                    <div class="card-action center flow-text" style="    height: 134px;padding: 0px; border-top:1px solid rgba(0,0,0,0.0.15)">                      
                        <span style="padding-top:20px;user-select:none" class="truncate">{{pro.Pro_Nombre}}</span>
                          {% if configuracion.Mostrar_Precio == 1 %}
                          <h6 class="truncate" style="user-select:none; font-size: 0.8rem; font-style: italic">Precio entre: S/{{pro.Pro_PrecioRango}}</h6>                                 
                          {% else %} 
                          {% endif %}
                        <div class="puntuacionPro colorContainer center">
                          <div class="row" style="margin: 0px; padding: 0px;">
                            {% set arrayColores = [] %}
                            {% for col in colores %}
                              {% if col.producto_Pro_IdProducto == pro.Pro_IdProducto %}
                               {% if col.Col_Hex not in arrayColores %}
                               {% set arrayColores = arrayColores|merge([col.Col_Hex]) %}
                               <div class="" style="margin-bottom: 2.5px; display: inline-block">
                                  <div style="border-radius: 1px; height: 10px; width: 10px;  background-color: {{col.Col_Hex}}; border: 1px solid rgba(0,0,0,0.2) "></div>
                                </div>
                               {% endif %}
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="puntuacionPro starsContainer valign-wrapper">
                          <div class="center" style="margin: 0 auto;">
                          {% for i in 1..5 %}
                            {% if pro.Pro_Valoracion >= i %}
                              <i class="material-icons flow-text" style="color:#fdd835">star</i>
                            {% else %}
                              <i class="material-icons flow-text" style="color:black">star_border</i>
                            {% endif %}
                          {% endfor %}
                          </div>
                        </div>                 
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div> 

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large modal-trigger pulse white-text pormayorAccent" href="#modal_resumenCotizacion">
      <img src="{{ruta_img}}pedidoIcon.svg" type="image/svg+xml" class="FAB" height="42">
    </a>
  </div>   

  <!-- CARRITO DE COMPRA -->
  <div id="modal_resumenCotizacion" class="modal">
    <div class="modal-content validar modalCustomPro" style="background-color:white">
      <a class="modal-close modal-close-custom right" data-dismiss="modal" data-position="bottom" data-tooltip="Cerrar ventana"><i class="material-icons  closeIconA">close</i></a>
      <h5 class="headerModal z-depth-2" style="background-color:{{configuracion.Con_ColorHexa}}">Productos a Cotizar</h5>
      <div id="cart_details">
        <div class="row">
          <div class="center col s12 m12 l12" style="margin-top: 20px;">
            <img src="{{ruta_img}}emptyCart.png" height="150"></img>
          </div>
          <div class="center col s12 m12 l12">
            <h5>Sin productos agregados</h5>
            <p class="enfasisB">No haz agregado productos para cotizar</p>
          </div>
          <div class="center col s12 m12 l12">
            <a class="btn center modal-close">Ir a comprar</a>
          </div>
        </div>
      </div> 
    </div>
    <div class="modal-footer">
    </div>
  </div>

</main>
           
{% endblock %} 

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/cart_cotizacion.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      
      $('.menuMobileSec1').addClass('hide');
      $('.menuMobileSec2').addClass('hide');

      $('.materialboxed').materialbox();

      $(".divDescripcion").stick_in_parent({
        inner_scrolling: true,
      });
      $("#infoTiendaCol").stick_in_parent({recalc_every: 1});
    });

    $("#infoTiendaCol").stick_in_parent({inner_scrolling: false,offset_top: 65,}).on("sticky_kit:stick", function(e) {
      $(this).css("z-index",1000);
    }).on("sticky_kit:bottom", function(e) {
       $(this).css("z-index",10);
    }).on("sticky_kit:unbottom", function(e) {
       $(this).css("z-index",1000);
    });

    $('.colorContainer').hide();
    var MenorPC = 0;
    if ($(window).width() > 767) {
        if (!MenorPC) {
            if ($(window).width() > 767) {
              $('.detalleProducto').mouseenter(function(){
                var div= $(this);
                div.find(".starsContainer").hide(0, function  (){
                  div.find(".colorContainer").show();
                });
                
              });

              $('.detalleProducto').mouseleave(function(){
                var div= $(this);
                  div.find(".colorContainer").hide(0, function() {
                  div.find(".starsContainer").show();
                });
              });
            }
        }else{
          MenorPC = 1;
        }
    }

    $(window).resize(function() {
        if (!MenorPC) {
            if ($(window).width() > 767) {
              $('.detalleProducto').mouseenter(function(){
                var div= $(this);
                div.find(".starsContainer").hide(0, function  (){
                  div.find(".colorContainer").show();
                });
                
              });

              $('.detalleProducto').mouseleave(function(){
                var div= $(this);
                  div.find(".colorContainer").hide(0, function() {
                  div.find(".starsContainer").show();
                });
              });
            }
        }
    });
    
    $('.opcionDirPc').change(function(){
        longAcual = $('.opcionDirPc option:selected').data('long');
        latActual = $('.opcionDirPc option:selected').data('lat');
        var nombre = $('.opcionDirPc option:selected').data('nombre');
        var TelfActual= $('.opcionDirPc option:selected').val();

        $('#telfLocalPC').val(TelfActual);
        $('#nombreLocalPC').val(nombre);

        direccion = {lat: latActual, lng: longAcual};
        marker.setPosition(direccion);
        map2.panTo(direccion);
    });

    </script>
    <script type="text/javascript">
      var map;
      var map2;
      var longAcual = -77.0282400;
      var latActual = -12.0431800;    
      var marker;
      var direccion;
      
      function initMap() {
        direccion = {lat: latActual, lng: longAcual};
        map = new google.maps.Map(document.getElementById('mapMobile'), {
            zoom: 15, center: direccion
          });

        map2 = new google.maps.Map(document.getElementById('map'), {
            zoom: 15, center: direccion
          });

        marker = new google.maps.Marker({position: direccion, map: map});
        marker = new google.maps.Marker({position: direccion, map: map2});
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnqEDXE9ekKeGG778KOndF2wM5P3fFSug&callback=initMap"></script>    
{% endblock %}
