{% block content %}
    <main class="container">    
        <div class="row" id="listProducto">
          {% for pro in producto %}                                              
            <div class="col s6 l3">
                <div class="card hoverable">
                   <div class="card-image">
                    {% for fot in fotos %}                      
                      {% if pro.Pro_IdProducto == fot.producto_Pro_IdProducto %}
                        <img src="{{ruta_img}}{{fot.Prf_Img}}" height="150px">
                      {% endif %}
                    {% endfor %}
                   </div>
                  <div class="card-content center">
                      {{pro.Pro_Nombre}}</br>
                      {% if configuracion.Mostrar_Precio == 1 %}
                      {% else %} 
                      <h6 style="font-size: 0.8rem; font-style: italic">Precio entre: S/ {{pro.Pro_PrecioRango}}</h6>                                       
                      {% endif %}
                      <a class="btn detalleProducto center" data-idproducto="{{pro.Pro_IdProducto}}">Más detalle...</a>
                  </div>
                </div>
            </div>
          {% endfor %}

        </div>
  

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large modal-trigger pulse white-text pormayorAccent" href="#modal_resumenCotizacion">
      <img src="{{ruta_img}}pedidoIcon.svg" type="image/svg+xml" class="FAB" height="42">
    </a>
  </div>    

  <!-- Modal Structure -->
  <div id="modal_resumenCotizacion" class="modal">
    <div class="modal-content">
      <div id="cart_details">
        <div class="row">
          <div class="center col s12 m12 l12" style="margin-top: 20px;">
            <img src="{{ruta_img}}emptyCart.png" height="150"></img>
          </div>
          <div class="center col s12 m12 l12">
            <h5>Sin productos agregados</h5>
            <p class="enfasisB">No haz agregado productos para cotizar</p>
          </div>
          <div class="center col s12 m12 l12">
            <a class="btn center modal-close">Ir a comprar</a>
          </div>
        </div>
      </div>  
    </div>
    <div class="modal-footer">
      {% if carrito is empty %}
      <a href="{{base_url()}}tienda/productos/" class="btn orange center">Ir a tienda</a>
      {% else %} 
      <a href="#" class="modal-action modal-close btn amber">ATRÁS</a>
      <a href="{{base_url()}}tienda/productos/pedido" class="btn green center">Cotizar</a>
      {% endif %}
    </div>
  </div>

</main>
           
{% endblock %}


{% block script %}

    <script src="{{base_url('public/')}}js/tienda/cart_cotizacion.js" type="text/javascript"></script>
{% endblock %}