{% extends "layout/intranet/template_lite.twig" %}

{% block content %} 
   
  <!-- Page Layout here -->
  <main class="container">
    <div class="row">
      <div class="col s12 m6 l6" style="margin-right: 8%" id="pedidoItems">
        <div class="row card cardPedido">
          <div class="card-content">
            <div class="row">
              <div class="col s12 l12 center">
                <span class="card-title" style="background-color: {{configuracion.Con_ColorBtn}}">Pedido a cotizar</span>
                <div class="contentsPedido">
                  <table class="bordered">
                    <thead>
                      <tr>
                        <th colspan="2">Producto</th>
                        <th style="width: 25%">Variacion</th>
                        <th class="center" style="width: 25%;">Cant.</th>
                      </tr>
                    </thead>
                    <tbody style="font-size: 14px">
                  {% for car in carrito %}
                  <tr>
                      <td> <img src="{{ruta_img}}{{car.img}}" height="40" style="border-radius:2px"></td>
                      <td> {{car.name}} </td>
                      <td> {{car.tipovariacion}} {{car.variacion}} - <span class="enfasisB">{{car.color|title}}</span> </td>
                      <td> {{car.qty}} <span class="enfasisB" style="font-size: 12px">{{car.unidad}}</span> </td>
                  </tr>
                  {% endfor %}
                   </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m5 l5">
        <div class="row card cardPedido">
          <div class="card-content">
           <div class="row sinBordeBottom">
            <div class="col s12 l12">
            <span class="card-title center" style="background-color: {{configuracion.Con_ColorBtn}}">Datos Personales</span>
              <div class="contentsPedido" style="padding-top: 10px;">
                <div class="input-field col s12">
                    <input placeholder=""  id="nombreComprador" type="text" class="validate" value="{{usuario_inf.Per_Nombre}}" disabled>
                    <label for="nombreComprador">Nombre completo</label>
                </div>   
                <div class="input-field col s6">
                    <input placeholder="" id="tlf" type="number" class="validate" min="1" value="{{usuario_inf.Per_Telefono}}" disabled>
                    <label for="tlf">Telefono de Contacto</label>
                </div>        
                <div class="input-field col s6">
                    <input placeholder="" id="correo" type="email" class="validate" value="{{usuario_inf.Usu_Correo}}" disabled>
                    <label for="correo">Correo electronico</label>
                </div>            
                <div class="input-field col s12">
                    <textarea id="comentario" class="materialize-textarea validate"></textarea>
                    <label for="comentario">Comentario</label>
                </div class="input-field col s12">
                  <p style="margin-left: 12px">
                    <input type="checkbox" id="siDireccion" />
                    <label for="siDireccion">Direcciòn (opcional)</label>
                  </p>
                <div id="campoNO" class="hide"></div>
                <div id="direccionVista" class=" hide" style="margin-top: 10px"> 
                      <select id="selecRegion" class="browser-default">
                        <option value="0" disabled selected> Seleccione una región</option>
                        {% for reg in region %}
                            <option value="{{reg.id}}">{{reg.name}}</option>
                        {% endfor %}
                      </select>
                  <div id="provincia">
                    
                  </div>
                  <div id="distrito">
                    
                  </div>
                    <div class="row sinBordeBottom">
                      <div class="input-field col s12 l12 hide" id="toHide">
                        <input id="direccionComprador" type="text" class="validate">
                        <label for="direccionComprador">Direccion</label>
                      </div>                
                    </div>
                </div>
              </div>
            </div>
          </div>
          </div>
            <div class="card-action center">
              <a class="btn" id="btnCotizar" data-idtienda="{{tienda.Tie_IdTienda}}">Enviar Pedido</a>
              <a class="btn-flat grey-text text-darken-4" href="{{base_url()}}">Atras</a>
            </div>  
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $('.filtrarBtn').hide();
  </script>
    <script src="{{base_url('public/')}}js/tienda/jspedido.js" type="text/javascript"></script>

{% endblock %}