{% extends "layout/intranet/template_lite.twig" %}

{% block content %}

    <!-- Page Layout here -->
    <main class="container">
      <div class="row">
              <div class="col s12 m12 l12 hide-on-med-and-up" style="height:56px">     
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title center">RESUMEN DE COTIZACIÓN</span>
          <div class="row">
            <div id="cart_details">
              <div class="row">
                <div class="center col s12 m12 l12" style="margin-top: 20px;">
                  <img src="{{ruta_img}}emptyCart.png" height="150"></img>
                </div>
                <div class="center col s12 m12 l12">
                  <h5>Sin productos agregados</h5>
                  <p class="enfasisB">No haz agregado productos para cotizar</p>
                </div>
                <div class="center col s12 m12 l12">
                  <a class="btn center modal-close">Ir a comprar</a>
                </div>
              </div>
            </div>      
          </div>
        <div class="card-action center" >
          {% if carrito is empty %}
          <a href="{{base_url()}}" class="btn orange center">Ir a tienda</a>
          {% else %} 
          <a href="{{base_url()}}tienda/productos/pedido" class="btn green center">Cotizar</a>
          {% endif %}
          
        </div>
      </div>
    </div>
    </main>
{% endblock %}

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/cart_cotizacion2.js" type="text/javascript"></script>
{% endblock %}
