{% extends "layout/intranet/template_lite.twig" %}
{% block head %}
<style type="text/css">
  blockquote {
    border-left : 5px solid {{configuracion.Con_ColorHexa}}
  }
</style> 

{% endblock %}

{% block content %}
    <main class="container"> 
{#       <div class="slider">
        <ul class="slides">
          {% for dti in dtienda %}
            {% if dti.Tid_Img and dti.Tid_Descripcion == '<p>&nbsp;</p>'  %}
              <li>
                <img src="{{ruta_img}}{{dti.Tid_Img}}"> 
              </li> 
            {% endif %} 
          {% endfor %}
        </ul>
      </div> #}
    {% for dti in dtienda %}          
      {% if dti.Tid_Img and dti.Tid_Descripcion != '<p>&nbsp;</p>' %}
      <div class="row">
        <div class="col s12 m6 l6">
              {{dti.Tid_Descripcion}}
        </div>
        <div class="col s12 m6 l6">
            <div class="card z-depth-4">
              <div class="card-image">
                <img src="{{ruta_img}}{{dti.Tid_Img}}" class="responsive-img">
              </div>
            </div>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col s12 m12 l12 center">                              
              {% if dti.Tid_Descripcion != '<p>&nbsp;</p>' %}
                {{dti.Tid_Descripcion}}
              {% else %}   
                <img class="responsive-img z-depth-4" src="{{ruta_img}}{{dti.Tid_Img}}">
              {% endif %}                              
        </div>
      </div>
      {% endif %}        
    {% endfor %}

    </main>
{% endblock %}

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/jstienda.js" type="text/javascript"></script>
{% endblock %}
