{% extends "layout/intranet/template_usu.twig" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/gestion_pedido.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/stars_rating.css')}}"  media="screen,projection"/>

{% endblock %}

{% block content %}
   	<main class="container" style="width:95%">
      <div class="card">
          	<div class="card-content center sinPadding">
          		<div class="row cardContentFix">
		          	<h5 class=" center card-title">{{pagina.titulo}}</h5>
		            <div class="row"><div class="divider"></div></div>
	            	<div class="collection">
		             {% if ventas %}
			            {% for ven in ventas %}
			            <a href="{{base_url()}}comprador/compra/detalle/{{ven.Ven_IdVenta}}" class="collection-item">#{{ "%06d"|format(ven.Ven_IdVenta) }} <small class="secondary-content">{{ven.Ven_FechaRegistro|date("m/d/Y")}}</small></a>
		             	{% endfor %}
	            	 {% else %}
				 		<div class="center col s12 m12 l12" style="margin-top: 20px;">
							<img src="{{ruta_img}}emptyBuy.png" height="150"></img>
						</div>
						<div class="center col s12 m12 l12">
							<h5>Sin compras procesadas</h5>
							<p style="color: rgba(0,0,0,0.6);">Aún no haz realizado ninguna compra</p>
						</div>
						<div class="center col s12 m12 l12" style="margin:15px 0px">
							<a href="{{base_url()}}" class="btn pormayorUnico">Comienza a cotizar</a>
						</div>
		            {% endif %}
			        </div>		             
            	</div>
        	</div>
		</div>
    </main>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		//Cambio Footer
	    $('.footerSecundario').removeClass('hide');
	    $('.footerPrincipal').addClass('hide');

	</script>
{% endblock %}