{% extends "layout/intranet/template_usu.twig" %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/gestion_pedido.css')}}"  media="screen,projection"/>
	<style type="text/css">
		blockquote{
			border-left: 5px solid #121212;
			font-size: 16px;
		}
	</style>
{% endblock %}

{% block content %}
    <main class="container" style="width:95%">
    	<div class="card">
        	<div class="card-content sinPadding">
        		<div class="row cardContentFix">
	    			<h5 class=" center card-title">{{pagina.titulo}}</h5>
	    			<div class="divider"></div>
	    			<div class="row">
	    				{% if venta.Ven_CodCompra != 0 %}
		    				<div class="col s6 l4 center">
		    					<img class="redondeo" src="{% if venta_info.Vef_Banco == "BCP" %}{{ruta_img}}banco1.jpg {% elseif venta_info.Vef_Banco == "Caja Huancayo" %}{{ruta_img}}banco2.jpg{% endif %}" height="100">
		    				</div>
		    				<div class="col s6 l4">
		    					<div class="pormayor redondeo center" style="padding:3%">
		    						<span  class="black-text">Código de pago</span><br>
		    						<span style="font-size:2rem" class="black-text"><b> {{venta.Ven_CodCompra}}</b></span>
		    					</div>
		    				</div>
		    				<div class="input-field col s6 l4">
					          <i class="material-icons prefix">update</i>
					          <input id="fechaFinal" type="text" class="validate" value="{{ venta.Ven_FechaRegistro|date_modify("+15 day")|date("d/m/Y") }}" readonly="">
					          <label for="fechaFinal">Fecha de expiración</label>
					        </div>
		    				<div class="col s6 l12">
		    					<blockquote>
		    						{{venta_info.Vef_DirEnvio}}
		    					</blockquote>
		    				</div>	
	    				{% endif %}
	    				<div class="col s12 l12">
				      		<table class="bordered"; style="width: 100%">
				      			<thead>
				      				<tr class="enfasisA">
				      					<th class="hide-on-med-and-down"></th>
				      					<th>Producto</th>
				      					<th>Precio S/</th>
				      					<th>Importe S/</th>
				      				</tr>
				      			</thead>
				      			<tbody>
				      				{% set total = 0 %}
				      				{% for ved in venta_detalle %}
					      				<tr>
					      					<td class="hide-on-med-and-down">
					      						<img class="redondeo centrarForzado" src="{{ruta_img}}{{ved.SKU_Img}}" height="50">
					      					</td>
					      					<td>
					      						<b>{{ved.Ved_Cantidad}} {{ved.Unm_Nombre}}</b></br>
					      						{{ved.Pro_Nombre}}</br>
					    		   				<span class="enfasisB">{{ved.Var_Nombre}} {{ved.Vao_Nombre}}</span></br>
					    					</td>
					      					<td>
					      						<span class="precioventa" id="precioventa{{ved.SKU_IdSKU}}">{{ved.Ved_Precio|number_format(2, '.', ' ')}}</span>
					      					</td>
					      					<td id="tdimporte{{ved.SKU_IdSKU}}">
					      						{% set importe = ved.Ved_Cantidad * ved.Ved_Precio %}
					      						<span id="importe{{ved.SKU_IdSKU}}">{{importe|number_format(2, '.', ' ')}}</span>
					      					</td>
					      				</tr>
					      				{% set total = total + importe %}
				            		{% endfor %}
				      			</tbody>
				      			<tfoot>
			                		<tr>
			                			<input type="hidden" value="{{monto_cotizado}}" id="totalDscto_">
			                			<td style="font-size:18px">
			                				Total 
			                			<td style="font-size: 18px;font-weight: 600;" class="right-align" colspan="2">
			                				S/ <span>{{venta.Ven_Total|number_format(2, '.', ' ')}}</span>
			                			</td>
			                		</tr>
			            		</tfoot>
				      		</table>
	    				</div>
	    			</div>
	    			<div class="row center">
	    				{% if sicalifico %}
	    					<div class="col s12 m12 l12 green black-text" style="padding:20px">
			    					<i class="material-icons left">thumbs_up_down</i>
			    					Ya calificaste esta compra
			    			</div>
	    				{% else %}	
		    				<a href="{{base_url()}}comprador/compra/calificar/{{idventa}}">
			    				<div class="col s12 m6 l8 green black-text" style="padding:20px">
			    					<i class="material-icons left">thumbs_up_down</i>
			    					CALIFICAR TU COMPRA
			    				</div>
		    				</a>	    				
		    				<a href="{{base_url()}}comprador/compra/reportar/{{idventa}}">
			    				<div class="col s12 m6 l4 red black-text" style="padding:20px">
			    					<i class="material-icons left">warning</i>
			    					REPORTAR UN PROBLEMA
			    				</div>
		    				</a>
	    				{% endif %}

	    			</div>
    			</div>
			</div>
		</div>
    </main>
{% endblock %}

{% block script %}
    
{% endblock %}