{% extends "layout/intranet/template_usu.twig" %}

{% block head %}
	<style type="text/css">
  		.tachado
  		{
  			text-decoration:line-through;
  			color: #0000008a;
  			color: #f13c30;
  		}
	</style>
	<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/jquery-confirm.min.css')}}"  media="screen,projection"/>
{% endblock %}

{% block content %}
    <main class="container">
    	<div class="card">
        	<div class="card-content center">
            	<span class="card-title"><span class="new badge" style="background-color:{{configuracion.Con_ColorHexa}}; height:30px"><i class="material-icons left" style="margin:0">mail</i>REVISA TU CORREO</span>COTIZACIÓN</span>
	      		<table class="bordered">
	      			<thead>
	      				<tr>
	      					<th></th>
	      					<th>Producto</th>
	      					<th>Cantidad</th>
	      					<th>Precio Venta</th>
	      					<th>Precio Cotizado</th>
	      					<th>Importe</th>
	      					<th></th>
	      				</tr>
	      			</thead>
	      			<tbody>
	      				{% set monto = 0 %}
	      				{% set monto_cotizado = 0 %}
	      				<input type="hidden" name="porcentaje" id="porcentaje" value="{{dcotizacion[0].Tie_PorcentajeCotizacion}}">
	      				<input type="hidden" name="id_cotizacion" id="id_cotizacion" value="{{Cot_IdCotizacion}}">
	      				{% for cot in dcotizacion %}
		      				<tr>
		      					<td>
		      						<img src="{{ruta_img}}{{cot.SKU_Img}}" height="50">
		      					</td>
		      					<td>
		      						{{cot.Pro_Nombre}}</br>
		    		   				{{cot.Var_Nombre}}: {{cot.Vao_Nombre}}</br>
		    					</td>
		      					<td>
									<input type="number" step="1" value="{{cot.Cantidad_Cotizacion}}" style="width: 100px" class="cantidad" id="cantidad{{cot.SKU_IdSKU}}"> {{cot.Unm_Nombre}}
		      					</td>
		      					<td>
		      						S/ <span class="tachado precioventa" id="precioventa{{cot.SKU_IdSKU}}">{{cot.Precio_Cotizacion|number_format(2, '.', ' ')}}</span>
		      					</td>
		      					<td>
		      						S/ <span class="preciocotizado" id="preciocotizado{{cot.SKU_IdSKU}}">{{cot.PrecioDscto_Cotizacion|number_format(2, '.', ' ')}}</span>
		      					</td>
		      					<td id="tdimporte{{cot.SKU_IdSKU}}">
		      						{% set importe = cot.Cantidad_Cotizacion * cot.PrecioDscto_Cotizacion %}
		      						S/ <span id="importe{{cot.SKU_IdSKU}}">{{importe|number_format(2, '.', ' ')}}</span>
		      					</td>
		      					<td>
		      						<div>
									  <input type="checkbox" id="cbProducto{{cot.SKU_IdSKU}}" checked="checked" class="filled-in cbProducto" value="{{cot.SKU_IdSKU}}" data-cantidad="{{cot.Cantidad_Cotizacion}}" data-precioventa="{{cot.Precio_Cotizacion}}" data-preciocotizado="{{cot.PrecioDscto_Cotizacion}}" data-id="{{cot.SKU_IdSKU}}">
									  <label for="cbProducto{{cot.SKU_IdSKU}}"></label>
									</div>
		      					</td>
		      				</tr>
		      				{% set monto = monto + cot.Precio_Cotizacion*cot.Cantidad_Cotizacion %}
		      				{% set monto_cotizado = monto_cotizado + cot.PrecioDscto_Cotizacion*cot.Cantidad_Cotizacion %}
	            		{% endfor %}
	      			</tbody>
	      			<tfoot>
                		<tr>
                			<input type="hidden" value="{{monto_cotizado}}" id="totalDscto_">
                			<td colspan="2"></td>
                			{# <td colspan="2">Total Real <span id="total" style="font-size: 16px">S/. {{monto|number_format(2, '.', ' ')}}</span></td> #}
                			<td colspan="2" id="tdTotalReal" class="tachado">Total Real S/<span id="totalReal" style="font-size: 16px">{{monto|number_format(2, '.', ' ')}}</span></td>
                			<td colspan="2" id="tdTotalDscto">Total Cotizado S/<span id="totalDscto" style="font-size: 16px">{{monto_cotizado|number_format(2, '.', ' ')}}</span></td>
                		</tr>
                		<tr>
                			<td colspan="3" id="tdTotalAhorrado">Total Ahorrado S/<span id="totalAhorrado" style="font-size: 16px">{{(monto - monto_cotizado)|number_format(2, '.', ' ')}}</span></td>
                		</tr>
            		</tfoot>
	      		</table>
	      		<span style="font-size:0.8rem;color:grey">
					Estos precios son validos por quince (15) dias de emitida la presente cotización.
	      		</span>
	      		<div class="row">
	      			<div class="col l12">
	      				<a class="btn nextBtn" id="btnProcesarCompra">Procesar Compra</a>
	      			</div>
	      		</div>
			</div>
		</div>
    </main>
{% endblock %}

{% block script %}
	<script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-confirm.min.js')}}"></script>
	<script src="{{base_url('public/')}}js/tienda/dCotizacion.js" type="text/javascript"></script>
{% endblock %}