{% extends "layout/intranet/template_usu.twig" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/gestion_pedido.css')}}"  media="screen,projection"/>
{% endblock %}

{% block content %}
    <!-- Page Layout here -->
    <main class="container" style="width:95%">
      	<div class="card">
	        <div class="card-content center sinPadding">
	        	<div class="row cardContentFix">
		          	<h5 class="center card-title">Pedidos Realizados</h5>
		            <div class="row"><div class="divider"></div></div>
		             {% if pedidos %}
		             <ul class="collapsible pedidosComprador" data-collapsible="accordion">
			            {% for ped in pedidos %}
						    <li>
						      <div class="collapsible-header">
						      	<div class="row sinBordeBottom centrarForzado" style="width: 100%">
									<div class="col s6 m5 l5 cardCustomGestion">
										<div class="leftPedidoCont pormayorAccent">
											<span class="new badge valign-wrapper left flow-text sinPadding" data-badge-caption="{{ "%06d"|format(ped.Ped_IdPedido) }}" ><i class="material-icons left">arrow_downward</i>&nbsp;</span>
											<small class="">{{ped.Ped_FechaCreacion|date("m/d/Y")}}</small>
										</div>
									</div>
									{% for cot in cotizacion %}	
										{% if cot.pedido_Ped_IdPedido == ped.Ped_IdPedido %}
											{% if cot.Cot_Estado == 2 %}
												<div class="col s6 m7 l7 green valign-wrapper" style="height:54px">
													<h5 class="centrarForzado flow-text white-text">Cotizacion</h5>   
												</div>
											{% else %}
											     <div class="col s6 m7 l7 " style="word-break: break-word;position:relative;top:15px">
												    <h5 class="centrarForzado flow-text" style="color:rgba(0,0,0,0.3)">Cotizacion</h5>
												</div>  
											{% endif %}	             		
										{% endif %}	
									{% endfor %}
								</div>
							</div>
								<div class="collapsible-body  grey lighten-5 sinPadding">
									<div class="row cardContentFix">
										{% for cot in cotizacion %}	
											{% if cot.pedido_Ped_IdPedido == ped.Ped_IdPedido %} 
											<a href="{{base_url()}}comprador/index/dCotizacion/{{cot.Cot_IdCotizacion}}" class="btn pormayorUnico" style="margin: 20px 0;">Ver {% if cot.Cot_Estado == 1 %}cotización {% else %} recibo {% endif %} </a>            		
											{% endif %}
										{% endfor %} 
										{% for dpe in dpedidos %}
											{% if ped.Ped_IdPedido == dpe.Ped_IdPedido %}
												<div class="row">
									          <div class="col s4 m3 l3 center"><img class="fixImg redondeo" src="{{ruta_img}}{% if dpe.SKU_Img %}{{dpe.SKU_Img}}{% else %}nofoto.png{% endif %}" height=""></div>			
									          <div class="col s5 m5 l5">
									          	<b>{{dpe.Pro_Nombre}}</b></br>
							              		<span>{{dpe.Var_Nombre}} {{dpe.Vao_Nombre}}</span> - 
							              		<span style="font-size:12px" class="enfasisB">{{dpe.SKU_Color|title}}</span>
									          </div>
									          <div class="col s3 m4 l4"><span>{{dpe.Ped_Cantidad}}</span> <small class="enfasisB">{{dpe.Unm_Nombre}}</small></div>
									      </div>
											{% endif %} 
										{% endfor %}
									</div>
								</div>
						    </li>
			           	 {% endfor %}
					 </ul>
					 {% else %} 
					 	<div class="center col s12 m12 l12" style="margin-top: 20px;">
		                    <img src="{{ruta_img}}emptyPedido.png" height="150"></img>
		                  </div>
		                  <div class="center col s12 m12 l12">
		                    <h5>Sin pedidos</h5>
		                    <p style="color: rgba(0,0,0,0.6);">Aún no haz realizado ningun pedido</p>
		                  </div>
		                  <div class="center col s12 m12 l12" style="margin:15px 0px">
		                     <a href="{{base_url()}}" class="btn pormayorUnico">Comienza a cotizar</a>
		                  </div>
		            {% endif %} 
	        		</div>
	        	</div>
        	</div>
		</div>
    </main>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		//Cambio Footer
	    $('.footerSecundario').removeClass('hide');
	    $('.footerPrincipal').addClass('hide');
	</script>
    <script src="{{base_url('public/')}}js/tienda/jsPerfil.js" type="text/javascript"></script>
{% endblock %}