{% extends "layout/intranet/template_usu.twig" %}

{% block content %} 
{% set idProducto = idProducto + 1 %}
    <!-- Page Layout here -->
    <main class="container"> 
      <h5 class="center">Preguntas</h5>
      {% set idProducto = 0 %}
      {% for com in respuesta_comentario %}
        {% if idProducto == 0 %}
          <div class="card horizontal cardCustomComment">
            <div class="sideBorder" style="background-color:{{configuracion.Con_ColorBtn}}"></div>
            <div class="card-image valign-wrapper" style="max-width:100px">
              <img src="{{ruta_img}}{{com.Prf_Img}}" class="responsive-img">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div><span class="comentCorreo">{{com.Pro_Nombre}}</span></div>
                <article>
                  <i class="material-icons left" style="color:{{configuracion.Con_ColorHexa}}">chat</i>{{com.Com_Comentario}}<span class="grey-text" style="font-size:0.7rem;"> - {{com.Com_FechaCreacion|date('d/m/Y  h:i')}} - </span>  
                </article>  
                {% if com.Res_Respuesta %}        
                  <article>
                    <i class="material-icons left" style="color:{{configuracion.Con_ColorBtn}}">comment</i><span class="commentRespuesta">{{com.Res_Respuesta}}</span>
                  </article> 
                {% else %}
                  <article>
                    <i class="material-icons left" style="color:#c7c7c7">comment</i><span class="commentRespuesta">Sin Respuesta</span>
                  </article>  
                {% endif %}
              </div>
            {% set idProducto = com.Pro_IdProducto %}
        {% elseif idProducto == com.Pro_IdProducto  %}
           <div class="card-content" style="padding-top:0px">
            <article>
              <i class="material-icons left" style="color:{{configuracion.Con_ColorHexa}}">chat</i>{{com.Com_Comentario}}<span class="grey-text" style="font-size:0.7rem;"> - {{com.Com_FechaCreacion|date('d/m/Y  h:i')}} - </span>  
            </article>          
            {% if com.Res_Respuesta %}        
              <article>
                <i class="material-icons left" style="color:{{configuracion.Con_ColorBtn}}">comment</i><span class="commentRespuesta">{{com.Res_Respuesta}}</span>
              </article> 
            {% else %}
              <article>
                <i class="material-icons left" style="color:#c7c7c7">comment</i><span class="commentRespuesta">Sin Respuesta</span>
              </article>  
            {% endif %}
          </div>
          {% set idProducto = com.Pro_IdProducto %}
        {% elseif idProducto != com.Pro_IdProducto %}
            </div>
          </div>
          <div class="card horizontal cardCustomComment">
            <div class="sideBorder" style="background-color:{{configuracion.Con_ColorBtn}}"></div>
            <div class="card-image valign-wrapper" style="max-width:100px">
              <img src="{{ruta_img}}{{com.Prf_Img}}" class="responsive-img">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div><span class="comentCorreo">{{com.Pro_Nombre}}</span></div>
                <article>
                  <i class="material-icons left" style="color:{{configuracion.Con_ColorHexa}}">chat</i>{{com.Com_Comentario}}<span class="grey-text" style="font-size:0.7rem;"> - {{com.Com_FechaCreacion|date('d/m/Y  h:i')}} - </span>  
                </article>          
                {% if com.Res_Respuesta %}        
                  <article>
                    <i class="material-icons left" style="color:{{configuracion.Con_ColorBtn}}">comment</i><span class="commentRespuesta">{{com.Res_Respuesta}}</span>
                  </article>
                {% else %}
                  <article>
                    <i class="material-icons left" style="color:#c7c7c7">comment</i><span class="commentRespuesta">Sin Respuesta</span>
                  </article>  
                {% endif %}
              </div> 
          {% set idProducto = com.Pro_IdProducto %}
        {% endif %}

      {% endfor %}
    </main>
{% endblock %}

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/jsPerfil.js" type="text/javascript"></script>
{% endblock %}
