{% extends "layout/intranet/template_usu.twig" %}

{% block head %}
	<style type="text/css">

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: #f4f4f4;
}
.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: #0d0d0d;
}
	</style>

<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/jquery-confirm.min.css')}}"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/please-wait.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/spinkit.css')}}"  media="screen,projection"/>
{% endblock %}

{% block content %}
    <!-- Page Layout here -->
    <main class="container">
      <div class="card">
          <div class="card-content">
            <span class="card-title">¿Qué paso con tu compra?</span>     	
				<ul class="collection">
					<li class="collection-item">
						<p>
					      <input name="rcompra" type="radio" id="r1" value="1r" />
					      <label for="r1">No recibí mi mercancía</label>
					    </p>
					</li>
					<li class="collection-item">
						<p>
					      <input name="rcompra" type="radio" id="r2" value="2r" />
					      <label for="r2">Recibí la mercancía con problemas</label>
					    </p>
					</li>
				</ul>
          </div>
		</div>
    </main>
{% endblock %}

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/jsPerfil.js" type="text/javascript"></script>
    <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-confirm.min.js')}}"></script>
    <script src="{{base_url('public/intranet/js/')}}please-wait.min.js" type="text/javascript"></script>
    <script type="text/javascript">
		  $(document).ready(function(){

		     $('#siguientetab').click(function(){
		     	var cCompra = $('input[name=ccompraradio]:checked').val();
		     	if(cCompra){
		     		$('ul.tabs').tabs('select_tab','ctienda');		     		
		     	}else{
		     		Materialize.toast('Selecciona una opción', 2000);
		     	}	     	
		     });		     

		     $('#atrasCcompra').click(function(){		     	
		     	$('ul.tabs').tabs('select_tab','ccompra');
		     });


		     $('.fCalificar').click(function(){

		     	var cCompra = $('input[name=ccompraradio]:checked').val();
		     	var cTienda = $('input[name=ctiendaradio]:checked').val();
		     	var comentario = $('#comentarioCompra').val();
		     	var idVenta = $(this).data('idven');
		     	var idTienda = $(this).data('idtie');
		     	var idUsuario = $(this).data('usu');

		     	if(cTienda && comentario){
		     		$.ajax({
				        data:{
				          'cCompra' : cCompra,
				          'cTienda' : cTienda,
				          'comentario' : comentario,
				          'idVenta' : idVenta,
				          'idTienda' : idTienda,
				          'idUsuario' : idUsuario
				          },
				        type: "POST",
				        url: base_url+'comprador/compra/califica_compra_tienda', 
				        dataType: "json",
				        success: function(data){
				          if(data){
				            $.confirm({
				              icon: 'email',
				              theme: 'modern',
				              closeIcon: false,
				              animationBounce: 1.5,
				              autoClose: 'Aceptar|3000',
				              type: 'green',
				              title: 'Calificación guardada exitosamente',
				              columnClass: 'small',
				              content: 'Gracias por calificar tu compra, así podremos ofrecerte un mejor servicio',
				              draggable: false,
				              buttons: {
				                Aceptar: {
				                  btnClass: 'btn',
				                  action: function (){
				                    window.location.href = base_url+'comprador/compra/detalle/'+idVenta;
				                  }
				                }
				              }
				            });
				          }
				          else{
				            Materialize.toast('<i class="material-icons left ">warning</i>Ocurrió un error', 2000, 'rounded warningToast');
				          }
				          
				        }
				     });

		     	}else{
		     		Materialize.toast('Selecciona una opción y dejanos tu comentario', 2000);
		     	}


		     });


		  });
    </script>
{% endblock %}
