{% for ped in detalle_pedido %}
	<div class="row">
  		<div class="col s4 m3 l2 center">
  			<img class="redondeo" src="{{ruta_img}}{% if ped.SKU_Img %}{{ped.SKU_Img}}{% else %}nofoto.png{% endif %}" height="50">
  		</div>
		<div class="col s5 m5 l5">
			<b>{{ped.Pro_Nombre}}</b></br>
			<span>{{ped.Var_Nombre}} {{ped.Vao_Nombre}}</span> - 
			<span style="font-size:12px" class="enfasisB">{{ped.SKU_Color|title}}</span>
			<br>
			<span style="font-size:12px" class="enfasisB">{{ped.Tie_Nombre|title}}</span>
		</div>
  		<div class="col s3 m4 l3"><span>{{ped.Ped_Cantidad}}</span> <small class="enfasisB">{{ped.Unm_Nombre}}</small></div>
  		<div class="col s3 m4 l2 center">
  			{% for tip in tiendas_pedido %}
  				{% if tip.Tie_IdTienda == ped.Tie_IdTienda %}
  					{% if tip.Tip_Estatus == 1 %}
  						<span class="new badge">Pendiente</span>
  					{% else %}
  						<a href="{{base_url()}}comprador/index/dCotizacion/{{tip.Cot_IdCotizacion}}" class="btn btn-small" value="{{ped.Tie_IdTienda}}">Ver Cotización</a>
  					{% endif %}
  				{% endif %}
  			{% endfor %}
  		</div>
	</div>
{% endfor %}