<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{pagina.titulo}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin: 0; padding: 0;">
    	<table border="0" cellpadding="0" cellspacing="0" width="100%"> 
		    <tr>
		    	<td style="padding: 10px 0 30px 0;">
		        	<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
		          		<tr>
		            		<td align="center" bgcolor="#FEC00F" style="padding: 15px; color: #102542; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
		              			<div style="width:100px;">
		                			<img src="http://cocos.pe/img/logo.png" alt="logo-cocosPe" width="100%" height="100%" style="display: block;" />
		              			</div>
		            		</td>
		          		</tr>
		          		<tr>
		          			{% block content %} {% endblock %}
						</tr>
						{% block content2 %} {% endblock %}
						<tr>
							<td bgcolor="#001011" style="padding: 30px 30px 30px 30px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
							    	<tr>
							      		<td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
							        		&reg; 2018 Copyright <a href="http://www.pormayor.pe" style="color: #FEC00F;">pormayor.pe</a>.<br/>
							      		</td>
							      		<td align="right" width="25%">
								        	<table border="0" cellpadding="0" cellspacing="0">
									        	<tr>
										            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
										              <a href="http://www.twitter.com/" style="color: #ffffff;" target="_blank">
										                <img src="http://cocos.pe/img/twitter.png" alt="Twitter" width="25" height="25" style="display: block;" border="0" />
										              </a>
										            </td>
										            <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
										            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
										              <a href="https://www.facebook.com/pormayorpeoficial/" style="color: #ffffff;" target="_blank">
										                <img src="http://cocos.pe/img/face.png" alt="Facebook" width="25" height="25" style="display: block;" border="0" />
										              </a>
										            </td>
									            	<td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
									            	<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
									              		<a href="https://www.instagram.com/pormayor.pe/?hl=es-la" style="color: #ffffff;" target="_blank">
									                		<img src="http://cocos.pe/img/instagram.png" alt="instagram" width="25" height="25" style="display: block;" border="0" />
									              		</a>
									            	</td>
									            	<td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
									            	<td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
									              		<a href="mailto:contacto@pormayor.pe" style="color: #ffffff;" target="_blank">
									                		<img src="http://cocos.pe/img/email.png" alt="Correo" width="25" height="25" style="display: block;" border="0" />
									              		</a>
									            	</td>
									          	</tr>
								        	</table>
							      		</td>
							    	</tr>
							    	<tr>
							      		<td colspan="3" style="color:rgba(255,255,255,0.4) ;padding: 15px 0px 10px 0px;font-family: Arial, sans-serif; font-size: 12px;">
							  				Siempre deseamos brindarte la mejor experiencia en tiendas virtuales en Perù, estos y muchos màs productos estan disponibles para ti.
										</td>
							    	</tr>
							  	</table>
							</td>
						</tr>
						
					</table>
				</td>
			</tr>
		</table>
</body>
</html>


