<ul class="collection">
{% for com in comentarios %}
  <li class="collection-item">{{com.Com_Comentario}} <span style="font-size:0.7rem" class="grey-text right">{{com.Com_FechaRegistro|date('d/m/Y')}}</span> </li>
{% endfor %}
</ul> 