{% extends "layout/intranet/template_lite.twig" %}
{% block head %}
  <style type="text/css">
    blockquote {
      margin: 10px 0px;
      border-left: 5px solid {{configuracion.Con_ColorHexa}};
    }
    table td{
      padding: 10px 5px;
    }
  </style>
{% endblock %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="card">
        <div class="card-content">
          {% for pro in producto %} 
            <div class="row ">
              <div id="imagenesPro" class="col s12 l6 center hide-on-med-and-down">                             
                  <div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails redondeo" style="background-color:#121212">
                    <a href="{{ruta_img}}{{fotos[0].Prf_Img}}">
                      <img src="{{ruta_img}}{{fotos[0].Prf_Img}}" class="containImg" style="width:100%;height:400px"/>
                    </a>                
                  </div>                  
                  <ul class="thumbnails">
                    {% for fot in fotos %}
                      {% if pro.Pro_IdProducto == fotos[0].producto_Pro_IdProducto %}
                      <li class="col">
                        <a href="{{ruta_img}}{{fot.Prf_Img}}" data-standard="{{ruta_img}}{{fot.Prf_Img}}">
                          <img src="{{ruta_img}}{{fot.Prf_Img}}" class="redondeo containImg" style="height:50px">
                        </a>
                      </li>             
                      {% endif %}         
                    {% endfor %}
                  </ul>                
              </div>
              <div class="col s12 l6 center show-on-medium-and-down hide-on-large-only">                                               
                  <div class="slider">
                    <ul class="slides redondeo" style="margin-top: 30px;">
                      {% for fot in fotos %}
                        {% if pro.Pro_IdProducto == fotos[0].producto_Pro_IdProducto %}
                        <li>
                            <img class="redondeo" src="{{ruta_img}}{{fot.Prf_Img}}" style="">
                        </li>             
                        {% endif %}         
                      {% endfor %}
                    </ul>
                  </div>               
              </div>
              <div class="col s2"></div>     
              <div class="col s12 l6">
                  <h3 class="center">{{pro.Pro_Nombre}}</h3>
                  <div class="divider"></div>
                  {% if configuracion.Mostrar_Precio == 1 %}
                  {% else %} 
                    <h6 style="font-size: 0.8rem; font-style: italic">Precio entre: S/ {{pro.Pro_PrecioRango}}</h6>
                  {% endif %}
               <blockquote>{{pro.Pro_Descripcion}}</blockquote>
              <table class="bordered">
                  <thead>
                    <tr>
                        <th class="center" width="50%">Variaciones</th>
                        <th class="center" width="50%">Cant.</th>
                    </tr>
                  </thead>
                  <tbody>                            
                    {% for sku in SKU %}                              
                      {% if pro.Pro_IdProducto == sku.Producto_Pro_IdProducto %}
                        <tr>
                          <td>
                            <div class="row center sinBordeBottom">
                              <div class="col s12 m6 l5">
                                {% if sku.SKU_Img %}
                                <img class="materialboxed redondeo" src="{{ruta_img}}{{sku.SKU_Img}}" style="margin: 0 auto" height="60" >
                                {% else %}
                                <img class="materialboxed redondeo" src="{{ruta_img}}nofoto.png" style="margin: 0 auto" height="60" >
                                {% endif %}
                              </div>
                              <div class="col s12 m6 l7">
                                <span class="enfasisA">{{sku.Var_Nombre}} {{sku.Vao_Nombre}}</span> - <span class="enfasisB">{{sku.SKU_Color|title}}</span>
                              </div>
                            </div>
                          <td>
                            <div class="row center valign-wrapper sinBordeBottom">
                              <div class="col s12 m12 l12 sinPadding">
                                <input type="number" name="cantidad" class="cantSku" id="{{sku.SKU_IdSku}}" style="margin:0 0 1px 0"  data-productname="{{pro.Pro_Nombre}}" data-productid="{{sku.SKU_IdSku}}" data-price="0" data-tipovariacion="{{sku.Var_Nombre}}" data-color="{{sku.SKU_Color}}" data-variacion="{{sku.Vao_Nombre}}" data-img="{% if sku.SKU_Img %}{{sku.SKU_Img}} {% else %}nofoto.png{% endif %}" data-unidad="{{pro.Unm_Nombre}}" data-idtienda="{{pro.Tie_IdTienda}}">
                              </div>             
                            </div>
                        </tr>                           
                      {% endif %}
                    {% endfor %}
                    <tr>
                      <td class="center">
                        <div class="col s12 m12 l12">
                          <a class="btn green add_cart">Agregar</a>
                         </div>
                       </td>
                       <td class="card-title">Cantidad Total: <strong id="totalcantidad"></strong> unidades</td>

                    </tr>
                  </tbody>
                </table>
            </div>            
          </div> 
      <div class="divider"></div>
        <div class="row" id="comentsBlock">
          <div class="col s12 m12 l12">
            <span class="card-title">Comentarios</span>
            <div class="row">
              <div class="col s12 m6 l6" id="divComentario">
                  <ul class="collection" style="max-height:300px;overflow-y:auto;">
                  {% for com in comentarios_respuestas %}
                    <li class="collection-item">
                      <article >
                      {{com.Com_Comentario}} <span style="font-size:0.7rem" class="right">{{com.Com_FechaCreacion|date('d/m/Y')}}</span> 
                      </article>
                      {% if com.Res_Respuesta %}
                      <article class="grey-text" style="margin-left: 20px">R: {{com.Res_Respuesta}}
                       <span style="font-size:0.7rem" class="right">{{com.Res_FechaCreacion|date('d/m/Y')}}</span>
                      </article>
                      {% endif %}                      
                    </li>
                  {% endfor %}
                  </ul>                  
              </div>
              <div class="input-field col s12 m6 l6">
                {% if usuario.id_usuario %}
                <textarea id="comentarioPro" class="materialize-textarea" maxlength="100" data-length="100"></textarea>
                <label for="comentarioPro">¿Que quieres saber?</label>
                <a style="margin-left:15px" class="btn right enviarComentario" data-idproducto="{{pro.Pro_IdProducto}}" data-usuario="{{usuario.id_usuario}}">Enviar</a>
                {% else %}
                Para hacer alguna pregunta debes estar <a href="http://pormayor.cocos.pe/usuario/login">registrado</a>  
                {% endif %} 
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>
  </main>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large modal-trigger pulse white-text pormayorAccent" href="#modal_resumenCotizacion">
      <img src="{{ruta_img}}pedidoIcon.svg" type="image/svg+xml" class="FAB" height="42">
    </a>
  </div>  
   
  <!-- CARRITO DE COMPRA -->
  <div id="modal_resumenCotizacion" class="modal">
    <div class="modal-content validar modalCustomPro" style="background-color:white">
      <a class="modal-close modal-close-custom tooltipped right" data-dismiss="modal" data-position="bottom" data-tooltip="Cerrar ventana"><i class="material-icons  closeIconA">close</i></a>
      <h5 class="headerModal z-depth-2" style="background-color:{{configuracion.Con_ColorHexa}}">Productos a Cotizar</h5>
      <div id="cart_details">
        <div class="row">
          <div class="center col s12 m12 l12" style="margin-top: 20px;">
            <img src="{{ruta_img}}emptyCart.png" height="150"></img>
          </div>
          <div class="center col s12 m12 l12">
            <h5>Sin productos agregados</h5>
            <p class="enfasisB">No haz agregado productos para cotizar</p>
          </div>
          <div class="center col s12 m12 l12">
            <a class="btn center modal-close">Ir a comprar</a>
          </div>
        </div>
      </div>  
    </div>
    <div class="modal-footer">
      <!-- {% if carrito is empty %}
      <a class="btn center modal-close">Ir a comprar</a>
      {% else %}
        <a href="#" class="modal-action modal-close btn-flat">Atrás</a> 
      {% endif %} -->
    </div>
  </div>
  
{% endblock %}

{% block script %}
    <script type="text/javascript">
    //Cambio sub menu
    $('.nav-content').slideUp(500, function (argument) {
        $('.menuMobilePri1').addClass('hide');
        $('.menuMobilePri2').addClass('hide');
        $('.menuMobilePri3').addClass('hide');
        $('.menuMobileSec1').removeClass('hide');
        $('.menuMobileSec2').removeClass('hide');
        $('.nav-content').slideDown(500);
    });
  
    $(document).ready(function(){
      //SMOTH SCROLL
      $('.comentsBtn').not('[href="#"]')
        .click(function(event) {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              event.preventDefault();
              $('html, body').animate({
                scrollTop: target.offset().top - 100
              }, 2000, function() {
                var $target = $(target);
                $target.focus();
                if ($target.is(":focus")) {
                  return false;
                } else {
                  $target.attr('tabindex','-1');
                  $target.focus();
                };
              });
            }
          }
        });

    //SLIDER
    $('.slider').slider({
      height: 250,
      interval: 10000,
    });

      var $easyzoom = $('.easyzoom').easyZoom();

      var api1 = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');

    $('.thumbnails').on('click', 'a', function(e) {
        var $this = $(this);
        e.preventDefault();
        api1.swap($this.data('standard'), $this.attr('href'));
    });

    $('#imagenesPro').stick_in_parent({
        inner_scrolling: false,
        offset_top: 80
      });
    $('textarea#comentarioPro').characterCounter();

    });
    </script>
    <script src="{{base_url('public/')}}js/tienda/cart_cotizacion.js?v1.0.1" type="text/javascript"></script>
    <script src="{{base_url('public/')}}js/easyzoom.js" type="text/javascript"></script>

{% endblock %}