{% extends "layout/intranet/template_adm.twig" %}

{% block content %}
    <main class="container" id="mainProducto">
 
              <div class="card">
                <div class="card-content">
                    <span class="card-title">Agregar producto</span>
                    <div class="row">                    
                            <div class="input-field col s12 l12">
                                <input placeholder="¿Comó se llama su producto?" type="text" maxlength="50" id="nombreProducto" class="validate">
                                <label for="nombreProducto" class="active">Nombre del Producto</label>
                            </div>
                            <div class="col s12 l12">
                                <label>Descripción del Producto</label>
                                <textarea name="content" id="descripcionProducto">              
                                </textarea>
                            </div>      
                            <div class="col s12 l6">
                            <label>Selecione la unidad de venta de tu producto</label>                          
                                <select id="unmSelect" class="browser-default">
                                    <option value="" disabled selected>Seleccione la unidad de medida</option>
                                  {% for uni in unidad %}
                                    <option value="{{uni.Unm_IdUnidadMedida}}">{{uni.Unm_Nombre}}</option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div id="valorUnm" class="input-field col s12 l6 hide">                     
                                <input id="valorUnm2" type="number" min="1" placeholder="¿Cuantas unidades son?">
                            </div>
                            <div class="input-field col s12 l12">
                                {# <label>Precio Rango de tu Producto</label> #}
                                <input id="precioMin" class="col s6 l5" min="1" type="number" placeholder="Minímo">
                                <input id="precioMax" class="col s6 l5 offset-l2" min="1" type="number" placeholder="Máximo">
                                <label style="padding: 1rem 1 rem;">Precio rango de su producto</label>
                            </div>
                        
                        <div class="col s12 l12">
                            <form action="#">
                            <label>Selecione las fotos principales de su producto</label>
                              <div class="file-field input-field">
                                <div class="btn">
                                  <span><i class="material-icons">photo_camera</i></span>
                                  <input type="file" id="filePro" class="filePro" accept="image/*" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                            </form>
                        <div class="preLoadImg"></div>
                        </div>
                        <div class="col s12 l12">
                            <div class="">
                                <select id="catSelect" class="browser-default">
                                    <option value="" disabled selected>Seleccione la Catagoría</option>
                                  {% for cat in categoria %}
                                    <option value="{{cat.Cat_IdCategoria}}">{{cat.Cat_Nombre}}</option>
                                  {% endfor %}
                                </select>
                                {# <label>Categoría</label> #}
                            </div>
                        </div>
                        <div class="col s12 l12">
                            <div class="" id="divSucSelect"></div>
                        </div>
                        <div class="col s12 l12">
                            <div class="" id="divSucDetalle"></div>
                        </div>
                        <div class="col s12 l12">
                            <div id="divVarCat"></div>
                        </div>
                        <div class="col s12 l12">                            
                            <ul id="detalleProducto"> 
                            </ul>
                        </div>
                    </div>       
                </div>
                <div class="card-action center">
                    <a class="btn addProductoBD">GUARDAR PRODUCTO</a>
                    <a href="{{base_url()}}usuario/inventario" class="btn orange">REGRESAR</a>
                </div>
              </div>
 
    </main>

{% endblock %}

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/agregarproducto.js" type="text/javascript"></script>
    <script>
    $(function() {
        // Multiple images preview in browser
        var imagesPreview = function(input, placeToInsertImagePreview) {

            if (input.files) {
                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function(event) {
                        $($.parseHTML('&nbsp;&nbsp;<img height="70px">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }

        };

        $('#filePro').change(function() {
            $('.preLoadImg').text('');
            imagesPreview(this, 'div.preLoadImg');
        });
    });
        </script>
{% endblock %}
                 
