{% extends "layout/intranet/template_adm.twig" %}

{% block content %}
    <!-- Page Layout here -->
    <main class="container">
    <h5 class="card-title center">Preguntas</h5>	
	{% for com in comentarios %}	
		<div class="card horizontal cardCustomComment">
			<div class="sideBorder" style="background-color:{{configuracion.Con_ColorBtn}}"></div>
	      <div class="card-image valign-wrapper" style="max-width:100px">
	        <img src="{{ruta_img}}{{com.Prf_Img}}" class="responsive-img">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">
	        <div><span class="comentCorreo">{{com.Usu_Correo}}</span>&nbsp;&nbsp;<span class="comentNombre">({{com.Pro_Nombre}})</span></div>
	        <article>
	        	<i class="material-icons left" style="color:{{configuracion.Con_ColorHexa}}">chat</i>{{com.Com_Comentario}}<span class="grey-text" style="font-size:0.7rem;"> - {{com.Com_FechaCreacion|date('d/m/Y  h:i')}} - </span>	
	        </article>	        
	        <article>
	        	{% if com.Res_Respuesta %}
	        		<i class="material-icons left" style="color:{{configuracion.Con_ColorBtn}}">comment</i><span class="commentRespuesta">{{com.Res_Respuesta}}</span>
	        	{% else %}
	        		<input type="text" placeholder="Responder comentario" id="respuesta{{com.Com_IdComentario}}"><a class="btn rComentario" data-idcomentario="{{com.Com_IdComentario}}">Enviar</a>
	        	{% endif %}
	        </article>
	        </div>
	      </div>
	    </div>
	{% endfor %}

    </main>
{% endblock %}

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/jsResponder.js" type="text/javascript"></script>
{% endblock %}
