{% extends "layout/intranet/template_adm.twig" %}
{% block content %}
    <!-- Page Layout here -->
    <main class="container">
    	<div class="card-panel z-depth-2">
		  <div class="section coloresSection">
			<h5>Colores de Tienda</h5>
			<div class="row">
				<div class="col s6 m3 l2">
					<div class="colorPrin" {% if configuracion.Con_ColorHexa %} style="background-color:{{configuracion.Con_ColorHexa}}" data-cp="{{configuracion.Con_ColorHexa}}" {% else %}  data-cp="#fff555" {% endif %}></div>
				</div>
				<div class="col s6 m3 l2">
					<div class="colorAcen" {% if configuracion.Con_ColorBtn %} style="background-color:{{configuracion.Con_ColorBtn}}" data-ca="{{configuracion.Con_ColorBtn}}" {% else %}  data-cp="#fff888" {% endif %}></div>
				</div>
				<div class="col s12 m6 l8">
					<div class="content_preview valign-wrapper" {% if configuracion.Con_ColorHexa %} style="background-color:{{configuracion.Con_ColorHexa}}" {% endif %}>
						<a class="btn mockupPreviewBtn" {% if configuracion.Con_ColorBtn %} style="background-color:{{configuracion.Con_ColorBtn}}" {% endif %}>Ejemplo</a>	
					</div>
				</div>
				<div class="col s12">
					<!-- <button class="btn guardarConfi" data-idtienda="{{tienda.Tie_IdTienda}}">Cambiar</button> -->
					<button data-target="containerColors" class="btn cambiarColoresBtn modal-trigger">Cambiar</button>	
				</div>
				
			</div>
		  </div>
		  <div>

		  </div>
		  <!-- MODAL SELECCION DE COLOR -->
		  <div id="containerColors" class="modal">
		    <div class="modal-content grey darken-4  modalCustom">
		      <h5 class="center-align">Selecciona 2 Colores</h5>
		      <div class="row">
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox red" data-color="#f44336"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox pink" data-color="#e91e63"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox purple" data-color="#9c27b0"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox deep-purple" data-color="#673ab7"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox indigo" data-color="#3f51b5"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox blue" data-color="#2196f3"><i class="material-icons checkSign">check</i></div>
		      	</div>

		      	<div class="col s3 m2 l2">
		      		<div class="colorBox light-blue" data-color="#03a9f4"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox teal" data-color="#009688"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox green" data-color="#4caf50"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox light-green" data-color="#8bc34a "><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox lime" data-color="#cddc39"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox yellow" data-color="#ffeb3b"><i class="material-icons checkSign">check</i></div>
		      	</div>

		      	<div class="col s3 m2 l2">
		      		<div class="colorBox amber" data-color="#ffc107"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox orange" data-color="#ff9800"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox deep-orange" data-color="#ff5722"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox brown" data-color="#795548"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox grey" data-color="#9e9e9e"><i class="material-icons checkSign">check</i></div>
		      	</div>
		      	<div class="col s3 m2 l2">
		      		<div class="colorBox blue-grey" data-color="#607d8b"><i class="material-icons checkSign">check</i></div>
		      	</div>

		      </div>
		    </div>
		    <div class="modal-footer grey darken-4">
		      <a id="contBtn"  href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Continuar</a>
		    </div>
		  </div>
    	  <div class="divider"></div>
		  <div class="section">
			<h5>Precio en productos</h5>
			 <div class="switch">
			    <label>
			      No
			      <input id="mostrarPrecio"  data-precio="{{configuracion.Mostrar_Precio}}" type="checkbox">
			      <span class="lever" style="background-color: {{configuracion.Con_ColorHexa}}"></span>
			      Si
			    </label>
			  </div>
		  </div>
		  <div class="divider"></div>
		  <div class="row"></div>
		  <div class="row">
		  	<div class="col s12 m12 l12">
			  <a class="right waves-effect waves-light btn guardarConfi" data-idtienda="{{tienda.Tie_IdTienda}}"><i class="material-icons left">save</i>Guardar</a>
			</div>
		  </div>
    	</div>
    </main>
{% endblock %}
{% block script %}
    <script src="{{base_url('public/')}}js/tienda/configuracion.js" type="text/javascript"></script>
{% endblock %}
