{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
<!-- Incluyendo Culqi Checkout -->
<script src="https://checkout.culqi.com/js/v3"></script>
<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/please-wait.css')}}"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/spinkit.css')}}"  media="screen,projection"/>
<style type="text/css">
    .pg-loading-logo-header{
        display: none;
    }
    .sk-folding-cube .sk-cube:before{
        background-color: #ffffffc2 !important;
    }
</style>
{% endblock %}
{% block content %}
    {% set a = 4 %}

    {% set fecha_termino_prueba = tienda.Tie_FechaRegistro|date_modify("+15 day")|date("d-M-Y") %}
    {% set fecha_termino_plan = pagos[0].Pag_FechaRegistro|date_modify("+"~a~" month")|date("d-m-Y") %}
    {% set fecha_aviso_plan = fecha_termino_plan|date_modify("-15 day")|date("d-m-Y") %}
    {% set dia_actual =  "now"|date("d-M-Y")  %}
    {% set resta_fechas = date(fecha_aviso_plan).diff(date(dia_actual)) %}
    {% set dias_para_corte = resta_fechas.days %}
    <main class="container">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">payment</i>Plan y pagos
                            {% if cantidad_pagos == 0 %}
                                <span style="background-color: {{configuracion.Con_ColorBtn}}" class="new badge">Periodo de Prueba</span>
                            {% else %}
                                {% if tienda.Pla_IdPlan == 2 %}
                                    <span style="background-color: {{configuracion.Con_ColorBtn}}" class="new badge">Premium</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="collapsible-body sinPadding">
                            <div class="row">
                                <div class="col s12">
                                    {% if cantidad_pagos > 0 %}
                                    <div class="containerFactu"> 
                                        {% if tienda.Pla_IdPlan == 2 %}
                                            <img src="{{ruta_img}}subsPremiun.png" style="width: 100%">
                                            <p class="centrarForzado enfasisB center">Valido por <b>{{tienda.Tie_Cuota}} meses</b> <br>
                                             Vence el <b>{{fecha_termino_plan|date("d")}} de {{meses['nombre'][fecha_termino_plan|date("m")|number_format]}} del {{fecha_termino_plan|date("Y")}}</b></p>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                    <div class="containerFactu">
                                        {% if fecha_termino_prueba == dia_actual %}
                                            <p class="centrarForzado enfasisB center">Selecciona <b>un plan</b> para disfrutar nuestro servicio</p>
                                        {% else %}
                                            <p class="centrarForzado enfasisB center">Su fecha de prueba expira el <b>{{fecha_termino_prueba}}</b></p>  
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row cardContentFix">
                                {% if cantidad_pagos > 0 %}
                                    {% if dias_para_corte < 15 %}
                                    <div class="col s12 sinPadding">
                                        <form class="formulario validate">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">date_range</i>
                                                <select class="validate" id="cuota">
                                                  <option value="3">Trimestral (3 Meses)</option>
                                                  <option value="6">Semestral (6 Meses)</option>
                                                  <option value="12">Anual (12 Meses)</option>
                                                </select>
                                                <label for="cuota">Tipo de Pago</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <i class="material-icons prefix">autorenew</i>
                                                <input  id="monto_mensual" type="text" class="" aria-required="true" value="30" name="monto_mensual" readonly="">
                                                <label for="monto_mensual">Precio</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <i class="material-icons prefix">attach_money</i>
                                                <input  id="monto_pagar" type="text" class="" aria-required="true" value="90" readonly="">
                                                <label for="monto_pagar">Total</label>
                                            </div>
                                            <div class="center input-field col s12" style="margin-bottom: 15px">
                                                <button class="btn white-text" name="action" style="padding:8px;line-height:20px; color:{{configuracion.Con_ColorBtn}}" id="buyButton"> Pagar <i class="material-icons right send">send</i>
                                                </button>
                                            </div>
                                        </form>  
                                    </div>
                                    {% else %}
                                    <div class="col s12 center sinPadding">
                                        <img src="{{ruta_img}}emptyPago.png" height="250"></img>
                                    </div>
                                    {% endif %}
                                {% else %}
                                    <div class="col center s12 m6 l6">
                                        <a class="buyPlan" href="#" style="position:relative">
                                            <img class="planImg" src="{{ruta_img}}planPremiun.png">
                                            <img class="planImgFooter planTrimesImg" src="{{ruta_img}}planPremiunTrimes.png">
                                            <img class="planImgFooter planSemesImg" src="{{ruta_img}}planPremiunSemes.png">
                                            <img class="planImgFooter planAnualImg" src="{{ruta_img}}planPremiunAnual.png">
                                        </a>
                                    </div>  
                                    <div class="col center m6 l6 hide-on-small-only ">
                                        <a class="buyPlan" href="#" style="position:relative">
                                            <img class="planImg" src="{{ruta_img}}planPremiun.png">
                                            <img class="planImgFooter planTrimesImg" src="{{ruta_img}}planPremiunTrimes.png">
                                            <img class="planImgFooter planSemesImg" src="{{ruta_img}}planPremiunSemes.png">
                                            <img class="planImgFooter planAnualImg" src="{{ruta_img}}planPremiunAnual.png">
                                        </a>
                                    </div>
                                    <div class="row"></div>
                                    <div class="col center s6">
                                        <button data-plan="trimestre" class="btnPlan btn-large btn-flat waves-effect waves-green black-text" style="border: 1px dotted {{configuracion.Con_ColorBtn}};; background-color:transparent">Trimestre</button>
                                    </div>
                                    <div class="col center s6">
                                        <button data-plan="semestre" class="btnPlan btn-large btn-flat waves-effect waves-green black-text" style="border: 1px dotted {{configuracion.Con_ColorBtn}};; background-color:transparent">Semestre</button>
                                    </div> 
                                    <div class="col center s12">
                                        <button data-plan="año" class="btnPlan btn-large btn white-text ">Año</button>
                                    </div> 
                                                                            
                                {% endif %}
                            </div>
                        </li>
                    {% if cantidad_pagos > 0 %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">history</i>Historial de Pagos</div>
                            <div class="collapsible-body sinPadding">
                                <div class="row cardContentFix">
                                    <div class="col s12 l12 sinPadding">
                                        <table id="tablaProductos" class="tablaVendedores heighlight centered">
                                            <thead>
                                                <tr style="background-color:{{configuracion.Con_ColorHexa}}">
                                                    <th>Fecha</th>
                                                    <th>Meses</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pag in pagos %}
                                                    <tr>
                                                        <td>
                                                            <span style="font-size: 12px">{{pag.Pag_FechaRegistro|date("d")}} de {{meses['nombre'][pag.Pag_FechaRegistro|date("m")]}} del {{pag.Pag_FechaRegistro|date("Y")}} </span>

                                                            <br><small class="enfasisB">{{pag.Pag_FechaRegistro|date("g:i A")}}</small>
                                                        </td>
                                                        <td>{{pag.Pag_Cuota}}</td>
                                                        <td>S/ {{pag.Pag_Monto|number_format(2, '.', ',')}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="{{base_url('public/intranet/js/')}}please-wait.min.js" type="text/javascript"></script>
    <script>
    $(".planSemesImg").hide();
    $(".planAnualImg").hide();
    //Cambios de planes
    $(".btnPlan").click(function() {
        var tipoPlan = $(this).data('plan');

        if(tipoPlan == "trimestre"){
            $(".planSemesImg").hide();
            $(".planAnualImg").hide();
            $(".planTrimesImg").show();
        }else if (tipoPlan == "semestre"){
            $(".planSemesImg").show();
            $(".planAnualImg").hide();
            $(".planTrimesImg").hide();
        }else if (tipoPlan == "año"){
            $(".planSemesImg").hide();
            $(".planAnualImg").show();
            $(".planTrimesImg").hide();
        }
    });

    var monto;
    var cuota;

        $("#cuota").change(function() {
            var cuotaActual = $("#cuota").val();            
            var monto_mensual = $("#monto_mensual").val();

            $("#monto_pagar").val(cuotaActual*monto_mensual);
        });

        Culqi.publicKey = 'pk_test_0Q0okOSpNjZYyago';

        var descripcion = 'Pago tienda pormayor.pe';
        //Pago de pago
        $('.buyPlan').click(function(e) {
            var montoBase;
            if ($(this).data('plan') == 'premiun'){
                montoBase = 45;
            }else{
                montoBase = 30;
            }

            cuota = 3;
            monto_pagar = cuota*montoBase;
            monto = monto_pagar;

            Culqi.settings({
                title: 'PorMayor',
                currency: 'PEN',
                description: descripcion,
                amount: parseInt(monto_pagar)*100
            });

            Culqi.options({
                lang: 'es',
                style: {logo: "{{ruta_img}}"+'logoculqi.png', maincolor:"{{configuracion.Con_ColorBtn}}"}
            });

            Culqi.open();
            e.preventDefault();
                
        });


        $('#buyButton').on('click', function(e) {
            cuota = $("#cuota").val();
            monto_pagar = $("#monto_pagar").val();
            monto = monto_pagar;

            if(cuota == '' ||  monto_pagar == ""){
                Materialize.toast('<i class="material-icons left">warning</i>No puedes dejar campos vacios', 2000, 'rounded warningToast');
            }
            else
            {
                if(cuota > 0){

                    Culqi.settings({
                        title: 'PorMayor',
                        currency: 'PEN',
                        description: descripcion,
                        amount: $("#monto_pagar").val()*100
                    });

                    Culqi.options({
                        lang: 'es',
                        style: {logo: "{{ruta_img}}"+'logoculqi.png', maincolor:"{{configuracion.Con_ColorBtn}}"}
                    });

                    Culqi.open();
                    e.preventDefault();
                }
                else{
                    Materialize.toast('<i class="material-icons left">warning</i>La mensualidad debe tener un numero positivo', 2000, 'rounded warningToast');
                }
            }
        });

        function culqi() {
            var loading_screen = pleaseWait({
                logo: '',
                backgroundColor: "#121212c9",
                loadingHtml: "<i style='font-size:70px' class='white-text material-icons'>credit_card</i><h4 style='font-weight: 600;' class='white-text'>Efectuando pago...</h4><div class='sk-folding-cube'><div class='sk-cube1 sk-cube'></div><div class='sk-cube2 sk-cube'></div><div class='sk-cube4 sk-cube'></div><div class='sk-cube3 sk-cube'></div></div>"
            });
            if (Culqi.token){
                // ¡Objeto Token creado exitosamente!
                var token = Culqi.token.id;
                var correo = Culqi.token.email;

                var data = {
                            descripcion: descripcion, 
                            monto: monto,
                            cuota: cuota, 
                            token: token, 
                            correo:correo
                        }
                        console.log(data);

                $.post(base_url+'pago/culqi', data, function(res){
                    if(res == 1)
                    {
                        window.location.href = base_url+'usuario/facturacion';                        
                    }

                })

              } else { 
                console.log(Culqi.error);
                alert(Culqi.error.user_message);
            }
        };

    </script>
{% endblock %}
