{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/gestion_pedido.css')}}"  media="screen,projection"/>
{% endblock %}
{% block content %}
   	<main class="container">
    	<div class="row card">
      		<div class="card-content">
      			<div class="col s12">
      				<h5 class=" center card-title">Pedidos</h5>
      			</div>
      			<div class="row">
      				<div class="col s5 right">
			        	Porcentaje mínimo de cotización %
			          	<div class="input-field inline">
			            	<input type="number" name="porcentaje" id="porcentaje" style="width: 100px; border-bottom: 2px solid {{configuracion.Con_ColorBtn}}; text-align: center; background: #cccccc3b" value="{{tienda.Tie_PorcentajeCotizacion}}">
			          	</div>
			        </div>
      			</div>
				<div class="row"><div class="divider"></div></div>
				{% for ped in pedido %}
					<div class="card hoverable cardCustomGestion">
						<a class="tooltipped pedidoId" data-position="bottom" data-delay="20" data-tooltip="Ver pedido"  data-id="{{ped.Ped_IdPedido}}" href="#">
							<div class="card-content cardContentGestion">
								<div class="col s5 m5 l5" >
									<div class="containPedido white-text" style="background-color: {{configuracion.Con_ColorBtn}}">
										<span><i class="material-icons">menu</i></span>
										<span class="nroPedidoGestion">{{ "%06d"|format(ped.Ped_IdPedido) }}</span><br>
										<small>{{ped.Ped_FechaCreacion|date("d - M - Y")}}</small>
									</div>
								</div>
								<div class="nombrePedidoCont col s7 m7 l7 flow-text valign-wrapper">
									<span class="nombrePedido">{{ped.Per_Nombre}}</span>
								</div>
								{% if ped.Tip_Estatus == 2 %}
									<div class="checkPedidoCont valign-wrapper"><i class="material-icons">done_all</i></div>
								{% endif %}
							</div>
						</a>
					</div>
				{% endfor %}
	    	</div>
	    </div>
  	</main>
{% endblock %}
{% block script %}
    <script src="{{base_url('public/')}}js/tienda/jsGestionPedido.js" type="text/javascript"></script>
{% endblock %}