{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
  <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/gestion_pedido.css')}}"  media="screen,projection"/>
  <style type="text/css">
    .textSecund{
      color: rgba(0,0,0,0.8);
      border-top: 1px solid {{configuracion.Con_ColorHexa}};
      border-bottom: 1px solid {{configuracion.Con_ColorHexa}};
    }
    .collectionUnique{
      border-top: 0px;
    }
    .colorT{
      background-color: {{configuracion.Con_ColorBtn}} ;
    }
    .collection-item {
    }
  </style>
{% endblock %}
{% block content %}
  <main class="container" id="datosCotizacion">
    <div class="card">
      <span class="badge new badgePedido" >{% if pedido_respondido is empty %}Pendiente{% else %}Enviado{% endif %}</span>
      <div class="card-content cardGestionPedido2">
        <span class="card-title center">Pedido {{"%06d"|format(pdetalle[0].Ped_IdPedido)}}</span>
        <ul class="collection" style="border: 1px solid {{configuracion.Con_ColorHexa}}">
          <li class="collection-item flow-text white-text" style="background-color: {{configuracion.Con_ColorHexa}}">{{pedido.Per_Nombre}}</li>
          <li class="collection-item lighten-5 textSecund collectionUnique">{{pedido.Ped_Telefono}}</li>
          <li class="collection-item lighten-5 textSecund">{{pedido.Per_Correo}}</li>
          <li class="collection-item lighten-5 textSecund">{{pedido.Ped_Direccion}}</li>
        </ul>
        {% set total = 0 %}
        {% set totalDscto = 0 %}
        {% for ped in pdetalle %}
          <div class="validacionPrecio">
            <div class="row">
              <div class="col s3 m3 l3 center"><img class="imgPedido redondeo" src="{{ruta_img}}{% if ped.SKU_Img %}{{ped.SKU_Img}}{% else %}nofoto.png{% endif %}" height="40"></div>
              <div class="col s6 m6 l5">
                <span class="nombrePedido">{{ped.Pro_Nombre}}</span></br>
                {% set precioreal = ped.Pro_PrecioRango|split('-') %}
                <span class="cantPedido">{{ped.Ped_Cantidad}} <span style="font-size: 12px"> {{ped.Unm_Nombre}}</span></span><br>
                {% for vap in variacion_pedido %}
                  {% if ped.SKU_IdSKU == vap.SKU_IdSKU %}
                    <span class="tipoPedido">{{vap.Var_Nombre}} {{vap.Vao_Nombre}}</span><span class="colorPedido"></span>
                  {% endif %}
                {% endfor %}
                <br>
                {% set subtotal = precioreal[1]*ped.Ped_Cantidad %}
                {% set subtotalDscto = 0 %}
                Rango de Precio: <span class="nombrePedido"> {{ped.Pro_PrecioRango}}</span></br>
                <span class="redondeo importePed importe{{ped.Pro_IdProducto}}" id="importePro{{ped.SKU_IdSKU}}">Subtotal ={{subtotal}}</span>
                <br>
                <span class="redondeo importePed" id="importeProDscto{{ped.SKU_IdSKU}}">Subtotal Dscto</span>
              </div>
              {% if pedido_respondido is empty %}
                <div class="input-field col s3 m3 l2">
                  <input type="number" id="precio{{ped.SKU_IdSKU}}" value="{{precioreal[1]}}" min="1" class="validate valorU producto{{ped.Pro_IdProducto}}" data-cantidad="{{ped.Ped_Cantidad}}" data-idactual="{{ped.SKU_IdSKU}}" data-preciominimo="{{precioreal[0]}}" data-preciomaximo="{{precioreal[1]}}">
                  <label for="preciod{{ped.SKU_IdSKU}}">Precio Real </label>
                  <button class="btn btn-small precioigual" data-sku="{{ped.SKU_IdSKU}}" data-producto="{{ped.Pro_IdProducto}}" data-tipo="1" style="float: right"><i class="material-icons">done_all</i></button>
                </div>
                <div class="input-field col s3 m3 l2">
                  <input type="number" id="preciod{{ped.SKU_IdSKU}}" value="" min="1" class="validate valorUDscto productoDscto{{ped.Pro_IdProducto}}" data-cantidad="{{ped.Ped_Cantidad}}" data-idactual="{{ped.SKU_IdSKU}}" data-preciominimo="{{precioreal[0]}}" data-preciomaximo="{{precioreal[1]}}">
                  <label for="preciod{{ped.SKU_IdSKU}}">Precio Cotizacion</label>
                  <button class="btn btn-small precioigual" data-sku="{{ped.SKU_IdSKU}}" data-producto="{{ped.Pro_IdProducto}}" data-tipo="2" style="float: right"><i class="material-icons">done_all</i></button>
                </div>
              {% else %}
                {% for per in pedido_respondido %}
                  {% if per.SKU_IdSKU == ped.SKU_IdSKU %}
                    <div class="input-field col s3 m3 l2">
                      <input type="number" id="precio{{ped.SKU_IdSKU}}" value="{{per.Precio_Cotizacion}}" min="1" class="validate valorU producto{{ped.Pro_IdProducto}}" data-cantidad="{{ped.Ped_Cantidad}}" data-idactual="{{ped.SKU_IdSKU}}" data-preciominimo="{{precioreal[0]}}" data-preciomaximo="{{precioreal[1]}}">
                      <label for="precio{{ped.SKU_IdSKU}}">Precio</label>
                      <button class="btn btn-small precioigual" data-sku="{{ped.SKU_IdSKU}}" data-producto="{{ped.Pro_IdProducto}}" data-tipo="1" style="float: right"><i class="material-icons">done_all</i></button>
                    </div>
                    <div class="input-field col s3 m3 l2">
                      <input type="number" id="preciod{{ped.SKU_IdSKU}}" value="{{per.PrecioDscto_Cotizacion}}" min="1" class="validate valorUDscto productoDscto{{ped.Pro_IdProducto}}" data-cantidad="{{ped.Ped_Cantidad}}" data-idactual="{{ped.SKU_IdSKU}}" data-preciominimo="{{precioreal[0]}}" data-preciomaximo="{{precioreal[1]}}">
                      <label for="preciod{{ped.SKU_IdSKU}}">Precio Cotizacion</label>
                      <button class="btn btn-small precioigual" data-sku="{{ped.SKU_IdSKU}}" data-producto="{{ped.Pro_IdProducto}}" data-tipo="2" style="float: right"><i class="material-icons">done_all</i></button>
                    </div>
                    {% set subtotalDscto = per.PrecioDscto_Cotizacion*ped.Ped_Cantidad %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="divider"></div>
          <div class="row"></div>
          {% set total = subtotal + total %}
          {% set totalDscto = subtotalDscto + totalDscto %}
        {% endfor %} 
        <div class="row center">
          <div class="col s12 totalContainerPedido">
            <h5>Total: S/ <b id="total">{{total|number_format(2, '.', ' ')}}</b></h5>
            <h5>Total: S/ <b id="totalDscto">{{totalDscto|number_format(2, '.', ' ')}}</b></h5>
          </div>
          <div class="col s6 m4 l4">
            <a class="btn-flat waves-effect waves-red"  href="{{base_url()}}usuario/cotizar ">Regresar</a> 
          </div>  
          <div class="col s6 m4 l4">
            {% if pedido_respondido is empty  %}
              <button class="btn" id="enviarCotizacion" data-email="{{pedido.Per_Correo}}" data-idpedido="{{pdetalle[0].Ped_IdPedido}}">Enviar</button>
            {% else %}
              <button class="btn" id="enviarCotizacion2" data-email="{{pedido.Per_Correo}}" data-idpedido="{{pdetalle[0].Ped_IdPedido}}" data-idcotizacion="{{pedido_respondido[0].Cot_IdCotizacion}}">Reenviar</button>
            {% endif %}
          </div>
          <div class="col s12 m4 l4">
            <button class="btn darken-3 cotiDescarga">Descargar</button>
          </div> 
        </div>
      </div>
    </div>
  </main>
  {# DESCARGAR COTIZACIÓN #}
  <div class="hide" id="imprimir_planilla">
    <body style="margin: 0; padding: 0;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
          <td style="">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
              <tr>
                <td bgcolor="#FFFFFC" style="padding: 40px 30px 40px 30px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="color: #102542; font-family: Arial, sans-serif; font-size: 24px;">
                        <b>Estimado {{pdetalle[0].Ped_Datos}}</b>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 20px 0 30px 0; color: #102542; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
                        A continuaciòn te presentamos a detalle los precios vigentes de los articulos solicitados en la cotización N° {{"%06d"|format(pdetalle[0].Ped_IdPedido)}}.</td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <td style="background-color:  white;" width="100" valign="top"></td> 
                              <td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="350" valign="top">
                                Producto
                              </td>
                              <td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="50" valign="top">Cant.</td>
                              <td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="150" valign="top">Unid. Med.</td>
                              <td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;" width="150" valign="top">Precio Unit.</td>
                              <td style="padding: 15px; font-size: 12px;text-align:center;font-family: Arial, sans-serif;  color:rgba(255,255,255,0.9); background-color: #442220;"width="100" valign="top">Importe</td>
                            </tr>
                          </thead>
                          <tbody>
                            {% set p = 1 %}
                            {% for ped in pdetalle %}
                              <tr>
                                <td style="border-bottom: 1px solid #CBCBCB; padding: 8px 0px;" valign="top">
                                  <div style="margin:0 auto; margin:15px; width:100px; height: 100px;  border-radius: 3px;">
                                    <img style="width: 100%; height: 50px; object-fit: contain;" src="{{ruta_img}}{% if ped.SKU_Img %}{{ped.SKU_Img}}{% else %}nofoto.png{% endif %}">
                                  </div>
                                </td>
                                <td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">{{ped.Pro_Nombre}}</td>
                                <td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">{{ped.Ped_Cantidad}}</td>
                                <td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top">{{ped.Unm_Nombre}}</td>
                                <td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.7);" valign="top" id="valU{{p}}">
                                  {% if pedido_respondido is empty %}
                                  {% else %}
                                    {% for per in pedido_respondido %}
                                    {% if per.SKU_IdSKU == ped.SKU_IdSKU %}
                                    {{per.Precio_Cotizacion}}
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                                </td>
                                <td style="vertical-align: middle;border-bottom: 1px solid #CBCBCB; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.8);" valign="top">
                                  <span style="font-weight:600" id="importe{{p}}">
                                    {% if pedido_respondido is empty %}
                                    {% else %}
                                      {% set importe = 0 %}
                                      {% for per in pedido_respondido %}
                                        {% set importe = per.Precio_Cotizacion*per.Cantidad_Cotizacion %}
                                      {% endfor %}
                                      {{importe}}
                                    {% endif %}
                                  </span>
                                </td>
                              </tr>
                              {% set p = p + 1 %}
                            {% endfor %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <td style="font-weight: 600; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:rgba(0,0,0,0.8);" colspan="4" valign="top">Total a pagar</td>
                              <td style="border-bottom: 1px solid #CBCBCB; background-color: #442220; padding: 8px 0px; font-size: 15px;text-align:center;font-family: Arial, sans-serif;  color:white;" colspan="2" valign="top">
                                <span style="font-weight:600">S/ <b id="total2"></b>
                                {% if pedido_respondido is empty %}
                                {% else %}
                                  {% set total = 0 %}
                                  {% for per in pedido_respondido %}
                                    {% set total = (per.Precio_Cotizacion*per.Cantidad_Cotizacion) + total %}
                                  {% endfor %}
                                  {{total}}
                                {% endif %}
                                </span>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFC" style="font-size: 12px; color:#102542 ;padding: 0px 30px 30px 30px;font-family: Arial, sans-serif;">Estos precios son validos por quince (15) dias de emitida la presente cotización.
                </td>
              </tr>
              <tr>
                <td bgcolor="#FFFFFC" style="font-size: 14px; color:#102542 ;padding: 0px 30px 30px 30px;font-family: Arial, sans-serif;">
                  Para finalizar la compra solo resta: <br>
                  <ul>
                    <li>Depositar en nuestra cuenta <b>Banco ···, cuenta de (ahorros/corriente) N° ···</b></li><br>
                    <li>Enviar una foto del <b>vaucher de compra</b> a la brevedad posible a nuestro whatsapp {{ped.Ped_Telefono}}</li><br>
                    <li>En caso de ser un envio por empresa de transportes (<i>El costo del envio no esta incluido en esta cotizaciòn</i>) indicar su nombre.</li> 
                  </ul>
                  <span style="color:#102542; font-size: 14px;"><b>RECUERDA</b> que solo si confirmas antes de las 11:00 am el envio serà realizado, de no ser asì se entregarà el dia siguiente. <br><br> Igualmente nuestras direcciones estan a tu disposiciòn para retirar la mercancia:</span>
                  <ul style="font-size: 14px;">
                    {% for dal in datosLocales %}
                      <li style="color:#102542;">{{dal.Loc_Nombre}} - {{dal.Loc_Direccion}}</li><br>
                    {% endfor %}
                  </ul>
                  <br>
                  <span style="font-size: 14px;">Atentamente&nbsp;&nbsp;</span>{{datosTienda.Tie_Nombre}}</a>
                </td>
              </tr>
              <tr>
                <td bgcolor="#001011" style="padding: 30px 30px 30px 30px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                      &reg; 2018 Copyright <a href="http://www.pormayor.pe" style="color: #FEC00F;">pormayor.pe</a>.<br/>
                      </td>
                      <td align="right" width="25%">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                              <a href="http://www.twitter.com/" style="color: #ffffff;">
                                <img src="http://cocos.pe/img/twitter.png" alt="Twitter" width="25" height="25" style="display: block;" border="0" />
                              </a>
                            </td>
                            <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                              <a href="http://www.twitter.com/" style="color: #ffffff;">
                                <img src="http://cocos.pe/img/face.png" alt="Facebook" width="25" height="25" style="display: block;" border="0" />
                              </a>
                            </td>
                            <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                              <a href="http://www.twitter.com/" style="color: #ffffff;">
                              <img src="http://cocos.pe/img/instagram.png" alt="instagram" width="25" height="25" style="display: block;" border="0" />
                              </a>
                            </td>
                            <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                              <a href="http://cocos.pe/img/twitter." style="color: #ffffff;">
                                <img src="http://cocos.pe/img/email.png" alt="Correo" width="25" height="25" style="display: block;" border="0" />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" style="color:rgba(255,255,255,0.4) ;padding: 15px 0px 10px 0px;font-family: Arial, sans-serif; font-size: 12px;">
                        Siempre deseamos brindarte la mejor experiencia en tiendas virtuales en Perù, estos y muchos màs productos estan disponibles para ti.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </body>
  </div>
{% endblock %}
{% block script %}
  <script>
    function PlanillaPrint(elem)
    {
      var mywindow = window.open('', 'PRINT', '');
      mywindow.document.write(document.getElementById(elem).innerHTML);
      mywindow.document.close();
      mywindow.focus();
      mywindow.print();
      mywindow.close();
      return true;
    }
    $('.cotiDescarga').click(function(){
      if ($("#total").text() == ""){
        Materialize.toast('<i class="material-icons left ">warning</i>Coloca los precios del producto', 2000, 'rounded warningToast');
      }else{
        PlanillaPrint('imprimir_planilla');
      }
    });
  </script>
  <script src="{{base_url('public/')}}js/tienda/jsGestionPedido.js" type="text/javascript"></script>
{% endblock %}