{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
<style type="text/css">
  .customColorB{
    background-color: {{configuracion.Con_ColorBtn}} !important;
  } 
  .customColorA{
    background-color:{{configuracion.Con_ColorHexa}};
  }
</style>
<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/infoTienda.css')}}"  media="screen,projection"/>
{% endblock %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="col s12 m6 l12">
        <ul class="collapsible collapsibleInfo" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">account_circle</i>Logo y nombre</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-image">
                      <div class="preLoadLogoImg">
                        {% if tienda.Tie_Logo %}
                          <img class="responsive-img" src="{{ruta_img}}{{tienda.Tie_Logo}}">
                        {% else %}
                          <img class="responsive-img"  src="{{ruta_img}}nofoto.png">
                        {% endif %}
                      </div>
                      <span class="card-title">Logo tienda</span>
                      {% if usuario.rol == 2 %}
                        <a  class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">camera_alt</i>
                          <input id="logoImg" class="logoImg fileInput" type="file"  class="" accept="image/*">
                        </a>
                      {% endif %}
                    </div>
                    <div class="card-content">
                      <div class="input-field">
                        <input type="text" id="nombreTienda" class="validate" value="{{tienda.Tie_Nombre}}">
                        <label for="nombreTienda">Nombre de la tienda</label>
                      </div>
                      <div class="input-field">
                        <input type="text" id="nRuc" class="validate" value="{{tienda.Tie_ruc_dni}}" disabled>
                        <label for="nRuc">DNI/RUC</label>
                      </div>
                      {% if usuario.rol == 2 %}
                        <div class="card-action right-align">
                          <div id="loadTienda"></div>
                          <a class="btn saveDatosTienda" data-idt="{{tienda.Tie_IdTienda}}">Guardar</a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">description</i>Contenido de la Página</div>
            <div class="collapsible-body sinPadding cardContentFix">
              <div class="row" style="margin-top:25px">
                <div class="col s12">
                  <div class="card">
                    <div class="card-image">
                      <div class="preLoadLogoImgCont">
                        {% if dtienda.Tid_Img  %}
                          <img class="responsive-img" src="{{ruta_img}}{{dtienda.Tid_Img}}">
                        {% else %}
                          <img class="responsive-img" src="{{ruta_img}}nofoto.png">
                        {% endif %}
                      </div>
                      <span class="card-title">Foto que represente tu tienda</span>
                      {% if usuario.rol == 2 %}
                      <a  style="right:5px" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">camera_alt</i>
                        <input type="file" id="logoImgCont" class="detalleImg fileInput" accept="image/*">
                      </a>
                      {% endif %}
                    </div>
                    <div class="card-content sinPadding cardContentFix">
                      <div class="input-field contTiendaArea">
                        <textarea id="descripcionDetalle" name="descripcionDetalle" class="materialize-textarea" data-length="900" maxlength="900">{{dtienda.Tid_Descripcion}}</textarea>
                        <label for="descripcionDetalle">Describe tu tienda para tus compradores</label>
                      </div>
                      {% if usuario.rol == 2 %}
                        {% if dtienda.Tid_IdTiendaDetalle %}                            
                          <div class="card-action row " style="padding: 0px 0px 15px 0px">
                            <div id="loadTiendaCont"></div>
                            <div class="col s6">
                              <a class="grey-text eliminarContenido btn-flat waves-effect waves-light waves-red" data-idt="{{dtienda.Tid_IdTiendaDetalle}}">Sin foto</a>
                            </div>
                            <div class="col s6">
                              <a class="waves-effect waves-light btn btnUpdateDetalle " id="textareaId" data-id="{{dtienda.Tid_IdTiendaDetalle}}">ACTUALIZAR</a>
                            </div>
                          </div>                            
                        {% else %}
                          <div id="loadTiendaCont"></div>
                          <div class="card-action right-align">
                            <a class="waves-effect waves-light btn btnInsertDetalle " id="textareaId" data-id="{{tienda.Tie_IdTienda}}">GUARDAR</a>
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">invert_colors</i>Colores</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6 m3 l2">
                  <div class="colorPrin" {% if configuracion.Con_ColorHexa %} style="background-color:{{configuracion.Con_ColorHexa}}" data-cp="{{configuracion.Con_ColorHexa}}" {% else %}  data-cp="#fff555" {% endif %}></div>
                </div>
                <div class="col s6 m3 l2">
                  <div class="colorAcen" {% if configuracion.Con_ColorBtn %} style="background-color:{{configuracion.Con_ColorBtn}}" data-ca="{{configuracion.Con_ColorBtn}}" {% else %}  data-cp="#fff888" {% endif %}></div>
                </div>
                <div class="col s12 m6 l8 wrapperColorPreview">
                  <div class="content_preview valign-wrapper center" {% if configuracion.Con_ColorHexa %} style="background-color:{{configuracion.Con_ColorHexa}}" {% endif %}>
                    <button data-target="containerColors" class="btn cambiarColoresBtn modal-trigger" {% if configuracion.Con_ColorBtn %} style="background-color:{{configuracion.Con_ColorBtn}}" {% endif %}>Cambiar</button> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m12 l12">
                  <a class="right waves-effect waves-light btn guardarConfi" data-idtienda="{{tienda.Tie_IdTienda}}"><i class="material-icons left">save</i>Guardar</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">settings</i>Otros</div>
            <div class="collapsible-body">
              <div class="row">
                <h5>Precio en productos</h5>
                <div class="switch">
                  <label>
                    No
                    <input id="mostrarPrecio"  data-precio="{{configuracion.Mostrar_Precio}}" type="checkbox">
                    <span class="lever" style="background-color: {{configuracion.Con_ColorHexa}}"></span>
                    Si
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m12 l12">
                    <a class="right waves-effect waves-light btn guardarConfi" data-idtienda="{{tienda.Tie_IdTienda}}"><i class="material-icons left">save</i>Guardar</a>
                  </div>
                </div>
              </div>
          </li>
        </ul>
      </div>
      <div class="col s12 m6 l12">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">business</i>Locales<span style="background-color: {{configuracion.Con_ColorBtn}} " class="new badge">{{local|length}}</span></div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12">
                  {% if usuario.rol == 2 %}
                    <div class="row">
                      <div class="col s12 m6 l6 input-field center"> 
                        <a class="waves-effect waves-light btn btnAddLocal modal-trigger" data-target="modalLocal" data-id="{{tienda.Tie_IdTienda}}"><i class="iconButtonQuery material-icons left">add</i>Agregar</a>
                      </div>
                    </div>
                    <div class="row">
                      {% for loc in local %}
                        <div class=" col s12 l12">
                          <h5 class="nombreLocal">{{loc.Loc_Nombre}}</h5>
                        </div>
                        <div class="col s12 l8">
                          <div class="input-field">
                            <input type="text" id="direccionLocal{{loc.Loc_IdLocal}}" value="{{loc.Loc_Direccion}}" readonly="">
                            <label for="direccionLocal{{loc.Loc_IdLocal}}">Dirección</label>
                          </div>
                        </div>
                        <div class="col s6 m8 l2">
                          <div class="input-field">
                            <input type="number" min="1" id="tlfLocal{{loc.Loc_IdLocal}}" value="{{loc.Loc_Numero}}" readonly="">
                            <label for="tlfLocal{{loc.Loc_IdLocal}}">Teléfono</label>
                          </div>
                        </div> 
                        <div class="col s6 m4 l2 containerBtn">
                          {# <a class="btn btnEditLocal" data-id="{{loc.Loc_IdLocal}}"><i class="material-icons">edit</i></a> #}
                          <a class="btn btnEditLocal modal-trigger" data-target="modalLocal2" data-id="{{loc.Loc_IdLocal}}"><i class="iconButtonQuery material-icons left">edit</i>Editar</a>
                          <a class="btn btnDeleteLocal red" data-id="{{loc.Loc_IdLocal}}"><i class="material-icons">delete</i></a>
                        </div>
                        <div class="col s12 divider"></div>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="modalLocal" class="modal">
      <div class="modal-content sinPadding" id="modaladdLocal">
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Salir</a>
        <a class="waves-effect waves-light btn btnInsertLocal" data-id="{{tienda.Tie_IdTienda}}">Agregar</a>
      </div>
    </div>
    <div id="modalLocal2" class="modal">
      <div class="modal-content sinPadding" id="modaleditLocal">
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Salir</a>
        <a class="waves-effect waves-light btn btnUpdateLocal">Actualizar</a>
      </div>
    </div>
    <div id="containerColors" class="modal">
      <div class="modal-content grey darken-4  modalCustom">
        <h5 class="center-align">Selecciona 2 Colores</h5>
        <div class="row sinBordeBottom">
          <div class="col s3 m2 l2">
            <div class="colorBox red" data-color="#f44336"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox pink" data-color="#e91e63"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox purple" data-color="#9c27b0"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox deep-purple" data-color="#673ab7"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox indigo" data-color="#3f51b5"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox blue" data-color="#2196f3"><i class="material-icons checkSign">check</i></div>
          </div>

          <div class="col s3 m2 l2">
            <div class="colorBox light-blue" data-color="#03a9f4"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox teal" data-color="#009688"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox green" data-color="#4caf50"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox light-green" data-color="#8bc34a "><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox lime" data-color="#cddc39"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox yellow" data-color="#ffeb3b"><i class="material-icons checkSign">check</i></div>
          </div>

          <div class="col s3 m2 l2">
            <div class="colorBox amber" data-color="#ffc107"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox orange" data-color="#ff9800"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox deep-orange" data-color="#ff5722"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox brown" data-color="#795548"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox grey" data-color="#9e9e9e"><i class="material-icons checkSign">check</i></div>
          </div>
          <div class="col s3 m2 l2">
            <div class="colorBox blue-grey" data-color="#607d8b"><i class="material-icons checkSign">check</i></div>
          </div>

        </div>
      </div>
      <div class="modal-footer grey darken-4">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" style="color: rgba(255,255,255,0.4)">Cerrar</a>
        <a id="contBtn"  href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Continuar</a>
      </div>
    </div>
  </main>
{% endblock %}
{% block script %}
  <script src="{{base_url('public/')}}js/tienda/jsInfoTienda.js" type="text/javascript"></script>
  <script type="text/javascript">
    function regresoEnter(textareaID) {
      (function($) {
          if (!textareaID) var textareaID = "#descripcionDetalle";
          var textarea = $(textareaID);
          
          textarea.val(
              $(textarea).val().replace(/<br\s?\/?>/g,"\n")
          );
          
      })(jQuery);
    }
    regresoEnter($('#descripcionDetalle').val());
    $('#descripcionDetalle').trigger('autoresize');
      $(function() {
        // Multiple images preview in browser
        var imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            var filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              var reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML('<img height="70px" class="responsive-img">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
              }
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $('#logoImg').change(function() {
          $('.preLoadLogoImg').text('');
          imagesPreview(this, 'div.preLoadLogoImg');
        });

        //Imagen Contenido pagina
        $('#logoImgCont').change(function() {
          $('.preLoadLogoImgCont').text('');
          imagesPreview(this, 'div.preLoadLogoImgCont');
        });
    });
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnqEDXE9ekKeGG778KOndF2wM5P3fFSug"></script>
  <script src="{{base_url('public/')}}plugins/gmaps.js" type="text/javascript"></script>
{% endblock %}