{% extends "layout/intranet/template_lite.twig" %}
 
{% block content %}
    <!-- Page Layout here -->
  <main class="container">
    <div class="row">
      <div class="col s12 m12 l12 hide-on-med-and-up" style="height:56px">     
        </div>
      <div class="col offset-l4 s10 offset-s1 l4">
        <div class="card center-align z-depth-3" >
          <div class="card-content">
            <span class="card-title">Iniciar Sesión</span>
            {{ form_open("", {role: 'form', id: 'formulario_login', class:'form-horizontal login-form'}) }}  
              <div class="row center-align">
                <span class="red-text" id="mensaje_error"></span>
              </div>
              <div id="input_index_usuario" class="input-field">
                <input x="0" id="index_usuario" type="text" class="validate" name="correo" placeholder="Correo electrónico">
              </div>
              <div id="input_index_contrasena" class="input-field">
                <input id="index_contrasena" type="password" class="validate" placeholder="Contraseña" name="clave">       
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light col l12 m12 s12" type="submit"><i class="material-icons" style="font-size:25px">navigate_next</i></button>
                <div class="col s12">
                  <br>
                  <p class="center">¿Olvidó su contraseña? Ingresé <a href="{{base_url()}}usuario/login/olvido_contrasenia">Aquí</a></p>
                </div>
              </div>
            {{ form_close() }}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
   <script type="text/javascript">
    $('.nav-content').hide(); 
    $('.filtrarBtn').hide();
    $("#formulario_login").validate({
      errorElement : 'div',
      errorPlacement: function(error, element) {
        var placement = $(element).data('error');
        if (placement) {
          $(placement).append(error)
        } else {
          error.insertAfter(element);
        }
      }
    });

    $("#formulario_registro").validate({
      errorElement : 'div',
      errorPlacement: function(error, element) {
        var placement = $(element).data('error');
        if (placement) {
          $(placement).append(error)
        } else {
          error.insertAfter(element);
        }
      }
    });
  </script>
  <script>
    logInWithFacebook = function() {
      FB.login(function(response) 
      {
        if (response.authResponse) {
          //alert('You are logged in &amp; cookie set!');
          var accessToken = response.authResponse.accessToken;
          window.location.href = '{{base_url()}}usuario/login/fb_signin/'+accessToken;
        } 
        else 
        {
          alert('User cancelled login or did not fully authorize.');
        }
      }, {scope: 'public_profile, email'});
      return false;
    };

    window.fbAsyncInit = function() 
    {
      FB.init({
        appId: '{{facebook.id}}',
        cookie: true, // This is important, it's not enabled by default
        version: 'v2.2'
      });
    };

    (function(d, s, id)
    {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="{{base_url('public/')}}js/tienda/login.js" type="text/javascript"></script>
{% endblock %}
