{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
<style type="text/css">
  .customColorB{
    background-color: {{configuracion.Con_ColorBtn}} !important;
  } 
  .customColorA{
    background-color:{{configuracion.Con_ColorHexa}};
  }
  .modalStepper, #modalEditPro{
    max-height: 95%;
  }
</style>
{% endblock %}
{% block content %}
    <!-- Page Layout here -->
    <main class="container">
      <div class="row card">
        <div class="card-content" style="padding: 24px 15px;">
          <div class="col s12 m12 l12 center-align"> 
            <h4 class="card-title">Inventario de Productos</h4>        
          </div>
          <div class="input-field col s12 m12 l12 center-align inputFieldCustom sinPadding">
              <a data-target="containerPro" class="btn waves-effect waves-light modal-trigger" id="productoBtn"><i class="material-icons left">add</i>Agregar</a>
              <a class="btn grey darken-1 waves-effect waves-light" id="productoPBtn" href="{{base_url()}}usuario/inventario"><i class="material-icons left">format_list_bulleted</i>Detalle</a>
          </div>
          <div class="col s12 l12 sinPadding">
              <table id="tablaProductos" class="heighlight centered">
                <thead>
                  <tr style="background-color:{{configuracion.Con_ColorHexa}}">
                    <th>Producto</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
              {% for pro in producto %} 
                <tr>                
                  <td >
                    <div class="row sinBordeBottom">
                      <div class="col s12 m3 l5">                      
                        <img class="redondeo" src="{{ruta_img}}{{pro.Prf_Img}}" height="50">
                      </div>                    
                      <div class="col s12 m3 l7">
                        <span class="">{{pro.Pro_Nombre}}</span>
                      </div>
                    </div>
                  </td>
                  <td class="containerBtn">
                    <a class="btn waves-effect waves-light modal-trigger btnEdit" href="{{base_url()}}usuario/inventario/productoDetalle/{{pro.Pro_IdProducto}}"><i class="material-icons">edit</i></a>
                    <button data-idpro="{{pro.Pro_IdProducto}}" class="waves-effect red waves-light btn btnDeleteGen" ><i class="material-icons">delete</i></button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
              <div class="center">{{ver_paginacion}}</div> 
      </div>   
      </div>   
    </main>
    <!-- STEPPER AGREGAR PRODUCTO -->
    <!-- <div class="modal" id="containerPro">
      <div class="modal-content validar modalCustomPro">
        <a class="modal-close modal-close-custom right" data-dismiss="modal" data-position="bottom" data-tooltip="Cerrar ventana"><i class="material-icons  closeIconA">close</i></a>
        <h5 class="headerModal z-depth-2" style="background-color:{{configuracion.Con_ColorHexa}}">Agregar nuevo producto</h5>
          <form id="addNewProForm" method="post" action="#">
            <ul id="addNewPro" class="stepper linear horizontal" style="min-height:400px">
               <li class="step active">
                <div data-step-label="Info principal" class="step-title waves-effect waves-dark">Datos&nbsp;&nbsp;</div>
                  <div class="step-content">
                    <div class="row">                    
                      <div class="input-field col s12 m12 l12">
                          <input type="text" id="nombreProducto" class="validate" required>
                          <label for="nombreProducto" class="active">Nombre del Producto</label>
                      </div>
                      <div class="input-field col s12 l12">
                          <label for="descripcionProducto" class="active">Descripción del Producto</label>
                          <textarea class="materialize-textarea validate" name="descripcionProducto" id="descripcionProducto"></textarea>
                      </div>
                      <div class="col s12 l4" style="padding-top:11px">
                        <select id="unmSelect" class=" browser-default validate" required>
                          <option value="" disabled selected>Seleccione la unidad de venta</option>
                          {% for uni in unidad %}
                            <option value="{{uni.Unm_IdUnidadMedida}}">{{uni.Unm_Nombre}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div id="valorUnm" class="input-field col s6 m6 l4 hide">                     
                          <input id="valorUnm2" class="validate" type="number" min="1">
                          <label>Numero Unidades</label>
                      </div>
                      <div class="input-field col s6 l3">
                          <input id="precioMin" class="validate" type="number" required>
                          <label>Precio Minimo</label>
                      </div>
                      <div class="input-field col s6 l3">
                          <input id="precioMax" class="validate" type="number" required>
                          <label>Precio Maximo</label>
                      </div>
                    </div>
                    <div class="step-actions">
                      <button type="button" class="waves-effect waves-dark btn" id="conNewPro1">CONTINUAR</button>
                    </div>
                  </div>
               </li>

              <li class="step stepCaract">
                <div data-step-label="Foto, categoria" class="step-title waves-effect waves-dark">Caracteristicas</div>
                  <div class="step-content validarInput">
                    <div class="row"> 
                      <div class=" col s12 l12">
                        <form action="#">
                          <label>Fotos del producto</label>
                          <div class="file-field input-field">
                            <div class="btn">
                              <span><i class="material-icons">photo_camera</i></span>
                              <input type="file" id="filePro" class="filePro" accept="image/*" multiple>
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                            </div>
                          </div>
                        </form>
                      <div class="preLoadImg"></div>
                      </div>
                        <div class="input-field col s12 l4">
                            <div class="">
                                <select id="catSelect" class="browser-default" required>
                                    <option value="" disabled selected>Seleccione la Categoría</option>
                                  {% for cat in categoria %}
                                    <option value="{{cat.Cat_IdCategoria}}">{{cat.Cat_Nombre}}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="input-field col s12 l4">
                            <div class="" id="divSucSelect"></div>
                        </div>
                        <div class="input-field col s12 l4">
                            <div class="" id="divSucDetalle"></div>
                        </div>
                        <div class="col s12 l12">
                              <div id="divVarCat"></div>
                        </div>
                  </div>
                  <div class="step-actions">
                        <button type="button" class="waves-effect waves-dark btn" id="conNewPro2">CONTINUAR</button>
                        <button class="waves-effect waves-dark btn-flat previous-step">ATRAS</button>
                      </div>
                </div>
               </li>
               <li class="step"  data-last="true">
                <div data-step-label="Cantidades" class="step-title waves-effect waves-dark">Variaciones</div>
                  <div class="step-content stepCant">
                    <div class="row">
                      <div class="col s12 l12">
                            <div id="lista_variacion"> </div>
                      </div>
                    </div>
                    <div class="step-actions">
                        <button id="conNewPro3" class="waves-effect waves-dark btn" type="button">Guardar</button>
                        <button id="atrasNewPro3" class="waves-effect waves-dark btn-flat previous-step">ATRAS</button>
                     </div>
                  </div>
               </li>
            </ul>
          </form>
      </div>
    </div> -->
    <!-- STEPPER AGREGAR PRODUCTO -->
    <div class="modal modalStepper" id="containerPro">
      <div class="modal-content validar modalCustomPro">
        <a class="modal-close modal-close-custom right" data-dismiss="modal" data-position="bottom" data-tooltip="Cerrar ventana"><i class="material-icons  closeIconA">close</i></a>
        <h5 class="headerModal z-depth-2" style="background-color:{{configuracion.Con_ColorHexa}}">Agregar nuevo producto</h5>
          <form id="addNewProForm" method="post" action="#">
            <ul id="addNewPro" class="stepper linear horizontal">
               <li class="step active">
                <div data-step-label="Info principal" class="step-title waves-effect waves-dark">Datos&nbsp;&nbsp;</div>
                  <div class="step-content" style="padding-bottom:0px">
                    <div class="row sinBordeBottom">                    
                      <div class="input-field col s12 m8 l8">
                          <input type="text" id="nombreProducto" class="validate" data-length="50" maxlength="50" required>
                          <label for="nombreProducto" class="active">Nombre del Producto</label>
                      </div>
                      <div class="input-field col s6 m2 l2">
                          <input id="precioMin" class="validate" type="number" required>
                          <label>Precio Minimo</label>
                      </div>
                      <div class="input-field col s6 m2 l2">
                          <input id="precioMax" class="validate" type="number" required>
                          <label>Precio Maximo</label>
                      </div>
                      <div class="col s12 m6 l6" style="padding-top:11px">
                        <select id="unmSelect" class=" browser-default validate" required>
                          <option value="" disabled selected>¿Como vendo este producto?</option>
                          {% for uni in unidad %}
                            <option value="{{uni.Unm_IdUnidadMedida}}">{{uni.Unm_Nombre}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div id="valorUnm" class="input-field col s12 m6 l6 hide">                     
                          <input id="valorUnm2" class="validate" type="number" min="1">
                          <label>¿<span class="nombreUnidad"></span> de cuantas unidades?</label>
                      </div>
                      <div class="input-field col s12 l12">
                          <textarea id="descripcionProducto" name="descripcionProducto" class="materialize-textarea validate" data-length="500" maxlength="500"></textarea>
                          <label for="descripcionProducto">Descripcion</label>
                      </div>
                    </div>
                    <div class="step-actions">
                      <button type="button" class="waves-effect waves-dark btn" id="conNewPro1">CONTINUAR</button>
                    </div>
                  </div>
               </li>

              <li class="step stepCaract">
                <div data-step-label="Foto, categoria" class="step-title waves-effect waves-dark">Caracteristicas</div>
                  <div class="step-content validarInput" style="margin-left:20px">
                    <div class="row catacStep sinBordeBottom">
                      <div class=" col s4 l2 center">
                        <a style="" class="waves-effect waves-light">
                          <div id="fotoPro1" style="height: 100%" class="preLoadImg valign-wrapper">  
                            <img class="redondeo" src="{{ruta_img}}nopic.jpg">
                          </div>
                          <input id="filePro1" class="filePro fileInputProduct" type="file" accept="image/*">
                        </a>
                      </div>
                      <div class=" col s4 l2 center">
                        <a style="" class="waves-effect waves-light">
                          <div id="fotoPro2" style="height: 100%" class="preLoadImg valign-wrapper">  
                            <img class="redondeo" src="{{ruta_img}}nopic.jpg">
                          </div>
                          <input id="filePro2" class="filePro fileInputProduct" type="file" accept="image/*">
                        </a>
                      </div>
                      <div class=" col s4 l2 center">
                        <a style="" class="waves-effect waves-light">
                          <div id="fotoPro3" style="height: 100%" class="preLoadImg valign-wrapper">  
                            <img class="redondeo" src="{{ruta_img}}nopic.jpg">
                          </div>
                          <input id="filePro3" class="filePro fileInputProduct" type="file" accept="image/*">
                        </a>
                      </div>
                      <div class=" col s4 l2 center">
                        <a style="" class="waves-effect waves-light">
                          <div id="fotoPro4" style="height: 100%" style="height: 100%" class="preLoadImg valign-wrapper">  
                            <img class="redondeo" src="{{ruta_img}}nopic.jpg">
                          </div>
                          <input id="filePro4" class="filePro fileInputProduct" type="file" accept="image/*">
                        </a>
                      </div>
                      <div class=" col s4 l2 center">
                        <a style="" class="waves-effect waves-light">
                          <div id="fotoPro5" style="height: 100%" class="preLoadImg valign-wrapper">  
                            <img class="redondeo" src="{{ruta_img}}nopic.jpg">
                          </div>
                          <input id="filePro5" class="filePro fileInputProduct" type="file" accept="image/*">
                        </a>
                      </div>
                      <div class=" col s4 l2 center">
                        <a style="" class="waves-effect waves-light">
                          <div id="fotoPro6" style="height: 100%" class="preLoadImg valign-wrapper">  
                            <img class="redondeo" src="{{ruta_img}}nopic.jpg">
                          </div>
                          <input id="filePro6" class="filePro fileInputProduct" type="file" accept="image/*">
                        </a>
                      </div>
                      <div class="input-field col s12 l4">
                        <div class="">
                            <select id="catSelect" class="browser-default" required>
                                <option value="" disabled selected>Seleccione la Categoría</option>
                              {% for cat in categoria %}
                                <option value="{{cat.Cat_IdCategoria}}">{{cat.Cat_Nombre}}</option>
                              {% endfor %}
                            </select>
                        </div>
                      </div>
                      <div class="input-field col s12 l4">
                          <div class="" id="divSucSelect">
                                <select id="sucSelect" class="browser-default">
                                  <option value="" disabled selected>Seleccione la SubCategoria</option>  
                                {% for suc in subcategorias %}
                                  <option value="{{suc.Suc_IdSubCategoria}}">{{suc.Suc_Nombre}}</option>  
                            {% endfor %}                    
                            </select>
                          </div>
                      </div>
                      <div class="input-field col s12 l4">
                          <div class="" id="divSucDetalle"></div>
                      </div>
                      <div class="col s12 l12">                             
                            <div id="divVarCat">
                              
                            </div>
                      </div>
                  </div>
                  <div class="step-actions">
                        <button type="button" class="waves-effect waves-dark btn" id="conNewPro2">CONTINUAR</button>
                        <button class="waves-effect waves-dark btn-flat previous-step">ATRAS</button>
                      </div>
                </div>
               </li>
               <li class="step"  data-last="true">
                <div data-step-label="Cantidades" class="step-title waves-effect waves-dark">Variaciones</div>
                  <div class="step-content stepCant">
                    <div class="row">
                      <div class="col s12 l12">
                            <div id="lista_variacion"> </div>
                      </div>
                    </div>
                    <div class="step-actions">
                        <button id="conNewPro3" class="waves-effect waves-dark btn" type="button">Guardar</button>
                        <button id="atrasNewPro3" class="waves-effect waves-dark btn-flat previous-step">ATRAS</button>
                     </div>
                  </div>
               </li>
            </ul>
          </form>
      </div>
    </div>

    <!-- MODAL EDITAR PRODUCTO -->
    <div class="modal" id="modalEditPro">
      <div class="modal-content modalCustomPro">
        <a class="modal-close modal-close-custom tooltipped right" data-position="bottom" data-tooltip="Cerrar ventana"><i class="material-icons  closeIconA">close</i></a>
        <h5 class="headerModal z-depth-2" style="background-color:{{configuracion.Con_ColorHexa}}">Editar producto</h5>
        <div class="contentEdit">

        </div>
      </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{{base_url('public/')}}js/tienda/productos.js" type="text/javascript"></script>
    <script src="{{base_url('public/')}}js/tienda/selSuc.js" type="text/javascript"></script>
    <script>
    
    $(function() {
        var imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
              var filesAmount = input.files.length;
              for (i = 0; i < filesAmount; i++) {
                  var reader = new FileReader();
                  reader.onload = function(event) {
                      $($.parseHTML('<img class="redondeo responsive-img">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                  }
                  reader.readAsDataURL(input.files[i]);
              }
          }
 
        };
        $('#filePro1').change(function() {
            $('#fotoPro1').text('');
            imagesPreview(this, 'div#fotoPro1');
        });
        $('#filePro2').change(function() {
            $('#fotoPro2').text('');
            imagesPreview(this, 'div#fotoPro2');
        });
        $('#filePro3').change(function() {
            $('#fotoPro3').text('');
            imagesPreview(this, 'div#fotoPro3');
        });
        $('#filePro4').change(function() {
            $('#fotoPro4').text('');
            imagesPreview(this, 'div#fotoPro4');
        });
        $('#filePro5').change(function() {
            $('#fotoPro5').text('');
            imagesPreview(this, 'div#fotoPro5');
        });
        $('#filePro6').change(function() {
            $('#fotoPro6').text('');
            imagesPreview(this, 'div#fotoPro6');
        });
    });
    </script>
{% endblock %}
