{% extends "layout/intranet/template_lite.twig" %}

{% block content %}
  <main class="container">
    <div class="row">
      <div class="col offset-l4 s10 offset-s1 l4">
        <div class="card center-align z-depth-3" >
          <div class="card-content">
            <span class="card-title">¿Olvidó contraseña?</span>
            {{ form_open("", {role: 'form', id: 'formulario_olvido', class:'form-horizontal login-form'}) }}  
              <div class="row center-align">
                <span class="red-text" id="mensaje_error"></span>
              </div>
              <div id="input_index_usuario" class="input-field">
                <input x="0" id="index_usuario" type="text" class="validate" name="correo" placeholder="Correo electrónico" required="">
              </div>              
              <div class="row">
                <input type="submit" name="btnReestablecer" value="Obtener una nueva contraseña" class="btn btnCrear black-text">
              </div>
            {{ form_close() }}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $("#formulario_olvido").validate({
      errorElement : 'div',
      errorPlacement: function(error, element) {
        var placement = $(element).data('error');
        if (placement) {
          $(placement).append(error)
        } else {
          error.insertAfter(element);
        }
      }
    });
  </script>
{% endblock %}