{% if usuario.rol == 4 %}
  {% set template = "layout/intranet/template_usu.twig" %}
{% else %}
  {% set template = "layout/intranet/template_adm.twig" %}
{% endif %}

{% extends template %}

{% block head %}
  <style type="text/css">
    #formulario_reset2 p{
      text-align: center;
    }
  </style>
{% endblock %}
{% block content %}
    <main class="container">            
        <div class="row infoCointainer" id="addLocal">
          <div class="col s12 m12 l12">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header enfasisA"><i class="enfasisB material-icons">person</i>Datos Personales</div>
                <div class="collapsible-body sinPadding">
                  {{ form_open("", {role: 'form', id: 'formulario_reset', class:'form-horizontal login-form'}) }}
                      <div class="row cardContentFix">
                        <div class="input-field col s12">
                          <input type="hidden" id="Per_IdPersona" class="validate" name="Per_IdPersona" value="{{datos_usuario.Per_IdPersona}}" required="">
                          <input type="text" id="dni" class="validate" name="dni" value="{{datos_usuario.Per_Dni}}" required="">
                          <label for="dni" class="active">DNI</label>
                        </div> 
                        <div class="input-field col s12">
                          <input type="text" id="nombre" class="validate" name="nombre" value="{{datos_usuario.Per_Nombre}}" required="">
                          <label for="nombre" class="active">Nombre Completo</label>
                        </div>
                        <div class="input-field col s6">
                          <select name="selSexo">
                            <option value="">-Seleccione-</option>
                            <option value="1" {% if datos_usuario.Per_Sexo == 1 %}selected{% endif %}>Masculino</option>
                            <option value="2" {% if datos_usuario.Per_Sexo == 2 %}selected{% endif %}>Femenino</option>
                          </select>
                          <label>Sexo</label>
                        </div>
                        <div class="input-field col s6">
                          <input type="date" id="fecha_nacimiento" class="validate" name="fecha_nacimiento" value="{{datos_usuario.Per_FechaNacimiento}}">
                          <label for="fecha_nacimiento" class="active">Fecha de Nacimiento</label>
                        </div>
                        <div class="input-field col s6">
                          <input type="text" id="telefono" class="validate" name="telefono" value="{{datos_usuario.Per_Telefono}}">
                          <label for="telefono" class="active">Telefono</label>
                        </div>
                        <div class="input-field col s6">
                          <input type="text" id="celular" class="validate" name="celular" value="{{datos_usuario.Per_Celular}}">
                          <label for="celular" class="active">Celular</label>
                        </div> 
                      </div>
                      <div class="right-align" style="padding:15px">
                        <div id="loadTienda"></div>
                        <input id="btnActualizar" type="submit" name="btnActualizar" value="Guardar" class="btn white-text">
                      </div>
                  {{ form_close() }}
                </div>
              </li>
              <li>
                <div class="collapsible-header enfasisA"><i class="enfasisB material-icons">lock</i>Cambiar Contraseña</div>
                <div class="collapsible-body sinPadding">
                  {{ form_open("", {role: 'form', id: 'formulario_reset2', class:'form-horizontal login-form'}) }}
                      <div class="row cardContentFix">
                        <div class="input-field col s12">
                          <input type="text" id="correo" class="validate" name="correo" value="{{datos_usuario.Usu_Correo}}" required="" disabled="">
                          <label for="correo" class="active">Correo</label>
                        </div> 
                        <div class="input-field col s12">
                          <input type="password" id="clave" class="validate" name="clave" required="">
                          <label for="clave" class="active">Contraseña actual</label>
                        </div>
                        <div class="input-field col s6">
                          <input type="password" id="clave_nueva" class="validate" name="clave_nueva" required="">
                          <label for="clave_nueva" class="active">Contraseña Nueva</label>
                        </div>
                        <div class="input-field col s6">
                          <input type="password" id="clave_nueva2" class="validate" name="clave_nueva2" required="">
                          <label for="clave_nueva2" class="active">Repetir Contraseña</label>
                        </div>
                      </div>
                      <div id="test" class="right-align" style="padding:15px">
                        <div id="loadTienda"></div>
                        <input type="submit" name="btnCambiarClave" value="Guardar" class="btn white-text">
                      </div>
                      {% if errors %}
                        <div class="errorCard cardContentFix center" style="color: red">
                        <p>{{errors.old_password}}</p>
                        </div>
                      {% endif %}
                      {% if error %}
                        <div class="errorCard cardContentFix center" style="color: red">
                          {% if form_error('clave') %}
                            <p>{{form_error('clave')}}</p>
                          {% endif %}  
                          {% if form_error('clave_nueva') %}
                            <p>{{form_error('clave_nueva')}}</p>
                          {% endif %}  
                          {% if form_error('clave_nueva2') %}
                            <p>{{form_error('clave_nueva2')}}</p>
                          {% endif %}  
                        </div>
                      {% endif %}
                    </div>
                  {{ form_close() }}
              </li>
              <li>
                <div class="collapsible-header enfasisA"><i class="enfasisB material-icons">credit_card</i>Cuenta Bancaria</div>
                <div class="collapsible-body sinPadding">
                  <div class="center"><label>Numero de cuenta para cotizaciones</label></div>
                  <div class="row cardContentFix">
                    {% if banco_usuario %}
                      <div class="input-field col s12">
                          <b class="enfasisA"> {{banco_usuario.Ban_Nombre}}</b> <br>
                          <div style="padding: 10px 0px">
                            <span class="nroCuenta">{{banco_usuario.Usb_Cuenta}}</span>
                            <span style="padding: 10px 0px" class="enfasisB">
                              {% if banco_usuario.Usb_Tipo == 0 %}
                              (Ahorro)
                              {% else %}
                              (Corriente)
                              {% endif %}
                            </span>
                          </div>                        
                      </div>
                    {% else %}
                      <div class="input-field col s12 l6">
                        <label for="bancoUsu" class="active">Seleccione el banco</label>
                        <select style="width:100%;margin-top: 15px;" class="bancoUsu browser-default" id="bancoUsu" name="bancoUsu">
                          {% for ban in bancos %}
                            <option value="{{ban.Ban_IdBanco}}" >{{ban.Ban_Nombre}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="center col s12 l6 valign-wrapper" style="height:60px">
                        <div class="switch centrarForzado">
                          <label>
                            Ahorro
                            <input type="checkbox" id="tipoCuenta">
                            <span class="lever"></span>
                            Corriente
                          </label>
                        </div>
                      </div>
                      <div class="input-field col s12 m6 l12">
                        <input type="number" id="cuentaBanco" class="validate" name="cuentaBanco">
                        <label for="cuentaBanco">Numero de cuenta</label>
                      </div>
                  </div>
                    <div class="card-action center">
                      <a class="btn btnGuardarCuenta" style="margin-bottom:15px">Guardar</a>
                    </div>                      
                  {% endif %}
                </div>
              </li>
            </ul>
            <div class="card">
              
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card">
              
            </div>
          </div>
          <div class="col s12 m12 l12">
            <div class="card">
              <div class="card-content sinPadding">
                
              </div> 
            </div>
          </div>
        </div>    
    </main>
{% endblock %}
{% block script %}
  <script type="text/javascript">
  $(document).ready(function(){
    var sendForm = false;
  $("#bancoUsu").select2();

  //Si existe error en contraseña
  if ($('.errorCard').length){
    $('.collapsible').collapsible('open', 1);
    $("html, body").animate({ scrollTop: $('#formulario_reset2').offset().top }, 300);
  }
  $(".nroCuenta").text(function(i, v)
  {
      var v = v.replace(/[^\d]/g, '').match(/.{1,4}/g);
      return v ? v.join(' - ') : '';
  });

  //Validacion de formularios
  $("#formulario_reset").validate({
    errorElement : 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });

  $("#formulario_reset2").validate({
    errorElement : 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    }
  });
  //Usuario
  $('#formulario_reset').submit(function(e){
      if (sendForm == false) {
          e.preventDefault();
      }

      if (sendForm == false){
        Materialize.toast('<i class="material-icons left ">check_circle</i>Datos guardados exitosamente', 1500, 'rounded successToast', function(){
          sendForm = true;
          $('#btnActualizar').trigger('click');
        });
      }
    });

  //Banco
  $("#bancoUsu").select2();

    $('.btnGuardarCuenta').click(function(){

      var Ban_IdBanco = $('#bancoUsu').val();
      var Usb_Cuenta = $('#cuentaBanco').val();

      if (Usb_Cuenta !="" && Ban_IdBanco){
        if($('#tipoCuenta').is(':checked')) {
          var Usb_Tipo = 1;
        }
        else{
          var Usb_Tipo = 0;
        }

        $.ajax({
          data:{
            'Ban_IdBanco' : Ban_IdBanco,
            'Usb_Cuenta' : Usb_Cuenta,
            'Usb_Tipo' : Usb_Tipo
            },
            type: 'POST',
            url: base_url+'usuario/index/banco_usuario',
            success: function (r){
                location.reload(true);
            }
        });
      }else if (Usb_Cuenta.length < 12){
        Materialize.toast('<i class="material-icons left ">check_circle</i>El numero de cuenta no es valido', 1500, 'rounded warningToast');
      }else{
        Materialize.toast('<i class="material-icons left ">check_circle</i>No puedes dejar campos vacios', 1500, 'rounded warningToast');
      }
    });
  });
   </script>
{% endblock %}
