{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
  <style type="text/css">
    .customColorB{
      background-color: {{configuracion.Con_ColorBtn}} !important;
    } 
    .customColorA{
      background-color:{{configuracion.Con_ColorHexa}};
    } 
  </style>
{% endblock %}
{% block content %}
    <main class="container">
        <div class="card" >
         <div class="card-content">
         {% for pro in producto %}
          <span class="card-title">{{pro.Pro_Nombre}}</br></span>
            {% if configuracion.Mostrar_Precio == 1 %}
            {% else %} 
              <h6 style="color:rgba(0,0,0,0.6);font-size: 0.9rem;"><span>Precio entre</span><i> S/ {{pro.Pro_PrecioRango}} </h6></i>
            {% endif %}
            <div class="divider"></div>
            <blockquote style="border-left:5px solid {{configuracion.Con_ColorHexa}}">{{pro.Pro_Descripcion}}</blockquote>
              <div class="row center">
                <div class="center-align col s12 l12">
                  {% for fot in fotos %}
                     {% if pro.Pro_IdProducto == fotos[0].producto_Pro_IdProducto %}
                        <div class=" col s4 m3 l4"><img class="imgProductoDetalle" width="80" src="{{ruta_img}}{{fot.Prf_Img}}"></div>
                      {% endif %}         
                  {% endfor %}   
                </div>                
              </div>
              <div class="section">
                <h5>Producto en oferta</h5>
                 <div class="switch">
                    <label>
                      No
                      <input id="oferta"  data-precio="{{pro.Pro_Oferta}}" type="checkbox" data-idpro="{{pro.Pro_IdProducto}}">
                      <span class="lever" style="background-color: {{configuracion.Con_ColorHexa}}"></span>
                      Si
                    </label>
                  </div>
                </div>              
              <div class="row">
                <div class="right col s12 m3 l4">
                  <a class="btn addMasVar right" data-iddsc="{{Des_IdDetalle_SubCategoria.Des_IdDetalle_SubCategoria}}" data-idpro="{{pro.Pro_IdProducto}}"><i class="material-icons left">plus_one</i>Variacion</a>
                </div>
                <div class="col s12 m12 l12" id="aggVar2">

                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h5 class="center sinBordeBottom">Agrega fotos a cada variacion</h5>
                </div>
                  <table>
                    <thead class="bordered striped highlight">
                      <tr>
                          <th style="width : 50%"></th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody>                            
                      {% for sku in SKU %}                              
                        {% if pro.Pro_IdProducto == sku.Producto_Pro_IdProducto %}
                          <tr>
                            <td>
                              <div class="center ImageWrapper">
                                <div id="loadSkuImg{{sku.SKU_IdSku}}" class="hide">
                                  <div class="progress customColorA"><div class="indeterminate customColorB"></div></div>
                                </div>
                                {% if sku.SKU_Img == '' %}
                                  <img id="skuImg{{sku.SKU_IdSku}}" class="imgVarCat2" style="margin:0 auto" src="{{ruta_img}}nofoto.png" height="70">
                                {% else %}
                                  <img id="skuImg{{sku.SKU_IdSku}}" class="imgVarCat2 test materialboxed" style="margin:0 auto" src="{{ruta_img}}{{sku.SKU_Img}}" height="70">
                                {% endif %}                      
                                <a class=" fileWrapper file-field btn-large btn-floating halfway-fab  waves-effect waves-light"><i class="material-icons">camera_alt</i>
                                   <input  type="file" class="upImgSku subirImgVarCat2" data-idpro="{{pro.Pro_IdProducto}}" data-id="{{sku.SKU_IdSku}}" id="sku{{sku.SKU_IdSku}}" data-sku="{{sku.SKU_Nombre}}" accept="image/*">
                                </a>
                              </div>               
                            </td>
                            <td class="center"><span>{{sku.Var_Nombre}}:{{sku.Vao_Nombre}}</span>&nbsp;<br><span style="color: rgba(0,0,0,0.6)">{{sku.SKU_Color|title}}</span></td>
                          </tr>                           
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            {% endfor %}  
          </div>
          <div class="card-action center">
              <a href="{{base_url()}}usuario/inventario" class="btn">Regresar</a>
          </div> 
        </div> 
    </main>

{% endblock %}

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/productos.js" type="text/javascript"></script>
{% endblock %}
                 
