{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
<style type="text/css">
    .picker__date-display{
        background-color: {{configuracion.Con_ColorHexa}};
    } 
    .customColorA{
        background-color:{{configuracion.Con_ColorBtn}};
    }
    .picker__box{
        top: 10%;
        position: relative;
    }
    .picker__day.picker__day--today,.picker__today,.picker__close 
    { 
        color: {{configuracion.Con_ColorBtn}};
    } 
    .picker__day--selected, .picker--focused .picker__day--selected {
        color: #F5F4F3;
        font-weight: 700;
        background-color: {{configuracion.Con_ColorBtn}}; 
        
    }
    .tabs .indicator {
        background-color: {{configuracion.Con_ColorBtn}}; 
    }
</style>
{% endblock %}
{% block content %}
    <!-- Page Layout here -->
    <main class="container">
        <div class="card">
            <div class="card-content center sinPadding">
                <div class="cardContentFix">
                <span class="card-title">Estadisticas</span>
                    <div class="row">
                        <div class="input-field col s6 m3 l3">
                            <input id="fecha_inicio" type="text" class="datepicker">
                            <label for="fecha_inicio" >Del</label>
                        </div>
                        <div class="input-field col s6 m3 l3">
                            <input id="fecha_fin" type="text" class="datepicker">
                            <label for="fecha_fin" >Al</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <select class="grafReport">
                                  <option value="" disabled selected>Selecciona el reporte</option>
                                  <option value="1">Pedidos</option>
                                  <option value="2">Cotizaciones</option>
                                  <option value="3">Productos</option>
                            </select>
                            <label>Tipo de reporte</label>
                        </div>
                    </div>
                </div>
            </div>
		</div>

        <div class="card reporteContainer">
            <div class="card-content center sinPadding">
                <div class="row">
                    <div class="col s12">
                      <ul class="tabs">
                        <li class="tab col s6"><a class="active" href="#datos"><i style="position: relative;top: 10px" class="material-icons left">format_align_justify</i>Datos</a></li>
                        <li class="tab col s6"><a href="#grafico"><i style="position: relative;top: 10px" class="material-icons left">pie_chart</i>Grafico</a></li>
                      </ul>
                    </div>
                    <div id="datos" class="col s12">
                        <div  id="reporteLoad">
                        </div>
                    </div>
                    <div id="grafico" class="col s12">
                        <canvas id="myChart" width="400" height="300"></canvas>
                    </div>
                  </div>
            </div>
        </div>
        
    </main>
{% endblock %}


{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script> 
    <script src="{{base_url('public/')}}js/tienda/reporte.js" type="text/javascript"></script>
    <script type="text/javascript">
    $('.reporteContainer').hide();
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Hoy',
        close: 'Ok',
        clear: 'Borrar',
        firstDay: 1,
        monthsFull: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
        weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
        weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
        weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
        closeOnSelect: false, // Close upon selecting a date
        format: 'yyyy-mm-dd'
      });

    $(document).ready(function(){
        window.dispatchEvent(new Event('resize'));
    });
    
    </script>
{% endblock %}
