{% extends "layout/intranet/template_lite.twig" %}
{% block head %}
{% endblock %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="col offset-l4 s10 offset-s1 l4">
        <div class="card center-align z-depth-3" >
          <div class="card-content">
            <span class="card-title">Reestablecer contraseña</span>
            {{ form_open("", {role: 'form', id: 'formulario_reset', class:'form-horizontal login-form'}) }}  
              <div class="row center-align">
                <span class="red-text" id="mensaje_error"></span>
              </div>
              <div id="input_index_usuario" class="input-field">
                <input x="0" id="clave" type="password" class="validate" name="clave" placeholder="Nueva Contraseña" required="">
              </div>
              <div id="input_index_usuario" class="input-field">
                <input x="0" id="clave2" type="password" class="validate" name="clave2" placeholder="Confirmar Nueva Contraseña" required="">
              </div>
              <div class="card-action center">
                <input type="submit" name="btnCambiar" value="Cambiar Contraseña" class="btn btnCambiar black-text">
              </div>
              {% if error %}
                <div class="card-action center" style="color: red">
                  {% if form_error('clave') %}
                    <p>{{form_error('clave')}}</p>
                  {% endif %}
                  {% if form_error('clave2') %}
                    <p>{{form_error('clave2')}}</p>
                  {% endif %}
                </div>
              {% endif %}
            {{ form_close() }}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $("#formulario_reset").validate({
      errorElement : 'div',
      errorPlacement: function(error, element) {
        var placement = $(element).data('error');
        if (placement) {
          $(placement).append(error)
        } else {
          error.insertAfter(element);
        }
      }
    });
  </script>
{% endblock %}