<div style="width:95%" class="row sinBordeBottom">
    <div class="input-field col s12 m12 l4" style="margin:0px">
      <div class="card">
        <div class="card-image cardImageEdit">
          <div class="preloadImgVar" id="imgSkuEdit">
            {% if SKU.SKU_Img == '' %}
              <img id="skuImg{{SKU.SKU_IdSku}}" class="materialboxed" src="{{ruta_img}}nofoto2.png" height="100%">
            {% else %}
               <img class="materialboxed" id="skuImg{{SKU.SKU_IdSku}}" data-caption="" height="100%" src="{{ruta_img}}{{SKU.SKU_Img}}">
            {% endif %}               
          </div>

          <span class="card-title">{{SKU.SKU_Nombre}}</span>                       
          <a  class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">camera_alt</i>
            <input type="file" class="upImgSku fileInput" accept="image/*" id="sku{{SKU.SKU_IdSku}}" data-sku="{{SKU.SKU_IdSku}}">
          </a>
        </div>
        <div id="loadImgSku"></div>
      </div>
    </div>
    <div class="input-field col s6 m6 l4">
      <input id="cantidadSKU2" type="number" class="validate" value="{{SKU.SKU_Cantidad}}" disabled="">
      <label for="cantidadSKU2" class="active">Stock Actual</label>
    </div>
    <div class="input-field col s6 m6 l4">
      <input id="cantidadSKUact" type="number" class="validate">
      <label for="cantidadSKUact" class="active">Cant. Operacion</label>
    </div>
    <div class=" col s8 m6 l4 center sinPadding">
      <div class="radioContainer center">      
        <input name="skuact" type="radio" id="sumar" />
        <label for="sumar">SUMAR</label>   
        <input name="skuact" type="radio" id="restar" />
        <label for="restar">RESTAR</label> 
      </div>      
    </div>
    <div class="input-field col s4 m6 l4 sinBordeTop">
      <input class="redondeo center" id="cantidadSKU" type="number" style="background-color:{{configuracion.Con_ColorHexa}} " placeholder="Nuevo Stock" value="{{SKU.SKU_Cantidad}}" readonly>
    </div>  
</div>
<div class="modal-footer">
  <a href="#!" class="modal-close waves-effect waves-red btn-flat">Salir</a>
  <a class="waves-effect waves-light btn saveSkuEdit" data-idsku="{{SKU.SKU_IdSku}}" data-id="">Guardar</a> 
</div>
{% block script %}
    <script src="{{base_url('public/')}}js/tienda/jsSkuEdit.js" type="text/javascript"></script>
    <script type="text/javascript">
    var imagesPreview = function(input, placeToInsertImagePreview) {
            if (input.files) {
                var filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        $($.parseHTML('<img height="200px" class="materialboxed">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
 
        };
        $('.fileInput').change(function() {
            $('.preloadImgVar').text('');
            imagesPreview(this, 'div.preloadImgVar');
        });
    </script>
{% endblock %}
                 
