{% extends "layout/intranet/template_adm.twig" %}

{% block head %}
<style type="text/css">
  .customColorB{
    background-color: {{configuracion.Con_ColorBtn}} !important;
  } 
  .customColorA{
    background-color:{{configuracion.Con_ColorHexa}};
  }
</style>
{% set latitud = -12.0431800 %}
{% set longitud = -77.0282400 %}
<script type="text/javascript">
  var latitud = "{{latitud}}";
  var longitud = "{{longitud}}";
</script>
<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/infoTienda.css')}}"  media="screen,projection"/>
{% endblock %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="col s12 m6 l12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <div class="col s6">
                  <div style="height: 300px">
                    <div id="map" style="height: 100%;"></div>
                  </div>
                </div>
                <div class="col s6">
                  <div class="col s12 input-field">
                    <label for="correo" class="active">Latitud</label>
                    <input name="latitud" type="text" id="latitud" class=".form-group" value="{{latitud}}">
                  </div>
                  <div class="col s12 input-field">
                    <label for="clave" class="active">Longitud</label>
                    <input name="logintud" type="text" id="logintud" class=".form-group" value="{{longitud}}">
                  </div>
                  <button class="btn btnLocalizacion" onclick="guardar()">Añadir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block script %}
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWhKOiqA-JG_vJ8HWLvYLJD9yQJyp7AVw"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnqEDXE9ekKeGG778KOndF2wM5P3fFSug"></script>
    <script src="{{base_url('public/')}}plugins/gmaps.js" type="text/javascript"></script>
    <script type="text/javascript">
      function guardar()
      {
        
      }
    </script>
    <script>
      var mapObj = new GMaps({
        div: '#map',
        lat: latitud,
        lng: longitud,



        // click: function(e) {
          
        //   var click_latitud = e.latLng.lat();
        //   var click_longitud = e.latLng.lng();


          
        // }
      });
      mapObj.addMarker({
        lat: -12.0431800,
        lng: -77.0282400,
        draggable: true,
        title: 'Tu tienda',
        infoWindow: {
          content: '<h5>Local</h5>',
          maxWidth: 200
        },
        dragend: function(e) {
          var click_latitud = e.latLng.lat();
          var click_longitud = e.latLng.lng();

          document.getElementById("latitud").value = click_latitud;
          document.getElementById("logintud").value = click_longitud;
        }
      });
    </script>
{% endblock %}