{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
<style type="text/css">
  .customColorB{
    background-color: {{configuracion.Con_ColorBtn}} !important;
  } 
  .customColorA{
    background-color:{{configuracion.Con_ColorHexa}};
  }
</style>
{% endblock %}
{% block content %}
  <main class="container">
  	<div class="row card">
      <div class="card-content sinPadding">
        <div class="col s12 m12 l12 center-align">
          <h4 class="card-title">{{pagina.titulo}}</h4>
        </div>
        
        {% if error %}
          <div class="col s12 m12 l12 center-align">
              <p class="red-text">Este correo ya esta registrado</p>
          </div>
        {% endif %}
        <div class="col s12 m12 l12">
          {{ form_open("", {role: 'form', id: 'formulario_registro', class:'form form-horizontal formValidate', method:'post', novalidate:'novalidate'}) }}
                <div class="row validarTienda setup-content" id="dtienda" style="margin: 0px">
                  <div class="col s12 m6 l6 input-field">
                    <input name="dni" id="dni" type="text"  class=".form-group validate" required="" {% if (error) %} value="{{set_value('dni')}}{% endif %}">
                    <label for="dni">DNI</label>
                  </div>
                  <div class="col s12 m6 l6 input-field">
                    <input type="text" name="nombre" id="nombre"  class=".form-group validate" required="required" {% if (error) %} value="{{set_value('nombre')}}{% endif %}">
                    <label for="nombre">Nombre Completo</label>
                  </div>
                  <div class="col s12 m6 l6 input-field">
                    <input type="number" name="celular" id="celular"  class=".form-group validate" {% if (error) %} value="{{set_value('celular')}}{% endif %}">
                    <label for="celular">Celular</label>
                  </div>
                  <div class="col s12  m6 l6 input-field">
                    <input name="correo" type="email" id="correo"  class=".form-group validate" required="" {% if (error) %} value="{{set_value('correo')}}{% endif %}">
                    <label for="correo2">Correo Electrónico</label>
                  </div>
                  <div class="col s12 input-field">
                    <input name="clave" type="password" id="clave"  class=".form-group validate" required="" autocomplete="new-password" {% if (error) %} value="{{set_value('clave')}}{% endif %}">
                    <label for="contrasena">Contraseña</label>
                  </div>
                </div>
                <div class="card-action center">
                  <a href="{{base_url()}}usuario/index/vendedor" class="btn-flat waves-effect waves-light waves-orange black-text">Atras</a>
                  <input type="submit" name="btnRegistrarse"  id="btnRegistrarse" value="Registrarse" class="btn pormayorAccent btnCrear white-text"> 
                </div>
          {{ form_close() }}
        </div>
    	</div>
    </div>
  </main>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var sendForm = false;
    $("#formulario_registro").validate({
        errorElement : 'div',
        errorPlacement: function(error, element) {
          var placement = $(element).data('error');
          if (placement) {
            $(placement).append(error)
          } else {
            error.insertAfter(element);
          }
        }
    });

    $('#formulario_registro').submit(function(e){
          if (sendForm == false) {
              e.preventDefault();

              var vacios = false; 
              $(".validarTienda input").each(function(){
                  if($(this).val()==""){
                      vacios = true;
                  }
              });

              if (vacios == true){
                  Materialize.toast('<i class="material-icons left ">warning</i>No puedes dejar campos vacios', 2000, 'rounded warningToast');
              }
          }

          if (sendForm == false && vacios == false){
              Materialize.toast('<i class="material-icons left ">check_circle</i>Vendedor creado exitosamente', 1500, 'rounded successToast', function(){
                  sendForm = true;
                  $('#btnRegistrarse').trigger('click');
              });
          }
      });
  </script> 
{% endblock %}
