{% extends "layout/intranet/template_adm.twig" %}

{% block head %}
  
{% endblock %}
{% block content %}
    <main class="container">
      <div class="row">               
        <div class="col s12 m12 l12">
          <div class="card" id="addLocal">
            <div class="card-content">
              <div class="infoCointainer">
                <div class="row">
                  <div class="col s12 m10 l10 offset-l1">
                    <div class="card">
                      {{ form_open("", {role: 'form', id: 'formulario_datos', class:'form-horizontal login-form'}) }}
                        <div class="card-content">
                          <div class="card-title center">{{pagina.titulo}}</div>
                          <div class="input-field">
                            <input type="hidden" id="Per_IdPersona" class="validate" name="Per_IdPersona" value="{{datos_usuario.Per_IdPersona}}" required="">
                            <input type="text" id="dni" class="validate" name="dni" value="{{datos_usuario.Per_Dni}}" required="">
                            <label for="dni" class="active">DNI</label>
                          </div> 
                          <div class="input-field">
                            <input type="text" id="nombre" class="validate" name="nombre" value="{{datos_usuario.Per_Nombre}}" required="">
                            <label for="nombre" class="active">Nombre Completo</label>
                          </div>
                          <div class="input-field">
                            <select name="selSexo">
                              <option value="">-Seleccione-</option>
                              <option value="1" {% if datos_usuario.Per_Sexo == 1 %}selected{% endif %}>Masculino</option>
                              <option value="2" {% if datos_usuario.Per_Sexo == 2 %}selected{% endif %}>Femenino</option>
                            </select>
                            <label>Sexo</label>
                          </div>
                          <br>
                          <div class="input-field">
                            <input type="date" id="fecha_nacimiento" class="validate" name="fecha_nacimiento" value="{{datos_usuario.Per_FechaNacimiento}}">
                            <label for="fecha_nacimiento" class="active">Fecha de Nacimiento</label>
                          </div>
                          <div class="input-field">
                            <input type="text" id="telefono" class="validate" name="telefono" value="{{datos_usuario.Per_Telefono}}">
                            <label for="telefono" class="active">Telefono</label>
                          </div>
                          <div class="input-field">
                            <input type="text" id="celular" class="validate" name="celular" value="{{datos_usuario.Per_Celular}}">
                            <label for="celular" class="active">Celular</label>
                          </div>
                          <div class="card-action right-align">
                            <a class="btn-flat grey-text text-darken-4" type="button" href="{{base_url()}}usuario/index/vendedor">Atras</button>
                            <input type="submit" name="btnActualizar" value="Guardar" class="btn white-text">
                          </div>
                          {% if error %}
                            <div class="errorCard cardContentFix center" style="color: red; width: 100%">
                              {% if form_error('dni') %}
                                <p>{{form_error('dni')}}</p>
                              {% endif %}
                            </div>
                          {% endif %}
                      {{ form_close() }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
    </form>
  </div>
</main>
{% endblock %}
{% block script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('select').material_select();     
    });
  </script>
{% endblock %}
