{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
<style type="text/css">
  .customColorB{
    background-color: {{configuracion.Con_ColorBtn}} !important;
  } 
  .customColorA{
    background-color:{{configuracion.Con_ColorHexa}};
  }
</style>
{% endblock %}
{% block content %}
    <!-- Page Layout here -->
    <main class="container">
    	<div class="row card">
        	<div class="card-content" style="padding: 24px 15px;">
          		<div class="col s12 m12 l12 center-align"> 
            		<h4 class="card-title">{{pagina.titulo}}</h4>
          		</div>
          		<div class="input-field col s12 m12 l12 center-align inputFieldCustom sinPadding">
              	<a href="{{base_url()}}usuario/index/crear_vendedor" class="btn waves-effect waves-light modal-trigger"><i class="material-icons left">add</i>Agregar</a>
          		</div>
          		<div class="col s12 l12 sinPadding">
              		<table id="tablaProductos" class="tablaVendedores heighlight centered">
                		<thead>
                  			<tr style="background-color:{{configuracion.Con_ColorHexa}}">
                          <th>N°</th>
                    			<th>Datos</th>
                    			<th>Estado</th>
                    			<th>Opciones</th>
                  			</tr>
                		</thead>
                		<tbody>
                      {% set nro = 1 %}
                      {% for ven in vendedores %}
                        <tr>
                          <td>{{nro}}</td>
                          <td><p>{{ven.Per_Nombre}}</p><small class="enfasisB">{{ven.Usu_Correo}}</small></td>
                          <td>
                            <div class="switch">
                              <label>
                                No <input id="estado_{{ven.Usu_IdUsuario}}"  name="estado" type="checkbox" {% if ven.Usu_Activated == 1 %} checked="" {% endif %} value="{{ven.Usu_IdUsuario}}">
                                <span class="lever" style="background-color: {{configuracion.Con_ColorHexa}}"></span> Si
                              </label>
                            </div>
                          </td>
                          <td>
                            <a class="btn waves-effect waves-light blue modal-trigger" href="{{base_url()}}usuario/index/editar_vendedor/{{ven.Usu_IdUsuario}}"><i class="material-icons">edit</i></a>
                          </td>
                        </tr>
                        {% set nro = nro + 1 %}
                      {% endfor %}
              			</tbody>
            		</table>
             	</div>   
      		</div>
      	</div>
    </main>
{% endblock %}
{% block script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $(":checkbox").click(evento_checkbox);
    });

    function evento_checkbox() 
    {
      valor = $(this).val();

      if($('#'+$(this).attr("id")).prop('checked'))
      {
        estado = 1;
      }
      else
      {
        estado = 0;
      }

      $.ajax({
        type: "POST",
        data:
            {
              "id": valor,
              "estado": estado
            },
        url: base_url+'usuario/index/post_actualizar_estado',
        success: function (data) {
          
        }
      });
    }
  </script>
{% endblock %}
