 <!-- Modal Structure -->
        <div class="container">
              <div class="card">
                <div class="card-content">
                    <span class="card-title">Agregar producto</span>
                    <div class="row">
                        <div class="input-field col l4">
                            <input type="text" id="nombreProducto" class="validate">
                            <label for="nombreProducto">Nombre del Producto</label>
                        </div>
                        <div class="input-field col l8">
                            <input type="text" id="descripcionProducto" class="validate">
                            <label for="descripcionProducto">Descripción del Producto</label>
                        </div>
                    </div>       
                        <div class="input-field col l6">
                            <select id="catSelect">
                                <option value="" disabled selected>Seleccione la Catagoría</option>
                              {% for cat in categoria %}
                                <option value="{{cat.Cat_IdCategoria}}">{{cat.Cat_Nombre}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="input-field col l6" id="divSucSelect">
                        </div>
                        <div class="input-field col l6" id="divSucDetalle">
                        </div>      
                        <div class="col l12" id="divVarCat">
                        </div>
                        <div class="col l12" >
                            <ul id="detalleProducto">
                                

                            </ul>
                        </div>
                </div>
              </div>
        </div>    	             
    

{% block script %}
    <script src="{{base_url('public/')}}js/tienda/modal_agregarproducto.js" type="text/javascript"></script>
{% endblock %}