    <select id="sucDetalle" class="browser-default">
        	<option value="" disabled selected>Seleccione la Detalle de SubCategoria</option>  
        {% for des in detalle_subcategoria %}
        	<option value="{{des.Des_IdDetalle_SubCategoria}}">{{des.Des_Nombre}}</option>  
		{% endfor %}                    
    </select>
    {# <label>Detalle Sub Categoria</label> #}


{% block script %}
    <script src="{{base_url('public/')}}js/tienda/selSucDetalle.js" type="text/javascript"></script>
{% endblock %}
