<div id="rowContentVariacion">
	<h5>Variaciones del Producto</h5>
	{% if variacion %}
	{% else %}
	<a class="btn center verNuevoVar">Crear variación nueva</a>
	{# <a class="btn center ProUnico">Sin variación (Producto único)</a> #}
	{% endif %}

	<div id="divNewVar" class="hide">
		<div class="row">
			<div class="input-field col s12 l4">
				<input type="text" id="nombreVarNew" name="nombreVarNew" class="nombreVarNew" placeholder="Talla,Tamaño">
				<label for="nombreVarNew">Nombre de la Variación</label>
			</div>
			<div class="input-field col s12 l6">
				<input type="text" name="nombreVAOnew" id="nombreVAOnew" class="nombreVAOnew" placeholder="Pequeño, Mediado, Grande">
				<label for="nombreVAOnew">Detalle de Variación {Separe con comas(,) cada detalle}</label>
			</div>
			<div class="col s12 l2 center">
				<a class="btn crearVar">Guardar</a>
			</div>
		</div>
	</div>
	<div>	
		<div id="load_nuevaVar"></div>

		<div id="rowTallas" class="col s12 l12">
			<label></label>
			<div class="row">
				{% for var in variacion %}
				{% for vac in var_cat %}
					{% if var.Var_IdVariacion == vac.variacion_Var_IdVariacion %}
						<div style="margin: 5px 0px;" class="containerTalla col s4 m4 l3 existe">
							<input type="checkbox" name="varCheckbox" data-nomvar="{{var.Var_Nombre}}" data-vari="{{var.Var_IdVariacion}}" class="checkboxVar" data-vaon="{{vac.Vao_Nombre}}" id="{{vac.Vao_IdVaricion_Opcion}}" />
							<label style="padding-left:25px" for="{{vac.Vao_IdVaricion_Opcion}}">{{vac.Vao_Nombre}}</label>
						</div>
					{% endif %} 
				{% endfor %}  
				{% endfor %}	
			</div>
		</div>
		<div class="col s12 l12">
			<label>Colores </label>
			<select class="coloresVar browser-default col l12" name="colores[]" id="coloresVar" multiple="multiple">
		        {% for col in colores %}
					<option value="{{col.Col_IdColores}}" id="{{col.Col_IdColores}}">{{col.Col_Nombre}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
	
{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#rowTallas').hide();
			if ($('.containerTalla').hasClass('existe')){
				$('#rowTallas').show(1000);
			}else{
				$('#rowTallas').hide(1000);
				$('#rowTallas').addClass('No existe');
			}
    		$('#coloresVar').select2({
    			multiple: true,
    			placeholder: "Enter an item id please",
    		});
		});
	</script>
    <script src="{{base_url('public/')}}js/tienda/varcat.js" type="text/javascript"></script>
{% endblock %}
