<div class="card-panel">
	<span class="card-title tituloVarPedido2">Variacion del Producto</span>
	<div class="row rowVarCat2">
		<div class="col s12 l6">
			{% for var in variacion %}
			{% for vac in var_cat %}
				<p>
				{% if var.Var_IdVariacion == vac.variacion_Var_IdVariacion %}
					<div style="margin: 5px 0px;" class="containerTalla col s4 l4" >
						<input name="variacion" type="radio" data-vari="{{var.Var_IdVariacion}}" class="checkboxVar with-gap" data-vaon="{{vac.Vao_Nombre}}" data-nomvar="{{var.Var_Nombre}}" id="{{vac.Vao_IdVaricion_Opcion}}" data-idpro="{{IdProducto}}"/>
	      				<label for="{{vac.Vao_IdVaricion_Opcion}}">{{vac.Vao_Nombre}}</label>
      				</div>
				{% endif %}
				</p>		  
			{% endfor %}  
			{% endfor %}	
		</div>
		<div class="col s6 l6" id="colVarCarga">
			<label>Color</label>
			<select class="coloresVar browser-default col l12" name="colores[]" id="coloresVar">
		        {% for col in colores %}
					<option value="{{col.Col_IdColores}}" id="{{col.Col_IdColores}}">{{col.Col_Nombre}}</option>
				{% endfor %}
			</select>
		</div>

		<div  class="agregarContainerVarCat2 col s6 l12">
			<a  class="btn waves-effect waves-light addVarPro">Agregar</a>
		</div>
	</div>
	<div class="divider"></div>
	<div id="lista_variacion" class="validarCantVarCat2">
	
	</div>
	<div style="margin-top: 5px;" class="addVarBDCont col s12 l12 center">
		<a class="btn addVarBD" data-idpro="{{IdProducto}}">Guardar</a>
	</div>

</div>
	
{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
    		$('.rowVarCat2').hide();
    		$('.addVarBDCont').hide();
    		$('#coloresVar').hide();
    		
    	if ($('.tituloVarPedido2').hasClass('card-title')){
    		setTimeout(viewColor, 200);
			$('.rowVarCat2').show(1000);		
		}
    	function viewColor(){
    		$('#coloresVar').select2({width: '100%'});
    		$('#coloresVar').show(1000);
    	};

    	$('.addVarBD').click(function(){
    		var Valido = true;
    		var Pro_IdProducto = $(this).data('idpro');
	        $('.validarCantVarCat2 input[type="number"]').each(function() {
	            if ($(this).val() == '') {
	                Valido = false;
	            }
	        });
	        if(Valido == true){
				var combId = [];
				var combCantidad = [];
				 $(".cntVar").each(function(){
				         combCantidad.push($(this).val());
				         combId.push($(this).data('idcom'));
				    });	
				
				$.confirm({
	              icon: 'save',
	              theme: 'modern',
	              closeIcon: false,
	              animation: 'scale',
	              type: 'green',
	              title: 'Guardar variaciones',
	              columnClass: 'small',
	              content: 'Abajo agregaras sus fotos',
	              draggable: false,
	              buttons: {
	                  Guardar: {
	                    btnClass: 'btn',                    
	                    action: function (){
	                      	$.ajax({
							 	data:{
								'Pro_IdProducto' : Pro_IdProducto,
								'combId' : combId,
								'combCantidad' : combCantidad
								},
							    type: "POST",
							    url: base_url+'usuario/inventario/agregar_variacion_nueva', 
							    success: function(r){
							    	$.confirm({
							            icon: 'check',
							            theme: 'modern',
							            closeIcon: false,
							            animationBounce: 1.5,
							            autoClose: 'Aceptar|3000',
							            type: 'green',
							            title: 'Cambios Guardados',
							            columnClass: 'small',
							            content: 'Las variaciones se guardaron exitosamente',
							            draggable: false,
							            buttons: {
							                Aceptar: {
							                	btnClass: 'btn',                    
							                    action: function (){
							                    	location.reload(true);
													//window.location.href = base_url+'usuario/inventario/productoDetalle/'+Pro_IdProducto;
							                    }       
							                }
							            }
							        });
								},
							    error: function(data) {
							      alert('ERROR AL SUBIR LA VARIACIÓN DEL PRODUCTO'+data);
							    }
							  }); 
	                    }       
	                  },
	                  Cancelar: {
	              
	                  }
	              }
	            });    
			}else{
				 Materialize.toast('<i class="material-icons left ">warning</i>Agrega todas las cantidades', 1500, 'rounded warningToast');
			}
		});
		});
	</script>
    <script src="{{base_url('public/')}}js/tienda/varcat.js" type="text/javascript"></script>
{% endblock %}

