<!DOCTYPE html>
<html>
   <head>      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title> {% if pagina.titulo %}{{pagina.titulo}} {% else %}
        PORMAYOR.PE {% endif %} | pormayor.pe</title>
      <link rel="icon" type="image/png"  href="{{ruta_img}}logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/materialize.css')}}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/jquery-confirm.min.css')}}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/easyzoom.css')}}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/csspormayor.css')}}"  media="screen,projection"/> 
      <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/templates.css')}}"  media="screen,projection"/> 
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129372100-1"></script>
      <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'UA-129372100-1');
      </script>
      {% block head %} {% endblock %}
      <style type="text/css">
        nav{
          background: {{configuracion.Con_ColorHexa}};
        }
        .page-footer{
          background: {{configuracion.Con_ColorHexa}};
        }
        .btn-large, .btn, .btn-floating{
         background: {{configuracion.Con_ColorBtn}};
        }
   </style>
   </head>
 <body>
      <header>        
      <div class="navbar-fixed ">
        <nav class="z-depth-2 nav-extended">
          <div style="margin-bottom: 0px" class="nav-wrapper row navRowMobile">
            <div class="col s2 l2 center colMenuButton hide-on-large-only">
              <ul id='dropdown1' class='dropdown-content'>
                {# {% if usuario.rol == 2 or usuario.rol == 3 %}
                  {% if usuario.id_tienda == tienda.Tie_IdTienda %}                    
                    <li><a href="{{base_url()}}usuario/tienda"><i class="material-icons left">settings</i> Panel</a></li>
                  {% else %}
                    <li><a href="{{base_url()}}comprador/index/pedidos"><i class="material-icons left">settings</i> Panel</a></li>
                  {% endif %}
                {% else %}
                  <li><a href="{{base_url()}}comprador/index/pedidos"><i class="material-icons left">settings</i> Panel</a></li>
                {% endif %} #}
                <li><a href="{{base_url()}}comprador/index/pedidos"><i class="material-icons left">account_circle</i>Perfil de Usuario</a></li>
                {% if usuario.rol == 2 or usuario.rol == 3 %}
                  <li><a href="http://{{subdominio_tienda}}.{{dominio}}/usuario/tienda"><i class="material-icons left">settings</i>Panel Tienda</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a id="cerrarSesionBtn"><i class="material-icons left">power_settings_new</i>Cerrar</a></li>
              </ul>
              <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              {% if tienda.Tie_Logo %}
              {% endif %}
            </div>
            <div class="logoPositivo col s4 l2 center colMenuPcII">
              <a href="http://pormayor.pe">
                <img src="{{ruta_img}}LogoPositivo.svg" > 
              </a>
            </div>
            <div class="col s6 m5 l4" style="padding-left:0px" >
              <div class="contentSearch">
                <i class="material-icons searchboxIcon">search</i>
                <input id="search" type="text" class="browser-default black-text buscar-pormayor" placeholder="¿Qué buscas?">
              </div>
            </div>
            <div class="col l5 hide-on-med-and-down colMenuPcII ">
              <ul class="right">
                {% if btn_comentario %}
                <li><a href="#comentsBlock" class="comentsBtn modal-trigger">Comentarios</a></li>
                {% endif %}                
                <li class="filtrarBtn"><a href="#variacionModal" class="modal-trigger"><i class="material-icons left" >filter_list</i>Filtrar</a></li>
                <li><a href="{{base_url()}}"><i class="material-icons left">store_mall_directory</i>Productos</a></li> 
                {% if usuario.logueado %}
                    <li>
                      {% if usuario.rol == 2 or usuario.rol == 3 %}
                        {% if usuario.id_tienda == tienda.Tie_IdTienda %}
                          <a class="dropdown-trigger" href="{{base_url()}}usuario/tienda" data-activates="dropdown1">{{ usuario.nombre|length > 7 ? usuario.nombre|slice(0, 7) ~ '...' : usuario.nombre  }}<i class="material-icons right">account_circle</i></a>
                        {% else %}
                           <a class="dropdown-trigger" href="{{base_url()}}comprador/index/pedidos" data-activates="dropdown1">{{ usuario.nombre|length > 7 ? usuario.nombre|slice(0, 7) ~ '...' : usuario.nombre  }}<i class="material-icons right">account_circle</i></a>
                        {% endif %}                        
                      {% else %}
                          <a class="dropdown-trigger" href="{{base_url()}}comprador/index/pedidos" data-activates="dropdown1">{{ usuario.nombre|length > 7 ? usuario.nombre|slice(0, 7) ~ '...' : usuario.nombre  }}<i class="material-icons right">account_circle</i></a>
                      {% endif %}
                    </li>
                  {% else %}
                    <li>
                      <a href="//pormayor.pe/usuario/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Login"><i class="material-icons">person_pin</i></a>
                    </li> 
                {% endif %} 
              </ul>
            </div>
          </div>
          <a class="backboxIcon right">
            <i class="material-icons">arrow_back</i>
          </a>
          <div class="nav-content hide-on-large-only">
            <div class="row" style="margin-bottom:0px">
              <div class="menuMobilePri1 col s4"> 
               <button class="waves-effect waves-light modal-trigger btn-flat iconSubNav" href="#variacionModal">Filtros</button>
              </div>
              <div class="menuMobilePri4 hide col s4 center" style="margin-bottom:5px">
                <a class="waves-effect waves-light modal-trigger btn-flat white-text" href="{{base_url()}}index"><i style="top:-10px" class="iconSubNav material-icons left">arrow_back</i>Atras</a>
              </div>
              <div class="menuMobilePri2 col s4 center">
                <button class="tiendaInicio waves-effect waves-light modal-trigger btn-flat iconSubNav" href="!#"><i class="iconSubNav material-icons">store_mall_directory</i></button>
              </div>
              <div class="menuMobilePri3 col s4 center">
                <button class="waves-effect waves-light modal-trigger btn-flat iconSubNav" href="#infoTiendaMobile"><i class="iconSubNav material-icons">keyboard_arrow_down</i></button>
              </div>
              <div class="menuMobileSec1 hide col s6 center" style="margin-bottom:5px">
                <a class="waves-effect waves-light modal-trigger btn-flat white-text" href="{{base_url()}}index"><i style="top:-10px" class="iconSubNav material-icons left">arrow_back</i>Atras</a>
              </div>
              <div class="menuMobileSec2 hide col s6 center">
                <a class="comentsBtn waves-effect waves-light modal-trigger btn-flat white-text" href="#comentsBlock">Comentarios</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
        {% if usuario.rol == 2 or usuario.rol == 3 %}
              {% if usuario.id_tienda == tienda.Tie_IdTienda %}                  
                    {% if pedidos_pendientes.Cantidad > 0 %}
                    <div class="card-panel yellow lighten-4 center">
                      Tienes notificaciones nuevas. Responde rapidito y vende más...
                    </div>
                    {% endif %}
              {% endif %}

        {% endif %}
               
      <!-- Container Colores -->
      <!-- <div id="coloresModal" style="background-color:rgba(255,255,255,0.8)" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="row">
            {% for col in colores %}
              <div class="col s6">
                <div style="background-color:{{col.Col_Hex}} " class="colorCircle"></div> 
                <input type="radio" name="coloresFilter" id="{{col.Col_IdColor}}" value=".{{col.Col_IdColor}}"/>
                <label style="color: rgba(0,0,0,0.6)" for="{{col.Col_IdColor}}">{{col.Col_Nombre|title}}</label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
      </div> -->

      <!-- Container Variaciones-->
      <div id="variacionModal" class="modal modal-fixed-footer">
        <div class="modal-content validar modalCustomPro" style="background-color:white">
          <a class="modal-close modal-close-custom right" data-dismiss="modal" data-position="bottom" data-tooltip="Cerrar ventana"><i class="material-icons  closeIconA">close</i></a>
          <h5 class="headerModal z-depth-2" style="background-color: {{configuracion.Con_ColorBtn}} ">Filtrar</h5>
           <ul>
            <li>              
                <div class="row">
                  {% for fil in filtro %}
                    <div class="col s6 m3" >
                        <input type="radio" name="varFilter" class="modal-action modal-close checkVarFilter" value="{{fil.Des_IdDetalle_SubCategoria}}" id="varFilter{{fil.Des_IdDetalle_SubCategoria}}"/>
                        <label for="varFilter{{fil.Des_IdDetalle_SubCategoria}}">{{fil.Des_Nombre}}</label>
                    </div>
                  {% endfor %}
                </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
      </div>

      <!-- INFO TIENDA -->
      <div id="infoTiendaMobile" class="modal bottom-sheet">
        <div class="modal-content" style="padding:0px">
          <div class="row">
            <div class="col s12" style="padding:0px">
              <ul class="tabs">
                <li style="background-color: {{configuracion.Con_ColorHexa}};" class="tab col s3"><a style="color: white;" class="active" href="#info">Informacion</a></li>
                <li class="tab col s3"><a href="#locales">Locales</a></li>
              </ul>
            </div>
            <div id="info" class="col s12">
              <div class="row">
                <div class="col s12 center">
                  <h5><i class="material-icons left">star</i>{{tienda.Tie_Nombre}}</h5>
                </div>
                {% if dtienda.Tid_Descripcion != '<p>&nbsp;</p>' %}
                  <div class="col s12 center">
                    <blockquote>{{dtienda.Tid_Descripcion}}</blockquote>
                  </div>
                {% endif %}   
                <div class="col s6 center">
                  <img src="{{ruta_img}}{{tienda.Tie_Logo}}" class="responsive-img">
                </div>
                <div class="col s6 center">
                  <img src="{{ruta_img}}{{dtienda.Tid_Img}}" class="responsive-img">
                </div>

              </div>
            </div>
            <div id="locales" class="col s12">
              <div class="row">
                <div style="margin-bottom: 10px" class="col s12">
                  <label>Locales</label>
                  <select class="opcionDirMobile browser-default">
                    <option value="" disabled selected>Selecciona un local</option>
                    {% for loc in local %}
                      <option data-long="{{loc.Loc_Long}}" data-lat="{{loc.Loc_Lat}}" value="{{loc.Loc_Numero}}" data-telfLocal="{{loc.Loc_Numero}}">{{loc.Loc_Nombre}} - {{loc.Loc_Direccion}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col s12 center">
                  <div class="card-content" id="mapMobile" style="height:180px"></div>
                </div>
                <div class="input-field col s12 center">
                  <a id="telfLocalMobile" class="btn white-text" style="border-radius:20px" disabled><i class="material-icons right">phone</i>Llamar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="side-nav grey darken-4 z-depth-3 MenuTex" id="mobile-demo">
        <li class="headerMenu center valign-wrapper">
          <div class="logoIcon">
            <img src="{{ruta_img}}LogoPositivo.svg" class="valign-wrapper" height="40">
          </div>
        </li>    
        {% if usuario.logueado %}
          <li>
            {% if usuario.rol == 2 or usuario.rol == 3 %}
              {% if usuario.id_tienda == tienda.Tie_IdTienda %}                    
                <a  href="{{base_url()}}usuario/tienda">Panel<i class="material-icons left">settings</i></a>
              {% else %}
                <a  href="{{base_url()}}comprador/index/pedidos">Panel<i class="material-icons left">settings</i></a>               
              {% endif %}             
            {% else %}
              <a href="{{base_url()}}comprador/index/pedidos">Panel<i class="material-icons left">settings</i></a>
            {% endif %}
          </li>
        {% else %}
          <li>
            <a href="//pormayor.pe/usuario/login" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Login"><i class="material-icons">person_pin</i> Iniciar Sesión</a>
          </li> 
        {% endif %}
        <li class="containerAvatar valign-wrapper">
          {% if usuario.logueado %}
              {% if usuario.rol == 2 or usuario.rol == 3 %}
                <div class="avatarComprador" style="">
                  <i style="font-size: 50px; color: rgba(255,255,255,0.8)" class="material-icons">account_circle</i>
                </div>
                <div class="avatarContainerComprador flow-text">
                  <span class="avatarText1">{{ usuario.nombre|length > 7 ? usuario.nombre|slice(0, 7) ~ '...' : usuario.nombre  }}</span>
                </div>
                <a style="right: -180px;" class="sesionBtn avatarItem waves-effect right" href="{{base_url()}}usuario/index/cerrar_session"><i class="material-icons">power_settings_new</i></a>
              {% else %}
                  <div class="avatarComprador" style="">
                    <i style="font-size: 50px; color: rgba(255,255,255,0.8)" class="material-icons">account_circle</i>
                  </div>
                  <div class="avatarContainerComprador flow-text">
                    <span class="avatarText1">{{ usuario.nombre|length > 7 ? usuario.nombre|slice(0, 7) ~ '...' : usuario.nombre  }}</span>
                  </div>
                  <a style="right: -180px;" class="sesionBtn avatarItem waves-effect right tooltipped" data-delay="30" data-position="top" data-tooltip="Cerrar Sesion" href="{{base_url()}}usuario/index/cerrar_session"><i class="material-icons">power_settings_new</i></a>
              {% endif %}
          {% endif %}
        </li>
      </ul>
    </header>
      {% block content %} {% endblock %} 

    <footer class="page-footer">
      <div class="footer-copyright center" style="padding: 0px">
        <div class="row sinBordeBottom hide-on-med-and-down" style="margin:0px; width: 100%">
          <div class="col s12 m12 l5">
            Derechos Reservados © 2018 pormayor.pe S.A
          </div>
          <div class="col s1 m12 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}twitter.png" height="30"></a>
          </div>
          <div class="col s1 m12 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}instagram.png" height="30"></a>
          </div>
          <div class="col s1 m12 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}face.png" height="30"></a>
          </div>
          <div class="col s1 m12 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}email.png" height="30"></a>
          </div>                  
          <div class="col s4 m12 l3">
            <a style="width:100%" class=" waves-effect waves-black btn-flat white-text" href="{{base_url()}}">Inicio</a>
          </div>           
        </div>
        <div class="row sinBordeBottom hide-on-large-only" style="margin:0px; width: 100%">
          <div class="col s12 m5 l5 hide-on-small-only">
            Derechos Reservados © 2018 pormayor.pe S.A
          </div>
          <div class="col s3 m1 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}twitter.png" height="30"></a>
          </div>
          <div class="col s3 m1 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}instagram.png" height="30"></a>
          </div>
          <div class="col s3 m1 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}face.png" height="30"></a>
          </div>
          <div class="col s3 m1 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}email.png" height="30"></a>
          </div>                  
          <div class="col s6 m2 l2 footerTienda">
            <a style="width:100%" class=" waves-effect waves-black btn-flat white-text" href="{{base_url()}}">Inicio</a>
          </div>
          <div class="col s6 m1 l2 footerTienda">
            <a  style="width:100%; padding: 0px" class=" inicioBtn waves-effect waves-black btn-flat white-text"  href="#inicio"><i style="font-size: 30px" class="large material-icons">keyboard_arrow_up</i></a>
          </div>
          <div class="col s12 m5 l5 hide-on-med-and-up">
            Derechos Reservados © 2018 pormayor.pe S.A
          </div>              
        </div>
      </div>
    </footer>

{% block modal %} {% endblock %}    

      <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-3.1.1.js')}}"></script>
      <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery.sticky-kit.min.js')}}"></script>
      <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-confirm.min.js')}}"></script> 
      <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/materialize.js')}}"></script>
      <script src="{{base_url('public/')}}js/tienda/jstienda.js" type="text/javascript"></script>
      <script src="{{base_url('public/')}}js/easyzoom.js" type="text/javascript"></script>
      <script> var base_url = "{{base_url()}}";</script>
      <script type="text/javascript">
        //**************
        var widthOriginal = 0;

        $('.backboxIcon').click(function(){
          $('.colMenuButton').show(300);
          $('.colMenuLogo').show(300);
          $('.colMenuPc').show(300);
          $('.colMenuPcII').show(300);
          $('.buscar-pormayor').animate({ 
            "width" : widthOriginal, 
            "height": 45, 
          }, 150, function() {
              $('.backboxIcon').animate({ 
                "top": "-=100"
              }, 150, function() {
              });
          });
        });

        $('.buscar-pormayor').focus(function(){
          widthOriginal = $('.buscar-pormayor').outerWidth();
          $('.colMenuButton').hide(300);
          $('.colMenuLogo').hide(300);
          $('.colMenuPc').hide(300);
          $('.colMenuPcII').hide(300);
          $(this).animate({ 
            "width" : window.innerWidth, 
            "height" : $(".navbar-fixed").height() + "px",
            "left" : 0,
            "top": 0
          }, 350, function() {
            $('.backboxIcon').animate({ 
              "top": 8,
            }, 300, function() {
            });
          });
        });
        
        $('.buscar-pormayor').blur(function(){
          $('.colMenuButton').show(300);
          $('.colMenuLogo').show(300);
          $('.colMenuPc').show(300);
          $('.colMenuPcII').show(300);
          $(this).animate({ 
            "width" : widthOriginal, 
            "height": 45, 
          }, 150, function() {
              $('.backboxIcon').animate({ 
                "top": "-=100"
              }, 150, function() {
              });
          });
        });
        //******************
        $('.checkVarFilter').click(function(){
          var idVariacion = $(this).val();
          $('.containerListProd').slideUp(500, function() {
            $('#listProducto').load(base_url+'tienda/productos/filtro_producto_variacion', {idVariacion: idVariacion});
            $('.containerListProd').slideDown(1000);
          });
        
        });
        $('#cerrarSesionBtn').click(function(){
            $.confirm({
              icon: 'power_settings_new',
              theme: 'modern',
              closeIcon: false,
              animation: 'scale',
              type: 'red',
              title: 'Cerrar Sesión',
              columnClass: 'small',
              content: 'Las ofertas te estaran esperando',
              draggable: false,
              buttons: {
                  Cerrar:    {   
                      btnClass: 'btn',                 
                      action: function (){
                        location.href="{{base_url()}}index/cerrar_sesion"
                      }       
                  },
                  Cancelar: {
                      
                  }
              }
            });
        });

        $('.tiendaInicio').click(function(){
            location.href="{{base_url()}}";
        });

        //GOOGLE MAPS MOBILE
        /*var map;
        var longAcual = -77.0282400;
        var latActual = -12.0431800;    
        var marker;
        var direccion;
        
        function initMap() {
        direccion = {lat: latActual, lng: longAcual};
        map = new google.maps.Map(document.getElementById('mapMobile'), {
            zoom: 15, center: direccion
          }); 
        marker = new google.maps.Marker({position: direccion, map: map});
        }*/

        //GOOGLE MAPS PC
        

      $(document).ready(function(){


        $('.modal').modal({
          startingTop: '1%'
        });

        $('.dropdown-trigger').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: true, // Displays dropdown below the button
          }
        );   
        //Seleccionar direccion local mobile
        $('.opcionDirMobile').change(function(){
            longAcual = $('.opcionDirMobile option:selected').data('long');
            latActual = $('.opcionDirMobile option:selected').data('lat');

            var TelfActual= $('.opcionDirMobile option:selected').val();
            $('#telfLocalMobile').attr("href", "tel:"+TelfActual);
            $('#telfLocalMobile').attr("disabled", false);
            Materialize.updateTextFields();

            direccion = {lat: latActual, lng: longAcual};
            marker.setPosition(direccion);
            map.panTo(direccion);
        });

        $(document).keypress(function(e) {
          if(e.which == 13) {
            var nombre_producto = $('#search').val();
            if (nombre_producto == '') {
            
            } 
            else{
              window.location.href = base_url+'tienda/productos/bp/'+nombre_producto;       
            }           
          }
        });
      }); 
    
      </script>
      
{% block script %} {% endblock %}
   </body>
</html>