<!DOCTYPE html>
<html>
   <head>      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title> {{pagina.titulo}} | pormayor.com</title>
      <link rel="icon" type="image/png"  href="{{ruta_img}}logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/materialize.css')}}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/introjs.css')}}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/templates.css')}}"  media="screen,projection"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /> 
   <style type="text/css">
        body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }
        main {
          flex: 1 0 auto;
          padding-left: 300px;
        }
        header, footer {
              padding-left: 300px;
            }
        @media only screen and (max-width : 992px) {
          header, main, footer {
            padding-left: 0;
          }
        }
        select {
          background-color: rgba(243, 243, 243, 0.9);
          border: 1px solid #a2acb3;
          margin: 5px 0px;
          
        }
       .btn-large, .btn, .btn-floating{
          background-color: {{configuracion.Con_ColorBtn}};
        }
        nav{
          background: {{configuracion.Con_ColorHexa}};
        }
        .page-footer{
          background: {{configuracion.Con_ColorHexa}};
        }
   </style>
      {% block head %} {% endblock %}
   </head>
 <body> 
      <header>
      <div class="navbar-fixed hide-on-large-only">
        <nav class="nav-extended" data-color="{{configuracion.Con_ColorHexa}}">
          <div class="nav-wrapper container"> 
              <a href="{{base_url()}}" class="brand-logo hide-on-med-and-down">{{tienda.Tie_Nombre}}</a>
              <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
        </nav> 
      </div> 
            <ul id="slide-out" class="side-nav fixed grey darken-4 z-depth-3"> 
              <li class="headerMenu center valign-wrapper">
                <div class="logoIcon">
                  <img src="{{ruta_img}}LogoPositivo.svg" class="valign-wrapper" height="40">
                </div>
              </li>
              <li class="itemMenu"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}usuario/index/perfil"><i class="material-icons">account_box</i>Perfil</a></li>
              <li class="itemMenu"><div class="acentBar"></div><a href="{{base_url()}}comprador/index/pedidos" class="waves-effect"><i class="material-icons">playlist_add_check</i>Pedidos</a></li>
              <li class="itemMenu"><div class="acentBar"></div><a href="{{base_url()}}comprador/compra/" class="waves-effect"><i class="material-icons">shopping_cart</i>Mis compras</a></li>
              <li class="itemMenu"><div class="acentBar"></div><a href="{{base_url()}}comprador/index/respuesta_comentario" class="waves-effect"><i class="material-icons">forum</i>Comentarios</a></li>
              <li class="containerAvatar valign-wrapper">
                <div class="avatarComprador" style="top: 2px;">
                  <i style="font-size: 50px; color: rgba(255,255,255,0.8)" class="material-icons">account_circle</i>
                </div>
                <div class="avatarContainerComprador flow-text" style="top: 15px;">
                  <span class="avatarText1">{{usuario.nombre}}</span>
                </div>
                <a style="right: -180px;" class="sesionBtn avatarItem waves-effect right tooltipped" data-delay="30" data-position="top" data-tooltip="Cerrar Sesion" href="{{base_url()}}usuario/index/cerrar_session"><i class="material-icons">power_settings_new</i></a>
              </li>
            </ul>
    </header>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large pulse tooltipped" data-delay="30" data-position="left" data-tooltip="Ir a comprar" href="{{base_url()}}">
        <i class="large material-icons">store_mall_directory</i> 
      </a>
    </div>
    
    {% block content %} {% endblock %} 

    <footer class="page-footer">
      <div class="footer-copyright center" style="padding: 0px">
        <div class="row sinBordeBottom hide-on-med-and-down" style="margin:0px; width: 100%">
          <div class="col s12 m12 l5">
            Derechos Reservados © 2018 pormayor.pe S.A
          </div>
          <div class="col s1 m12 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}twitter.png" height="30"></a>
          </div>
          <div class="col s1 m12 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}instagram.png" height="30"></a>
          </div>
          <div class="col s1 m12 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}face.png" height="30"></a>
          </div>
          <div class="col s1 m12 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}email.png" height="30"></a>
          </div>                  
          <div class="col s4 m12 l3">
            <a style="width:100%" class=" waves-effect waves-black btn-flat white-text" href="{{base_url()}}">Inicio</a>
          </div>           
        </div>
        <div class="row sinBordeBottom hide-on-large-only" style="margin:0px; width: 100%">
          <div class="col s12 m5 l5 hide-on-small-only">
            Derechos Reservados © 2018 pormayor.pe S.A
          </div>
          <div class="col s3 m1 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}twitter.png" height="30"></a>
          </div>
          <div class="col s3 m1 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}instagram.png" height="30"></a>
          </div>
          <div class="col s3 m1 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}face.png" height="30"></a>
          </div>
          <div class="col s3 m1 l1" style="padding:0px">
            <a  style="filter: brightness(1%)" href="{{base_url()}}index"><img src="{{ruta_img}}email.png" height="30"></a>
          </div>                  
          <div class="col s6 m2 l2 footerTienda">
            <a style="width:100%" class=" waves-effect waves-black btn-flat white-text" href="{{base_url()}}">Inicio</a>
          </div>
          <div class="col s6 m1 l2 footerTienda">
            <a  style="width:100%; padding: 0px" class=" inicioBtn waves-effect waves-black btn-flat white-text"  href="#inicio"><i style="font-size: 30px" class="large material-icons">keyboard_arrow_up</i></a>
          </div>
          <div class="col s12 m5 l5 hide-on-med-and-up">
            Derechos Reservados © 2018 pormayor.pe S.A
          </div>              
        </div>
      </div>
    </footer>

{% block modal %} {% endblock %}  
     <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-3.1.1.js')}}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
      <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script> 
      <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery.validate.min.js')}}"></script>           
      <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/materialize.js')}}"></script> 
      <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/intro.js')}}"></script> 
      <script src="{{base_url('public/')}}js/tienda/jstienda.js" type="text/javascript"></script>
       <script> var base_url = "{{base_url()}}";</script>
       <script type="text/javascript">
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
            }
          );
       </script>
    {% block script %} {% endblock %}
   </body>
</html>