  html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif !important;
  }

  body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
    font-size: 1em !important;
    background-color: #d2d2d23b !important;
  }
  .dropdown-content{
    overflow: visible !important;
  }
  main {
    flex: 1 0 auto;
  }
  nav {
    background: #fff159;
    background: -moz-linear-gradient(-45deg, #fff159 0%, #ffe900 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fff159), color-stop(100%, #ffe900));
    background: -webkit-linear-gradient(-45deg, #fff159 0%, #ffe900 100%);
    background: -o-linear-gradient(-45deg, #fff159 0%, #ffe900 100%);
    background: -ms-linear-gradient(-45deg, #fff159 0%, #ffe900 100%);
    background: linear-gradient(135deg, #fff159 0%, #ffe900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff159', endColorstr='#ffe900', GradientType=1 );
  }

  .page-footer{
    background: #fff159;
    background: -moz-linear-gradient(-45deg, #fff159 0%, #ffe900 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fff159), color-stop(100%, #ffe900));
    background: -webkit-linear-gradient(-45deg, #fff159 0%, #ffe900 100%);
    background: -o-linear-gradient(-45deg, #fff159 0%, #ffe900 100%);
    background: -ms-linear-gradient(-45deg, #fff159 0%, #ffe900 100%);
    background: linear-gradient(135deg, #fff159 0%, #ffe900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff159', endColorstr='#ffe900', GradientType=1 );
  }
  .page-footer{
    background-color:white;
  }
  .btn-large, .btn, .btn-floating{
    background: #fff159;
    background: -moz-linear-gradient(-50deg, #fff159 0%, #ffe900 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #fff159), color-stop(100%, #ffe900));
    background: -webkit-linear-gradient(-50deg, #fff159 0%, #ffe900 100%);
    background: -o-linear-gradient(-50deg, #fff159 0%, #ffe900 100%);
    background: -ms-linear-gradient(-50deg, #fff159 0%, #ffe900 100%);
    background: linear-gradient(135deg, #fff159 0%, #ffe900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff159', endColorstr='#ffe900', GradientType=1 );
    color:black;
  }
  /*Buscador*/
  .searchboxIcon{
    position: absolute;
    font-size: 20px;
    color: grey;
    font-weight: 600;
    height: 20px !important;
    padding: 20px 10px;
    border-radius: 2px 0px 0px 2px;
    line-height: 0px !important;
    top: 0.25em;
    opacity: 0.7;
    -webkit-transition: all .50s linear;
       -moz-transition: all .50s linear;
        -ms-transition: all .50s linear;
         -o-transition: all .50s linear;
            transition: all .50s linear;
    user-select: none;
  }
  .backboxIcon{
    position: absolute;
    top: -100px;
    right: 0;
    margin-right: 25px;
    height: 20px !important;
    border-radius: 2px 0px 0px 2px;
    line-height: 0px !important;
    cursor: pointer;
  }

  .backboxIcon i{
    font-size: 20px;
    color: grey;
    font-weight: 600;
    padding: 20px 10px;
    line-height: 0px !important;
    user-select: none;
  }
  .buscar-pormayor {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #cecece;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px 20px 10px 50px;
    color: rgba(0,0,0,0.7) !important;
    -webkit-transition: all .50s ease-in-out;
       -moz-transition: all .50s ease-in-out;
        -ms-transition: all .50s ease-in-out;
         -o-transition: all .50s ease-in-out;
            transition: all .50s ease-in-out;
  }
  .buscar-pormayor::placeholder{
    color: rgba(0,0,0,0.5);
  }
  .seachIconAnim{
    opacity: 1;
  }
  /*BASIC*/
   .FAB{
    position:relative; 
    top:8px;
  }
  .colMenuButton i{
    margin: 0px 20%;
  }
  .colMenuButton .button-collapse{
    margin: 0 auto;
    float: none !important;
  }
  .iconSubNav{
    height: 3rem !important; 
    top: -5px; 
    position:relative
  }
  .nav-content .select-dropdown{
    border-bottom: 2px solid rgba(255,255,255,0.6) !important;
  }
  .nav-content .modal-trigger{
    width: 100%;
  }
  .nav-content button{
    color: white;
  }
  .nav-content button:focus{
    background-color: rgba(0,0,0,0.2) !important;
  }
  #coloresModal, #variacionModal{
    top: 4% !important;
    bottom: 0px;
    height: 100%;
    max-height: 90% !important;
  }
  #coloresModal .col, #variacionModal .col{
    margin-bottom: 15px !important;
  }
  .colorCircle{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50px;
    display: inline-block;
    top: 3px;
    left: 23px;
    position: relative;
  }

  /*Vista Tienda*/
  .puntuacionPro{
    height: 50px;
    user-select: none;
  }
  .imageBack{
    position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  }
  /*Info Tienda*/
  #infoTiendaMobile{
    height: 70%;
    max-height: 70% !important;
  }
  
  .card-size {
  	height: 266px;
  }
  .imgBox {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .top-Text {
      position: absolute;
      top: 0px;
      right: 0px;
  }
  .containImg {
    object-fit: contain;
  }

/*Eliminar spinner de numeros*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
::-webkit-scrollbar { 
    display: none; 
  }