input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/****Info tienda****/
.fileInput{
  height: 200px;
  position: relative;
  bottom: 100px;
  cursor: pointer;
}
.card-title{
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.contTiendaArea{
  margin-bottom: 20px;
}

/*****Locales******/
.nombreLocal{
 color: rgba(0,0,0,0.6);
}
.containerBtn{
  display: inline-flex;
}
.btnDeleteLocal{
  margin: 0px 5px 0px 5px;
}
.dirEnfa{
  padding: 0px 5px !important;
  color: yellow;
}

.warningToast{
  background-color: rgba(255, 193, 7, 0.8);
  color: rgba(0,0,0,0.8)
}
.contentAddLocal{
  width: 98% !important;
  margin: 0 auto !important;
}
#modalLocal h5{
  margin-top: 0px !important;
  padding: 15px;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

/****Colores tienda***/
#containerColors{
  max-height: 90% !important;
  
}
.modalCustom{
  padding: 5px 20px 0px 20px !important;
  background-color: white;
}
.coloresSection .col{
  margin-top: 10px;
}
.coloresSection div{
  border-radius: 5px;
}
.colorPrin{
  height: 70px;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
.colorAcen{
  height: 70px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
.content_preview{
  height: 70px;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}
.cambiarColoresBtn{
  margin: 0 auto;
}
.colorBox{
  height: 100px;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-align: center;
  -webkit-transition: all .50s linear;
     -moz-transition: all .50s linear;
      -ms-transition: all .50s linear;
       -o-transition: all .50s linear;
          transition: all .50s linear;
}
.checkSign{
  color: rgba(255,255,255,0.0);
  font-size: 40px;
  font-weight: 600;
  top: 22%;
  position: relative;
  -webkit-transition: all .50s linear;
     -moz-transition: all .50s linear;
      -ms-transition: all .50s linear;
       -o-transition: all .50s linear;
          transition: all .50s linear;
}
#containerColors .col{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
#containerColors h5{
  color: rgba(255,255,255,0.7);
}
    

/* Smartphones Media querys*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .colorBox{
  height: 70px;
  width: 100%;
  }
  #footerBtn{
    top: -60px;
    right: 25px;
    }
  .avatarContainer{
  line-height: 17px;
  } 
  .avatarContainerComprador{
  line-height: 40px;
  }   
}