/*Eliminar spinner en input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/***** Side bar*****/
.logoIcon{
  display: inline-block;
  margin: 0 auto ;
}
li a{
  color: rgba(255,255,255,0.5);
  -webkit-transition: all .50s linear;
     -moz-transition: all .50s linear;
      -ms-transition: all .50s linear;
       -o-transition: all .50s linear;
          transition: all .50s linear;
}
 span{
    user-select: none;
  }
.itemMenu:hover{
  background-color: rgba(0,0,0,0.2) !important;
}
.itemMenu a:hover{
  color: rgba(255,255,255,0.9) !important;
}

.acentBar{
  width: 8px;
  height: 48px;
  background-color: rgba(0,0,0,0.0);
  position: absolute;
  -webkit-transition: all .50s linear;
     -moz-transition: all .50s linear;
      -ms-transition: all .50s linear;
       -o-transition: all .50s linear;
          transition: all .50s linear;
}
.headerMenu{
  height: 64px !important;
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.avatarItem{
  display: inline-block !important;
}
.containerAvatar{
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 9px;
  list-style-type: none;
  padding-bottom:5.5em;
  padding-top: 40px;
  background-color: rgba(0,0,0,0.5)
}
.avatar{
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  bottom: 5px;
  position: relative;
}
.avatar a{
  padding: 0px !important;
}
.avatarComprador{
  width: 50px;
  height: 50px;
  margin: 2px 10px 10px 10px;
  border-radius: 50px;
  bottom: 5px;
  position: relative;
}
.avatar img{
  border-radius: 5px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatarContainer, .avatarContainerComprador{
  margin-top: 6px;
  position: absolute;
  top: 1px;
  height: 40px;
  line-height: 14px;
  width: 150px;
  left: 65px;
}
.avatarText1{
  position: relative;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  left: 5px;
}
.avatarText2{
  left: 0px;
  top: 12px;
  color: rgba(255,255,255,0.2);
  font-size: 12px;
}
.sesionBtn{
  bottom: 5px;
  padding: 0px !important;
  right: -100px;
  -webkit-transition: all 0.50s linear;
     -moz-transition: all 0.50s linear;
      -ms-transition: all 0.50s linear;
       -o-transition: all 0.50s linear;
          transition: all 0.50s linear;
}
.sesionBtn i{
  margin: 0px !important;
  font-size: 35px;
  width: 100% !important;
}
.sesionBtn:hover{
  color: #d32f2f !important;
  background-color: transparent !important;
}


/******INVENTARIO******/

.btnDelete, .btnEdit, .btnDeleteGen{
  margin: 0px 5px 0px 5px;
}
#tablaProductos tr{
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
  -webkit-transition: all .50s linear;
     -moz-transition: all .50s linear;
      -ms-transition: all .50s linear;
       -o-transition: all .50s linear;
          transition: all .50s linear;
}
#tablaProductos tr:hover{
  background-color: rgba(0,0,0,0.03);
}
#tablaProductos td{
  border-radius: 0px !important;;
}
#tablaProductos th{
  border-radius: 0px !important;
  color: white;
}
.containerGen{
  padding: 10px !important;
}
.cantProd span{
  color: rgba(0,0,0,0.8);
  font-size: 16px;
}
.cantProd small{
  font-size: 12px;
  color: rgba(0,0,0,0.6);
}
.nomProducto{
  color: rgba(0,0,0,0.8);
}
.varProducto{
  color: rgba(0,0,0,0.6);
  font-size: 14px;
}
.colorProducto{
  color: rgba(0,0,0,0.4);
  font-size: 12px;
}
.inputFieldCustom{
  margin-bottom: 20px !important;
}
.modalCustomPro{
  padding: 0px !important;
  background-color: white;
}
.modalCustomPro .headerModal{
  text-align: center;
  margin-top: 0px !important;
  padding: 25px;
  color: white;
  margin-bottom: 0px !important;
  border-radius: 5px 5px 0px 0px !important;
}
.modalCustomPro form{
  padding: 0px 10px;
}
.catacStep img{
  height: 100px;
}

/*BASIC*/
.redondeo{
  border-radius: 5px !important;
}
.sinBordeBottom{
  margin-bottom: 0px !important;
}
.sinBordeTop{
  margin-top: 0px !important;
}
.centrarForzado{
  margin: 0 auto !important;
}
.irTiendaBtn{
  position: relative;
  top: 9.5px;
}
.enfasisA{
  color:rgba(0,0,0,0.8);
}
.enfasisB{
  color:rgba(0,0,0,0.6);
}
.enfasisC{
  color:rgba(0,0,0,0.4);
}
.sinPadding{
  padding: 0px !important;
}
.cardContentFix{
  margin: 0 auto !important;
  padding-top: 10px;
  width: 95%;
}
.invalid{
  color:red;
}

.warningToast{
  background-color: rgba(255, 193, 7, 0.8);
  color: rgba(0,0,0,0.8)
}
.successToast{
  background-color: rgba(52, 197, 88, 0.8);
  color: #134016;
}
.modal{
  border-radius: 8px 8px 0px 0px !important;
  /*overflow-y: hidden !important;*/
}

.ck-editor{
  margin-bottom: 20px !important;
}
.select2-selection{
  border-radius: 5px 5px 0px 0px !important;
}
.select2-search__field::placeholder{
  text-align: center;
  margin: 0 auto;
  color: rgba(0,0,0,0.2);
  font-size: 2em;
}
.modal-close-custom{
  padding: 0px !important;
  position: relative;
  position: relative;
  left: -25px;
  top: 20px;
  cursor: pointer;
  margin: 0px!important;
  color: rgba(255,255,255,0.5);
  -webkit-transition: all 0.5s ease-in;
     -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
       -o-transition: all 0.5s ease-in;
          transition: all 0.5s ease-in;
}
.modal-close-custom:hover{
  color: rgba(255,255,255,0.8);
}
.modal-close-custom i{
  font-weight: 600;
  font-size: 30px;
}
select{
  background-color: rgba(255,255,255,0.0) !important;
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.ck-toolbar, .ck-toolbar button{
  background-color: #212121 !important;
  color: white !important;
}
.ck-content:focus{
  border: 1px solid rgba(0,0,0,0.4) !important;
}
button:focus{
  background-color: #212121 !important;
}
.dirEnfa{
  padding: 0px 5px !important;
  color: yellow;
}
.step-actions{
  padding: 0px!important;
}

/* Smartphones Media querys*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .stepCant{
    margin-left: 10px !important;
  }
  .stepCant .step-actions{
    margin-left: 20px !important;
  }
}
.preLoadImg{
  height: 70px;
  margin-bottom: 5px;
}

.imgProductoDetalle, #infoTiendaMobile img{
  border-radius: 5px;
  -webkit-box-shadow: -4px 13px 23px -4px rgba(0,0,0,0.35);
  -moz-box-shadow: -4px 13px 23px -4px rgba(0,0,0,0.35);
  box-shadow: -4px 13px 23px -4px rgba(0,0,0,0.35);
  margin-bottom: 15px;
}

/*Tabla*/
.colorVariacion{
  color: rgba(0,0,0,0.5);
}
.cantTabla,.opcionTabla {
  width: 20%;
}
.tablaPro thead{
  color: white; 
  font-size: 14px;
}
.tablaPro thead td{
  border-radius: 0px !important;
}
.nombrePro{
  font-weight: 600;
}
.linkTag a, .undCartTipo, .varCartTipo{
  color: rgba(0,0,0,0.5) !important;
}
.lastTag a{
  color: rgba(0,0,0,0.7) !important;
}

/*Editar producto*/
.cardImageEdit, .cardImageEdit .preloadImgVar, .cardImageEdit .material-placeholder {
  height:200px;
}
.cardImageEdit span{
  text-shadow: 2px 2px 5px rgba(3,10,15,0.7);
}

.cardImageEdit img{
  object-fit: cover;
}
.radioContainer{
  position: relative;
  top: 8px;
}
#cantidadSKU{
  color:rgba(0,0,0,0.8);
  -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.2);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
   box-shadow:         inset 0 0 10px rgba(0,0,0,0.2);
  -webkit-transition: all .50s linear;
     -moz-transition: all .50s linear;
      -ms-transition: all .50s linear;
       -o-transition: all .50s linear;
          transition: all .50s linear;
}
#cantidadSKU
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#cantidadSKU:before, #cantidadSKU:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#cantidadSKU:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.fileInput{
  height: 200px;
  position: relative;
  bottom: 100px;
  cursor: pointer;
}
.fileInputProduct{
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}

/**************COMENTARIO****************/
.cardCustomComment .card-image{
  margin-left: 10px;
}
.sideBorder{
  width: 10px;
  border-radius: 2px 0px 0px 2px;
}
.comentCorreo{
  font-weight: 600;
  color: rgba(0,0,0,0.8);
  margin-bottom: 10px;
}
.comentNombre{
  color: rgba(0,0,0,0.5);
}
.card-stacked div:first-of-type{
  margin-bottom: 10px;
}
.card-stacked article:first-of-type{
  margin-bottom: 10px;
}
.card-stacked article:last-of-type{
  padding-left: 30px;
}
.commentRespuesta{
  color: rgba(0,0,0,0.6);
}
.cardCustomComment img{
  max-width: 90% !important;
  border-radius: 5px !important;
  margin: 0 auto;
}

/******INFO TIENDA********/

.collapsibleInfo .collapsible-body{
  margin-top: 25px;
}

/*******************PRODUCTO DETALLE*****************/
.tituloVarPedido2{
  font-size: 18px !important;
}
.agregarContainerVarCat2{
  position: relative;
  height: 50px;
}
.agregarContainerVarCat2 a{
  position: absolute;
  bottom: 0;
  right: 0;
}
.imgVarCat2{
  border-radius: 5px;
}
.ImageWrapper{
  display: block;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  margin: 0 auto;
}
.fileWrapper{
  transform: scale(0.7,0.7);
  right: -2px !important;
}

/*************CARRO DE COMPRAS*************/
.carroContent{
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

/*OVERVIEW PRODUCTS*/
.indicators{
  position: relative!important;
  top: -30px;
  z-index: 100 !important;
}

.indicators .indicator-item.active {
  background-color: #0D0D0D !important;
}

.indicators .indicator-item{
  height: 12px !important;
  width: 12px !important;
}

/*PEDIDO*/
.cardPedido .card-content{
  padding: 0px !important;
}
.cardPedido .card-title{
  padding: 10px;
  color: white;
}
.cardPedido .contentsPedido{
  width: 90%;
  margin: 0 auto;
}
.badgePedido{
  position: absolute;
  right: 10px;
  top: 10px;
}
.imgPedido{
  margin: 0 auto;
}
.importePed{
  margin-top: 10px;
  padding: 5px;
  color: white;
  background-color: #202020;
  font-size: 12px;
}

/*PEDIDOS COMPRADOR*/
.pedidosComprador .collapsible-header{
  padding: 0px !important;
}

.pedidosComprador .cardCustomGestion{
  margin:0px !important; 
  height: 54px; 
  padding:0px !important; 
}

.pedidosComprador .leftPedidoCont{
  border-radius: 2px 0px 0px 2px;
  text-align: right;
}

.pedidosComprador .leftPedidoCont span{
  background-color: transparent !important;
  position: relative;
  top: -10px;
  font-size: 20px;
  right: 19px !important;
}

.pedidosComprador .leftPedidoCont span i{
 margin: 0px !important;
}
.pedidosComprador .leftPedidoCont small{
  font-size: 10px !important;
  position: relative;
  left: 22px;
  padding: 0px !important;
}

/*****VENDEDOR******/
.tablaVendedores small{
  font-size: 11px;
}

/*****FACTURACION****/
.planImg{
  height: 350px;
}
.planImgFooter{
  bottom: 3px;
  left: 23px;
  width: 80%;
  position: absolute;
}

/*******QUERYS*****/
/*PC*/
@media (min-width: 1281px) {
  .searchboxIcon{
    top: 0.45em;
  }
  .logoPositivo{
    height: 56px;
  }
  .logoPositivo img{
    height: 35px;
    position:relative; 
    top: 12px;
  }
  .collapsibleInfo .card{
    width: 400px;
    margin: 0 auto;
  }
}

/*LAPTOPS - PC*/
@media (min-width: 1024px) and (max-width: 1280px) {
  .searchboxIcon{
    top: 0.45em;
  }
  .logoPositivo{
    height: 56px;
  }
  .logoPositivo img{
    height: 35px;
    position:relative; 
    top: 12px;
  }
  .collapsibleInfo .card{
    width: 400px;
    margin: 0 auto;
  }


} 
/*TABLETS*/
@media (min-width: 768px) and (max-width: 1023px) {
  .navRowMobile{
    margin-left: 0px;
  }
  .containImg{
    height: 180px !important;
  }
  .rowProTablet{
    padding-top: 50px;
  }
  .logoPositivo img{
    height: 35px;
    position:relative; 
    top: 12px
  }
  
}
/*2*/
@media (min-width: 600px) and (max-width: 1023px) {
  .searchboxIcon{
    top: 0.4em;
  }
}
/*SMARTHPHONES*/
@media (min-width: 320px) and (max-width: 480px) {
  .navRowMobile{
    margin-left: 0px;
  }
  .containImg{
    height: 150px !important;
  }
  .colProSmarth {
    padding: 0 0.25rem !important;
  }
  .rowProTablet{
    padding-top: 50px;
  }
  .badgePedido{
    right: 5px;
    -webkit-transform: scale(0.8,0.8);
       -moz-transform: scale(0.8,0.8);
        -ms-transform: scale(0.8,0.8);
         -o-transform: scale(0.8,0.8);
            transform: scale(0.8,0.8);
  }
  .btnDelete,  .btnEdit, .btnDeleteGen{
  margin: 10px 0px 0px 0px;
  }
  .cotiDescarga{
    margin-top: 15px;
  }
  .logoPositivo{
    height: 56px;
  }
  .logoPositivo img{
    height: 30px;
    position:relative; 
    top: 8px
  }
  .footerTienda{
    margin: 5px 0px;
  }
  .wrapperColorPreview{
    margin: 10px 0px;
  }
  .catacStep img{
    height: 60px;
  }
}
@media only screen and (max-width: 320px) {
  .iconButtonQuery{
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .imgPeq {
    height: 150px !important;
  }
}
@media only screen and (max-width: 500px) {
  .imgPeq2 {
    width: 90% !important;
    height: 80% !important;
  }
  .card-size {
    height: 200px !important; 
  }
}
@media only screen and (max-width: 450px) {
    .imgPeq2 {
    width: 70% !important;
    height: 60% !important;
  }
}

